<h1 mat-dialog-title>Delete account</h1>

<div mat-dialog-content>
    <p>{{ data.name }}</p>
    <p>To immediately and permanently delete your account, type "delete"</p>
    <p>You may re-join at any time creating a new profile using credentials held by 3rd our party authentication
        provider - Auth0. Your old profile however, is not recoverable.
    </p>
    <mat-form-field appearance="fill">
        <mat-label>Type "delete"</mat-label>
        <input matInput [(ngModel)]="data.response" />
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-stroked-button (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        Delete account
    </button>
    <button mat-stroked-button (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Cancel
    </button>
</div>