.selected {
  /* hacky override */
  background-color: #e7e7e7;
}

/* "passive" link input Angular https://stackoverflow.com/questions/35639174/passive-link-in-angular-2-a-href-equivalent*/

.spinner {
  vertical-align: middle;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.textXSmall {
  font-size: 0.7em;
}

.textSmall {
  font-size: 0.8em;
}

.textMedium {
  font-size: 0.9em;
}

.textLarge {
  font-size: 1em;
}

.draft {
  font-weight: bold;
  color: #3700b3;
}

button img {
  width: 28px;
  margin-right: 10px;
}

.hr {
  border: solid 1px lightgray;
  margin: 0;
}

.hrTitle {
  margin-bottom: 10px;
}

.moreorless a:hover {
  cursor: pointer;
}

::ng-deep .highlight {
  background-color: yellow;
}
