.point {
  margin-top: 30px;
  border-bottom: solid 3px #bbb;
}

.pointSource {
  margin-bottom: 10px;
}

.pointSource.ltmd {
  margin: 0 10px 10px 10px;
}

.pointSource a {
  text-decoration: none;
}

.selected {
  /* hacky override */
  background-color: #e7e7e7;
}

/* "passive" link input Angular https://stackoverflow.com/questions/35639174/passive-link-in-angular-2-a-href-equivalent*/

.spinner {
  vertical-align: middle;
}

.linkFromMeta {
  border: solid 1px black;
  border-radius: 12px;
  overflow: hidden;
  color: black;
  background-color: #f0f4ff;
}

.linkFromMeta:hover,
.preview {
  color: #3700b3;
}

.linkFromMeta img {
  min-height: 120px;
  width: 100%;
}

.linkTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 16px;
}

.linkMetaData {
  max-height: 150px;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textXSmall {
  font-size: small;
}

.textSmall {
  font-size: medium;
}

.textMedium {
  font-size: large;
}

.textLarge {
  font-size: x-large;
}

.draft {
  font-weight: bold;
  color: #3700b3;
}

button img {
  width: 28px;
  margin-right: 10px;
}

.hr {
  border: solid 1px lightgray;
  margin: 0;
}

.hrTitle {
  margin-bottom: 10px;
}
