<div class="mt-3">
    <strong>Discussions, views and actions</strong>
</div>

<div fxLayout="row" class="stages">

    <div fxFlex="33" fxLayout="column">

        <div fxFlex="25" class="HeadInactive">
            Queue
        </div>

        <div fxFlex="25" (click)="setIssueStatus(IssueStatuses.Prioritisation)" class="stage" [ngClass]="{
            'IssuesActive' : issueStatusID===IssueStatuses.Prioritisation,
            'Issues':issueStatusID!==IssueStatuses.Prioritisation}">
            Next discussion choices: {{ Group.issuesInPrioritisation }}
        </div>

        <div fxFlex="25" (click)="setIssueStatus(IssueStatuses.PrioritisationYetToStart)" class="stage" [ngClass]="{
            'IssuesActive' : issueStatusID===IssueStatuses.PrioritisationYetToStart,
            'Issues':issueStatusID!==IssueStatuses.PrioritisationYetToStart}">
            Future discussions: {{Group.issuesNotInPrioritisation}}
        </div>

        <div fxFlex="25" class="stage Issues" (click)="newIssue()" [ngClass]="{
            'IssuesActive' : NewIssue,
            'Issues':!NewIssue}">
            Submit new discussion
        </div>

    </div>


    <div fxFlex="33" fxLayout="column">

        <div fxFlex="25" class="HeadInactive">
            Current
        </div>

        <div fxFlex="25" (click)="setIssueStatus(IssueStatuses.Discussion)" class="stage" [ngClass]="{
            'IssuesActive' : issueStatusID===IssueStatuses.Discussion,
            'Issues': issueStatusID!==IssueStatuses.Discussion}">
            Discussion Q&A: {{ Group.issuesInDiscussion }}
        </div>

        <div fxFlex="25" (click)="setIssueStatus(IssueStatuses.ProposalVoting)" class="stage" [ngClass]="{
            'IssuesActive' : issueStatusID===IssueStatuses.ProposalVoting,
            'Issues': issueStatusID!==IssueStatuses.ProposalVoting}">
            Discussion review: {{ Group.issuesInProposalVoting }}
        </div>

        <div fxFlex="25" (click)="setProposalStatus(ProposalStatuses.VotingInProgress)" class="stage" [ngClass]="{
            'ProposalsActive' : proposalStatusID===ProposalStatuses.VotingInProgress,
            'Proposals' : proposalStatusID!==ProposalStatuses.VotingInProgress}">
            Views and actions vote: {{ Group.proposalsVotingInProgress }}
        </div>

    </div>

    <div fxFlex="34" fxLayout="column">

        <div fxFlex="25" class="HeadInactive">
            Results
        </div>

        <div fxFlex="25" (click)="setIssueStatus(IssueStatuses.Closed)" class="stage" [ngClass]="{
            'IssuesActive' : issueStatusID===IssueStatuses.Closed,
            'Issues':issueStatusID!==IssueStatuses.Closed}">
            Discussions completed: {{ Group.issuesClosed }}
        </div>

        <div fxFlex="25" (click)="setProposalStatus(ProposalStatuses.ProposalNotAccepted)" class="stage" [ngClass]="{
            'ProposalsActive' : proposalStatusID===ProposalStatuses.ProposalNotAccepted,
            'Proposals' : proposalStatusID!==ProposalStatuses.ProposalNotAccepted}">
            Views and Actions Rejected: {{ Group.proposalsRejected }}
        </div>

        <div fxFlex="25" (click)="setProposalStatus(ProposalStatuses.ProposalAccepted)" class="stage" [ngClass]="{
            'ProposalsActive' : proposalStatusID===ProposalStatuses.ProposalAccepted,
            'Proposals' : proposalStatusID!==ProposalStatuses.ProposalAccepted}">
            Views and Actions Accepted: {{ Group.proposalsAccepted }}
        </div>

    </div>

</div>