<div class="flexRow align-center mt-4">
  <input
    class="form-control"
    placeholder="search for organisation"
    [(ngModel)]="organisationFilter"
    #trvOrgSearch
  />

  <select [(ngModel)]="organisationTypeID">
    <option
      *ngFor="let organisationType of organisationTypes"
      [value]="organisationType.value"
    >
      {{ organisationType.key }}
    </option>
  </select>

  <button mat-stroked-button (click)="Refresh()">
    <mat-icon>search</mat-icon>
    search
  </button>
  <button mat-stroked-button (click)="ClearFilter()">
    <mat-icon>cancel</mat-icon>
    clear
  </button>
</div>

<div class="flexRow align-center mt-4">
  <h1 *ngIf="organisations && organisations.length > 0">
    Select an organisation
  </h1>

  <div *ngIf="waiting">
    <span class="spinner-grow text-primary ms-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>
</div>

<div *ngFor="let organisation of organisations" class="groupDiv">
  <!-- router link to organisation -->
  <div class="pagePreview ltmd">
    <a [routerLink]="['/organisations', organisation.slug]">
      <app-website-preview
        [ShowPreview]="true"
        [LinkAddress]="'#'"
        [Title]="
          organisation.organisationName +
          (organisation.active ? '' : ' (Inactive)')
        "
        [Description]="organisation.description"
        [DescriptionLineClamp]="3"
        [Image]="organisation.image"
      >
      </app-website-preview>
    </a>
  </div>
</div>

<div *ngIf="message" class="alert alert-warning">
  {{ message }}
</div>

<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
