<div fxLayoutAlign="center center" fxLayoutGap="20px" class="mb-4">

  <mat-form-field>
    <input matInput placeholder="group search" [(ngModel)]="organisationFilter" (keyup.enter)="Refresh()">
    <button mat-button *ngIf="organisationFilter" matSuffix mat-icon-button aria-label="clear"
      (click)="organisationFilter='';Refresh()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-stroked-button matTooltip="refresh group membership list" (click)="Refresh()">
    <span>search</span>
    <mat-icon>search</mat-icon>
  </button>

</div>

<h1>Select an organisation</h1>

<div *ngFor="let organisation of organisations" class="groupDiv">
  <a [routerLink]="['/organisations', appData.kebabUri(organisation.organisationName)]">{{ organisation.organisationName }}</a>
</div>

<div *ngIf="waiting" fxLayoutAlign="center">
  <span class="spinner-grow text-primary ml-3" role="status">
    <span class="sr-only">Loading...</span>
  </span>
</div>

<div *ngIf="message" class="alert alert-warning">
  {{ message }}
</div>

<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>