<div class="content">

    <h1>{{ constituencyDetails.constituency }}</h1>

    <div *ngIf="error" class="alert alert-danger">
        {{ error }}
    </div>

    <div>
        <a [href]="mpUrl" target="_blank">
            <img [src]="mpImageUrl" alt="">
        </a>
    </div>
    <div>
        They Work For You: <a [href]="mpUrl" target="_blank">{{ mp }}</a>
    </div>
    <div>
        Constituency Map <a [href]="constituencyUrl" target="_blank">{{ constituencyDetails.constituency }}</a>
    </div>
    <div>
        Write to <a [href]="writeToThem" target="_blank">{{ mp }} MP</a>
    </div>
    <div *ngIf="!!mpWebsite">
        Website <a [href]="mpWebsite" target="_blank">{{ mpWebsite }}</a>
    </div>

    <div hidden>
        <div>constituencyUrl: {{ constituencyUrl }}</div>
        <div>mp: {{ mp }}</div>
        <div>mpImageUrl: {{ mpImageUrl }}</div>
        <div>mpUrl: {{ mpUrl }}</div>
        <div>writeToThem: {{ writeToThem }}</div>
        <div>postcode: {{ postcode }}</div>
    </div>

</div>