.stages {
    width: 100%;
}

.stage {
    padding: 3px;
    font-size: small;
    text-align: center;
}

.bold {
    font-weight: bold;
}


.question,
.questionInactive {
    background-color: #FFFCF2;
}

.question:hover {
    background-color: #FFF4D0;
    cursor: pointer;
}

.questionActive {
    background-color: #FFF4D0;
    border: solid 2px #FFD85D;
    font-weight: bold;
}

.perspective {
    background-color: #F2F5FF;
}

.perspective:hover {
    background-color: #D0DBFF;
    cursor: pointer;
}

.perspectiveActive {
    background-color: #D0DBFF;
    border: solid 1px #5D84FF;
    font-weight: bold;
}

.proposal {
    background-color: #F2FFF5;
}

.proposal:hover {
    background-color: #D0FFDC;
    cursor: pointer;
}

.proposalActive {
    background-color: #D0FFDC;
    border: solid 2px #5DFF87;
    font-weight: bold;
}


#cbxPublish {
    margin-top: .9rem !important;
}

hr {
    height: 2px;
    background-color: #32007C;
    margin: 10px 0px 12px;
}

.hideDetails {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.showDetails {
    max-height: 100vh;
    overflow: hidden;
    opacity: 1;
}

.showDetails,
.hideDetails {
    transition: max-height .3s ease-out,
        opacity .3s ease-out;
}


.notUsed {
    background-color: #FFF2FC;
}

.notUsed:hover {
    background-color: #FFD0F3;
    cursor: pointer;
}

.notUsedActive {
    background-color: #FFD0F3;
    border: solid 1px #FF5DD5;
}