<div id="free-vote">
  <!--for css overrides-->

  <button class="btn btn-primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</button>

  <div class="btn-group" dropdown>
    <button dropdownToggle class="btn btn-primary dropdown-toggle" [ngClass]="{ active: isActive('tags') }">tags</button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/trending" class="dropdown-item" routerLinkActive="active">trending</a>
      </li>
      <li role="menuitem" *ngIf="coreDataService.SignedIn()">
        <a routerLink="/my/following-tags" class="dropdown-item" routerLinkActive="active">following</a>
      </li>
      <li role="menuitem">
        <a *ngIf="selectedTag !=''" [routerLink]="selectedTag" class="dropdown-item" routerLinkActive="active">{{ selectedTag}}</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" dropdown>
    <button dropdownToggle class="btn btn-primary dropdown-toggle" [ngClass]="{ active: isActive('posts') }">points</button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" *ngIf="coreDataService.SignedIn()">
        <a routerLink="/my/favourite-points" class="dropdown-item" routerLinkActive="active">favourite points</a>
      </li>
      <li role="menuitem" *ngIf="coreDataService.SignedIn()">
        <a routerLink="/my/points" class="dropdown-item" routerLinkActive="active">my points</a>
      </li>

      <li role="menuitem">
        <a routerLink="/point-of-the-week" class="dropdown-item" routerLinkActive="active">point of the week</a>
      </li>
      <li role="menuitem" *ngIf="coreDataService.SignedIn()">
        <a routerLink="/my/point-of-the-week-vote" class="dropdown-item" routerLinkActive="active">point-o-t-w vote</a>
      </li>
      <li role="menuitem" *ngIf="coreDataService.SignedIn()">
        <a routerLink="/my/new-point" class="dropdown-item" routerLinkActive="active">new point</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" dropdown *ngIf="coreDataService.SignedIn()">
    <button dropdownToggle class="btn btn-primary dropdown-toggle" [ngClass]="{ active: isActive('Personal') }">Personal</button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/personal/details" class="dropdown-item" routerLinkActive="active">personal details</a>
      </li>
      <li role="menuitem">
        <a routerLink="/personal/location" class="dropdown-item" routerLinkActive="active">location</a>
      </li>
      <li role="menuitem">
        <a routerLink="/personal/group-membership" class="dropdown-item" routerLinkActive="active">group membership</a>
      </li>
    </ul>
  </div>

  <button routerLink="/join" class="btn btn-primary" routerLinkActive="active" *ngIf="!coreDataService.SignedIn()">Join</button>

  <button routerLink="/sign-in" class="btn btn-primary" routerLinkActive="active" *ngIf="!coreDataService.SignedIn()">Sign In</button>

  <button routerLink="/sign-out" class="btn btn-primary" routerLinkActive="active" *ngIf="coreDataService.SignedIn()">Sign out</button>
  
</div>

