<div class="flexRow mt-2 mb-2">
  <button mat-button [routerLink]="linkBackToAllPoints">
    <mat-icon>list</mat-icon>
    view all
  </button>

  <div
    class="fb-share-button mx-2"
    [attr.data-href]="linkToSharedPoint"
    data-layout="button"
    data-size="large"
  >
    <a target="_blank" [attr.href]="facebookShare" class="fb-xfbml-parse-ignore"
      >Share</a
    >
  </div>

  <a
    [href]="twitterShare"
    data-size="large"
    class="twitter-hashtag-button"
    data-show-count="false"
    >Tweet</a
  >

  <button mat-button (click)="ShareByEmail()">
    <mat-icon>email</mat-icon>
    email
  </button>

  <button
    mat-button
    [cdkCopyToClipboard]="linkToSharedPoint"
    (click)="message('Link copied to clipboard')"
  >
    <mat-icon>playlist_add</mat-icon>
    copy link
  </button>
</div>
