<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="!error">
    <p>Auth0 Callback Component: Getting FreeVote Profile</p>
    <span class="spinner-grow text-primary ms-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>

  <!-- If callback complete, show error -->
  <div *ngIf="!!error" class="alert alert-danger mx-3">
    <p>Error: {{ error }}</p>
    <p>loggedInToAuth0: {{ auth0Service.isAuthenticated$ | async }}</p>
    <div>
      <button mat-stroked-button (click)="signOut()" class="mt-5">
        <mat-icon matTooltip="home">home</mat-icon>
        home
      </button>
    </div>
  </div>
</div>
