<div fxFill fxLayout="column" fxLayoutAlign="center center">

  <div *ngIf="handlingCallback">
    <p>Auth0 Callback Component: Getting FreeVote Profile</p>
    <span class="spinner-grow text-primary ml-3" role="status">
      <span class="sr-only">Loading...</span>
    </span>
  </div>

  <div class="text-danger mx-3" *ngIf="!handlingCallback">
    <p>Error: {{ error }}</p>
    <p>loggingInToAuth0: {{ localData.LoggingInToAuth0 }}</p>
    <p>loggedInToAuth0: {{ localData.LoggedInToAuth0 }}</p>
    <p>handlingCallback: {{ handlingCallback }}</p>
  </div>

  <button mat-stroked-button (click)="signOut()" *ngIf="!handlingCallback" class="mt-5">
    <mat-icon matTooltip="home">home</mat-icon>
    home
  </button>

</div>