<div fxFill fxLayout="column">
  <div class="tabContainer mt-3">
    <div class="tabContent scroller">
      <div class="content mb-5">
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 mb-4">
          <button mat-button [routerLink]="linkToAll">
            <mat-icon>list</mat-icon>
            view all
          </button>

          <div
            class="fb-share-button mx-2"
            [attr.data-href]="linkShare"
            data-layout="button"
            data-size="large"
          >
            <a
              target="_blank"
              [attr.href]="facebookShare"
              class="fb-xfbml-parse-ignore"
              >Share</a
            >
          </div>

          <a
            [href]="twitterShare"
            data-size="large"
            class="twitter-hashtag-button"
            data-show-count="false"
            >Tweet</a
          >

          <button mat-button (click)="ShareByEmail()">
            <mat-icon>email</mat-icon>
            email
          </button>

          <button
            mat-button
            [cdkCopyToClipboard]="linkShare"
            (click)="message('Link copied to clipboard')"
          >
            <mat-icon>playlist_add</mat-icon>
            copy link
          </button>

          <span
            class="spinner-grow text-primary"
            role="status"
            *ngIf="alreadyFetchingPointFromDB"
          >
            <span class="visually-hidden">Loading...</span>
          </span>
        </div>

        <div *ngIf="!!error" class="alert alert-danger">
          {{ error }}
        </div>

        <div>
          <app-point
            [point]="parentPoint"
            [sharing]="true"
            (NewComment)="NewComment()"
          ></app-point>
        </div>

        <div>
          <div *ngFor="let point of points">
            <app-point [point]="point" [isComment]="true"> </app-point>
          </div>
        </div>

        <div *ngIf="newComment">
          <app-point-edit
            [parentPointID]="parentPoint.pointID"
            [isComment]="true"
            (CancelEdit)="CancelComment()"
            (CompleteEdit)="NewCommentCreated()"
            [constituencyID]="constituencyID"
            (ReselectPoints)="ReselectForNewComment()"
            #newPoint
          ></app-point-edit>
        </div>
      </div>
    </div>
  </div>
</div>
