<div class="tabContainer mt-3">
  <div class="tabContent scroller" #scrollContainer>
    <div class="content mb-5">
      <div class="flexRow">
        <app-social-share #socialShare></app-social-share>

        <span
          class="spinner-grow text-primary"
          role="status"
          *ngIf="gettingAncestors || gettingMainPoint || gettingChildren"
        >
          <span class="visually-hidden">Loading...</span>
        </span>
      </div>

      <div *ngIf="!!error" class="alert alert-danger">
        {{ error }}
      </div>

      <!-- Ancestors -->
      <ng-container *ngFor="let ancestor of ancestors">
        <app-point
          [point]="ancestor"
          [isComment]="true"
          [ancestor]="true"
          (SelectComment)="SelectMainPointByID($event)"
        >
        </app-point>
      </ng-container>

      <!-- Parent -->
      <div class="parent mt-3" [ngClass]="{ 'aml-2': ancestors.length > 0 }">
        <app-point
          #trvParentPoint
          [point]="parentPoint"
          [isParentPoint]="true"
          [isComment]="ancestors.length > 0"
          [sharing]="true"
          [creatingNewComment]="newComment"
          (NewComment)="NewComment()"
          (CancelNewComment)="CancelComment()"
          (AltSlashTagSelected)="setSlashTag($event)"
        ></app-point>
      </div>

      <!-- Children -->
      <app-points-list
        #appPointsList
        [ParentPointID]="ParentPointID"
        (AlreadyFetchingPointsFromDB)="(gettingChildren)"
        (SelectComment)="SelectMainPointByID($event)"
      >
      </app-points-list>

      <div *ngIf="!newComment" class="flexRow justify-end commands">
        <button mat-stroked-button (click)="scrollToTop()">top</button>
        <button mat-stroked-button (click)="NewComment()">new comment</button>
      </div>

      <div id="newPoint">
        <app-point-edit
          #newPoint
          [hidden]="!newComment"
          [parentPointID]="parentPoint.pointID"
          [isComment]="true"
          (CancelEdit)="CancelComment()"
          (CompleteEdit)="NewCommentCreated()"
        ></app-point-edit>
      </div>
    </div>
  </div>
</div>
