<div fxFill fxLayout="column">
  <div class="tabContainer mt-3">
    <div class="tabContent scroller" #scrollContainer>
      <div class="content mb-5">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-social-share
            #socialShare
            [point]="parentPoint"
          ></app-social-share>

          <span
            class="spinner-grow text-primary"
            role="status"
            *ngIf="alreadyFetchingPointFromDB"
          >
            <span class="visually-hidden">Loading...</span>
          </span>
        </div>

        <div *ngIf="!!error" class="alert alert-danger">
          {{ error }}
        </div>

        <!-- Ancestors -->
        <div *ngFor="let ancestor of ancestors">
          <app-point [point]="ancestor" [isComment]="true"> </app-point>
        </div>

        <!-- Parent -->
        <div>
          <app-point
            #trvParentPoint
            [point]="parentPoint"
            [isParentPoint]="true"
            [sharing]="true"
            [creatingNewComment]="newComment"
            (NewComment)="NewComment()"
            (CancelNewComment)="CancelComment()"
          ></app-point>
        </div>

        <!-- Children -->
        <div *ngFor="let point of points">
          <app-point
            [point]="point"
            [isComment]="true"
            [feedbackOn]="feedbackOn"
            (SelectComment)="SelectComment($event)"
            (PointDeleted)="onPointDeleted($event)"
          >
          </app-point>
        </div>

        <div
          fxLayoutAlign="end"
          fxLayoutGap="10"
          class="commands"
          *ngIf="!newComment"
        >
          <button mat-stroked-button (click)="scrollToTop()">top</button>
          <button mat-stroked-button (click)="NewComment()">new point</button>
        </div>

        <div id="newPoint">
          <app-point-edit
            #newPoint
            [hidden]="!newComment"
            [parentPointID]="parentPoint.pointID"
            [isComment]="true"
            [constituencyID]="constituencyID"
            (CancelEdit)="CancelComment()"
            (CompleteEdit)="NewCommentCreated()"
          ></app-point-edit>
        </div>
      </div>
    </div>
  </div>
</div>
