<div class="tabContainer mt-3">
  <div class="tabContent scroller">
    <div class="content">
      <!-- Organisation Display -->
      <div *ngIf="!organisationEdit && organisation">
        <!-- Elvis Operator or ngIf: https://stackoverflow.com/questions/54536126/angular-cannot-read-property-of-undefined-but-still-displays-data -->

        <div>
          <a routerLink="/organisations/membership">Search again</a>
          > Selected organisation
        </div>

        <!-- Website link preview -->
        <div class="pagePreview mt-4 ltmd">
          <app-website-preview
            [ShowPreview]="true"
            [LinkAddress]="organisation.organisationWebsite"
            [Title]="organisation.organisationName"
            [Description]="organisation.description"
            [DescriptionLineClamp]="3"
            [Image]="organisation.image"
          >
          </app-website-preview>
        </div>

        <p>
          members <span class="data">{{ organisation.members }}</span
          >, discussions
          <span class="data">{{ organisation.issues }}</span>
          <span
            class="primary aml-2"
            [ngClass]="{ success: !!membershipMessage }"
            >{{ membershipMessage }}</span
          >
        </p>

        <p>
          Organisation Type:
          <strong>{{ organisation.geographicalExtent }}</strong>
          <span
            *ngIf="
              organisation.geographicalExtentID ===
                GeographicalExtentID.PrivateOrganisation.toString() &&
              organisation.invitationOnly
            "
            >(invitation only)</span
          >

          <span *ngIf="showCountries">
            Country(s):
            <span
              *ngFor="let country of organisation.countries; let i = index"
              class="data"
              >{{ country.country
              }}<span *ngIf="i !== organisation.countries.length - 1"
                >,
              </span></span
            >
          </span>

          <span *ngIf="showRegions">
            Regions:
            <span *ngFor="let region of organisation.regions" class="data">{{
              region
            }}</span>
          </span>

          <span *ngIf="showCities">
            Cities:
            <span *ngFor="let city of organisation.cities" class="data"
              >{{ city }}
            </span>
          </span>
        </p>
      </div>

      <!-- Organisation Edit -->
      <div
        *ngIf="
          organisationEdit &&
          (organisation.organisationAdministrator ||
            organisation.organisationOwner)
        "
      >
        <app-organisation-edit
          [(organisation)]="organisationCopyForEdit"
          (Cancel)="Cancel()"
          (Complete)="Complete()"
        >
        </app-organisation-edit>
      </div>

      <!-- Commands -->
      <div *ngIf="!organisationEdit && organisation">
        <button
          mat-stroked-button
          *ngIf="organisation.organisationOwner"
          (click)="Delete()"
          matTooltip="permanently delete the organisation"
        >
          <span>delete</span>
          <mat-icon>clear</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            organisation.active &&
            (organisation.organisationAdministrator ||
              organisation.organisationOwner)
          "
          (click)="DeActivate()"
          matTooltip="de-activate organisation"
        >
          <span>de-activate</span>
          <mat-icon>block</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            !organisation.active &&
            (organisation.organisationAdministrator ||
              organisation.organisationOwner)
          "
          (click)="Activate()"
          matTooltip="activate organisation"
        >
          <span>activate</span>
          <mat-icon>accessibility_new</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            !organisationEdit &&
            (organisation.organisationAdministrator ||
              organisation.organisationOwner)
          "
          (click)="Edit()"
          matTooltip="edit organisation details"
        >
          <span>edit</span>
          <mat-icon>create</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            organisation.active &&
            organisation.organisationMember &&
            !organisation.organisationOwner
          "
          (click)="Leave()"
          matTooltip="leave this organisation"
        >
          <span>leave</span>
          <mat-icon>directions_walk</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="organisation.active && organisation.organisationMember"
          matTooltip="invite others to join the organisation"
          [disabled]="!organisation.canInviteMembers"
        >
          <span>invite</span>
          <mat-icon>person_add</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="organisation.active && !organisation.organisationMember"
          (click)="Join()"
          matTooltip="join organisation"
        >
          <span>join</span>
          <mat-icon>group_add</mat-icon>
        </button>
      </div>

      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>

      <hr />
    </div>
  </div>
</div>
