<div class="tabContainer mt-3">
  <div class="tabContent scroller">
    <div class="content">
      <!-- Group Display -->
      <div *ngIf="!groupEdit && OrganisationDisplay">
        <!-- Elvis Operator or ngIf: https://stackoverflow.com/questions/54536126/angular-cannot-read-property-of-undefined-but-still-displays-data -->

        <div>
          <a routerLink="/organisations/membership">List all organisations</a>
          > Selected organisation
        </div>

        <!-- Website link preview -->
        <div class="pagePreview mt-4 ltmd">
          <app-website-preview
            [ShowPreview]="true"
            [LinkAddress]="OrganisationDisplay.organisationWebsite"
            [Title]="OrganisationDisplay.organisationName"
            [Description]="OrganisationDisplay.description"
            [Image]="OrganisationDisplay.image"
          >
          </app-website-preview>
        </div>

        <p>
          members <span class="data">{{ OrganisationDisplay.members }}</span
          >, discussions
          <span class="data">{{ OrganisationDisplay.issues }}</span>
          <span
            class="primary aml-2"
            [ngClass]="{ success: !!membershipMessage }"
            >{{ membershipMessage }}</span
          >
        </p>

        <p>
          Organisation Type:
          <strong>{{ OrganisationDisplay.geographicalExtent }}</strong>
          <span
            *ngIf="
              OrganisationDisplay.geographicalExtentID ===
                GeographicalExtentID.PrivateOrganisation.toString() &&
              OrganisationDisplay.invitationOnly
            "
            >(invitation only)</span
          >

          <span *ngIf="showCountries">
            Country(s):
            <span
              *ngFor="
                let country of OrganisationDisplay.countries;
                let i = index
              "
              class="data"
              >{{ country.country
              }}<span *ngIf="i !== OrganisationDisplay.countries.length - 1"
                >,
              </span></span
            >
          </span>

          <span *ngIf="showRegions">
            Regions:
            <span
              *ngFor="let region of OrganisationDisplay.regions"
              class="data"
              >{{ region }}</span
            >
          </span>

          <span *ngIf="showCities">
            Cities:
            <span *ngFor="let city of OrganisationDisplay.cities" class="data"
              >{{ city }}
            </span>
          </span>
        </p>
      </div>

      <!-- Group Edit -->
      <div
        *ngIf="
          groupEdit &&
          (OrganisationDisplay.organisationAdministrator ||
            OrganisationDisplay.organisationOwner)
        "
      >
        <app-organisation-edit
          (Cancel)="Cancel()"
          (Complete)="Complete($event)"
          [(organisation)]="OrganisationDisplay"
        >
        </app-organisation-edit>
      </div>

      <!-- Commands -->
      <div *ngIf="!groupEdit && OrganisationDisplay">
        <button
          mat-stroked-button
          *ngIf="OrganisationDisplay.organisationOwner"
          (click)="Delete()"
          matTooltip="permanently delete the group"
        >
          <span>delete</span>
          <mat-icon>clear</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            OrganisationDisplay.active &&
            (OrganisationDisplay.organisationAdministrator ||
              OrganisationDisplay.organisationOwner)
          "
          (click)="DeActivate()"
          matTooltip="de-activate group"
        >
          <span>de-activate</span>
          <mat-icon>block</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            !OrganisationDisplay.active &&
            (OrganisationDisplay.organisationAdministrator ||
              OrganisationDisplay.organisationOwner)
          "
          (click)="Activate()"
          matTooltip="activate group"
        >
          <span>activate</span>
          <mat-icon>accessibility_new</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            !groupEdit &&
            (OrganisationDisplay.organisationAdministrator ||
              OrganisationDisplay.organisationOwner)
          "
          (click)="Edit()"
          matTooltip="edit group details"
        >
          <span>edit</span>
          <mat-icon>create</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            OrganisationDisplay.active &&
            OrganisationDisplay.organisationMember &&
            !OrganisationDisplay.organisationOwner
          "
          (click)="Leave()"
          matTooltip="leave this group"
        >
          <span>leave</span>
          <mat-icon>directions_walk</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            OrganisationDisplay.active && OrganisationDisplay.organisationMember
          "
          matTooltip="invite others to join the group"
          [disabled]="!OrganisationDisplay.canInviteMembers"
        >
          <span>invite</span>
          <mat-icon>person_add</mat-icon>
        </button>

        <button
          mat-stroked-button
          *ngIf="
            OrganisationDisplay.active &&
            !OrganisationDisplay.organisationMember
          "
          (click)="Join()"
          matTooltip="join group"
        >
          <span>join</span>
          <mat-icon>group_add</mat-icon>
        </button>
      </div>

      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>

      <hr />
    </div>
  </div>
</div>
