/* use issue.component.css */

@media (max-width: 940px) {
  .organisationTrail {
    margin-left: 10px;
    margin-right: 10px;
  }
}

mat-radio-button {
  margin-right: 20px;
}

a + a {
  margin-left: 0px;
}
