<div class="tabContainer">

    <div class="tabContent">

        <div fxFill fxLayout="column" fxLayoutAlign="start center">

            <div class="content">

                <div class="mt-4">
                    <span *ngIf="localData.LoggedInToAuth0">
                        <a class="clicker" (click)="viewAllAnswers()" [class.selected]="mode==='answers'">all
                            answers</a>
                        <a class="clicker" (click)="viewMyPoints()" [class.selected]="mode==='myPoints'">my answers
                            only</a>
                        <a class="clicker" (click)="addAnswer()" [class.selected]="mode==='addAnswer'">add answer</a>
                        <a class="clicker" (click)="newAnswer()" [class.selected]="mode==='newAnswer'">new answer</a>
                    </span>
                    <a [routerLink]="tagSelected">view all questions</a>
                </div>

                <h1 class="mt-3">{{ QuestionSelected }}</h1>

                <hr>

                <div *ngIf="!!error" class="alert alert-danger mt-3">
                    {{ error }}
                </div>

                <div class="mt-5" *ngIf="mode==='newAnswer'">
                    <app-point-edit (CancelEdit)="cancelEdit()" (CompleteEdit)="AddRemovePointFromAnswers(true, $event)">
                    </app-point-edit>
                </div>

            </div>

            <app-points-list [hidden]="mode==='newAnswer'" [filter]="filter" #PointsList [hidden]="filter.questions" [attachedToQuestion]="attachedToQuestion"
                (AddPointToAnswers)="AddRemovePointFromAnswers(true, $event)" (RemovePointFromAnswers)="AddRemovePointFromAnswers(false, $event)">
            </app-points-list>

            <div fxFlex></div>

        </div>

    </div>

</div>