<div class="scroller">
  <div class="content">
    <div class="overflow-hidden">
      <div class="mt-4">
        <button
          mat-button
          (click)="Back()"
          matTooltip="Return to question list"
        >
          view all questions
          <mat-icon>arrow_back</mat-icon>
        </button>

        <span *ngIf="auth0Service.isAuthenticated$ | async">
          <button
            mat-button
            (click)="viewAllAnswers()"
            [class.selected]="mode === 'answers'"
            matTooltip="Show all answers"
          >
            all answers
            <mat-icon>autorenew</mat-icon>
          </button>

          <button
            mat-button
            (click)="viewMyPoints()"
            [class.selected]="mode === 'myPoints'"
            matTooltip="Show only my answers"
          >
            my answers only
            <mat-icon>face</mat-icon>
          </button>

          <button
            mat-button
            (click)="addAnswer()"
            [class.selected]="mode === 'addAnswer'"
            matTooltip="Link an existing point as an answer to this question"
          >
            link point
            <mat-icon>add</mat-icon>
          </button>

          <button
            mat-button
            (click)="newAnswer()"
            [class.selected]="mode === 'newAnswer'"
            matTooltip="Submit a new answer"
          >
            new answer
            <mat-icon>create</mat-icon>
          </button>
        </span>
      </div>

      <div class="ugc Question mt-5 pt-3">
        <h1>{{ QuestionSelected }}</h1>
        <div [innerHtml]="QuestionDetails"></div>
      </div>

      <hr />

      <div *ngIf="!!error" class="alert alert-danger mt-3">
        {{ error }}
      </div>

      <div class="mt-5" *ngIf="mode === 'newAnswer'">
        <app-point-edit
          (CancelEdit)="cancelNewAnswer()"
          (CompleteEdit)="newAnswerSaved()"
          [isMyAnswer]="true"
          [questionID]="filter.questionID"
        >
        </app-point-edit>
      </div>

      <!-- Answers -->
      <app-points-list
        #PointsList
        [hidden]="mode === 'newAnswer'"
        [filter]="filter"
        [attachedToQuestion]="attachedToQuestion"
        (AddPointToAnswers)="AddRemovePointFromAnswers(true, $event)"
        (RemovePointFromAnswers)="AddRemovePointFromAnswers(false, $event)"
      >
      </app-points-list>
    </div>
  </div>
</div>
