<div fxLayout="row wrap">
  <div *ngFor="let tag of Tags" class="topic">
    {{tag.slashTag}}
    <mat-icon (click)="remove(tag.slashTag)">cancel</mat-icon>
  </div>
</div>

<div>
  <input fxFlex placeholder="type new slash tag and press enter" (keydown.shift.enter)="$event.preventDefault()"
    (keyup)="check()" (keydown.enter)="$event.preventDefault()" (keyup.enter)="add()" (blur)="add()"
    [(ngModel)]="newTopic">
</div>

<div class="alert alert-danger m-2" *ngIf="error">
  {{ error }}
</div>