<span *ngIf="error" class="fv-error">
    {{ error }}
</span>

<button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    [class.selected]="tabSelected===''" (click)="tabSelected=''" matTooltip="home">
    <mat-icon>search</mat-icon>
    home
</button>

<!-- https://github.com/angular/angular/issues/22588 -->
<button mat-button [routerLink]="loggedInToAuth0 ? '/slash-tags/trending' : '/slash-tags/trending'"
    [class.selected]="tabSelected==='slashTags'" [class.burgerButton]="showBurger" (click)="tabSelected='slashTags'"
    matTooltip="slash tags">
    <mat-icon>bookmark_border</mat-icon>
    slash tags
</button>

<button mat-button routerLink="/organisations/membership" routerLinkActive="active"
    [class.selected]="tabSelected==='organisations'" [class.burgerButton]="showBurger"
    (click)="tabSelected='organisations'" matTooltip="groups" *ngIf="loggedInToAuth0">
    <mat-icon>people</mat-icon>
    groups
</button>

<button mat-button routerLink="/voters" routerLinkActive="active" *ngIf="loggedInToAuth0"
    [class.selected]="tabSelected==='voters'" [class.burgerButton]="showBurger" (click)="tabSelected='voters'"
    matTooltip="voters">
    <mat-icon>edit</mat-icon>
    voters
</button>

<button mat-button routerLink="/my/profile" routerLinkActive="active" *ngIf="loggedInToAuth0"
    [class.selected]="tabSelected==='profile'" [class.burgerButton]="showBurger" (click)="tabSelected='profile'"
    matTooltip="profile">
    <mat-icon>person</mat-icon>
    profile
</button>

<button mat-button (click)="authService.login()" *ngIf="!loggedInToAuth0" matTooltip="sign in">
    <mat-icon>person</mat-icon>
    sign in
</button>

<button mat-button (click)="logout()" *ngIf="loggedInToAuth0" [class.burgerButton]="showBurger" matTooltip="sign out">
    <mat-icon>person_outline</mat-icon>
    sign out
</button>