<div fxFill fxLayout="column">

  <!-- Begin tab selection and point sort order -->

  <div class="buttonBar" ngClass.gt-xs="py-1" fxLayout="row wrap" fxLayoutAlign="center center">

    <button mat-button (click)="ChangeTab(0)" [class.selected]="tabIndex===0">
      <span *ngIf="widthBand > 2">trending</span>
      <mat-icon matTooltip="trending">trending_up</mat-icon>
    </button>

    <button mat-button (click)="ChangeTab(1)" [class.selected]="tabIndex===1" *ngIf="haveRecentSlashTags">
      <span *ngIf="widthBand > 2">recent</span>
      <mat-icon matTooltip="recent">notifications</mat-icon>
    </button>

    <button mat-button (click)="ChangeTab(2)" [class.selected]="tabIndex===2" *ngIf="!!topicSelected">
      <span *ngIf="widthBand > 2">{{ topicSelected }}</span>
      <mat-icon matTooltip="{{ topicSelected }}">bookmark_border</mat-icon>
    </button>

    <mat-radio-group aria-label="select questions or points" [(ngModel)]="qp" (change)="changeQP()">
      <mat-radio-button value="question">Q</mat-radio-button>
      <mat-radio-button value="point">P</mat-radio-button>
    </mat-radio-group>

    <button mat-button (click)="ChangeTab(3)" [class.selected]="tabIndex===3" *ngIf="localData.LoggedInToAuth0"
      id="newQP">
      <span *ngIf="widthBand > 2">new {{ qp }}</span>
      <mat-icon>library_add</mat-icon>
    </button>

    <!-- Filter -->
    <button mat-button (click)="applyFilter(!showingFilter)" *ngIf="topicSelected">
      <span *ngIf="widthBand > 2">{{ filterText }}</span>
      <mat-icon [matTooltip]="filterToolTip">{{ filterIcon }}</mat-icon>
    </button>

    <!-- Sort Options -->
    <button mat-button [matMenuTriggerFor]="sortOrderMenu" *ngIf="topicSelected">
      <span *ngIf="widthBand > 2">sort</span>
      <mat-icon [matTooltip]="sortToolTip">{{ sortOrderIcon }}</mat-icon>
    </button>

    <mat-menu #sortOrderMenu="matMenu">


      <button mat-menu-item (click)="sortBy(PointSortTypes.TrendingActivity)" [matTooltip]="'trending now'"
        [class.selected]="pointSortType===PointSortTypes.TrendingActivity">
        <mat-icon>trending_up</mat-icon>
        trending
      </button>

      <button mat-menu-item (click)="sortBy(PointSortTypes.AllTimePopularity)"
        [matTooltip]="'most popular first (all time)'"
        [class.selected]="pointSortType===PointSortTypes.AllTimePopularity">
        <mat-icon>favorite_border</mat-icon>
        popularity
      </button>

      <button mat-menu-item (click)="sortBy(PointSortTypes.DateCreated)" [matTooltip]="'date order - most recent first'"
        [class.selected]="pointSortType===PointSortTypes.DateCreated">
        <mat-icon>calendar_today</mat-icon>
        date
      </button>


      <hr />

      <button mat-menu-item [matTooltip]="'ascending order'" (click)="SetSortDescending(false)"
        [class.selected]="sortAscending">
        <mat-icon>arrow_upward</mat-icon>
        ascending
      </button>

      <button mat-menu-item [matTooltip]="'descending order'" (click)="SetSortDescending(true)"
        [class.selected]="sortDescending">
        <mat-icon>arrow_downward</mat-icon>
        descending
      </button>

      <button mat-menu-item (click)="sortBy(PointSortTypes.Random)" [matTooltip]="'random order'"
        [class.selected]="pointSortType===PointSortTypes.Random">
        <mat-icon>gesture</mat-icon>
        random
      </button>

      <hr />

      <button mat-menu-item (click)="refresh()" [matTooltip]="'refresh'">
        <mat-icon>refresh</mat-icon>
        refresh
      </button>
    </mat-menu>

  </div>

  <!-- End tab selection and point sort order -->


  <!-- Begin Tab Content -->

  <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="tabContainer">

    <div class="tabContent scroller" [ngClass]="{'topZ':tabIndex===0}">
      <div [ngClass]="{
        'centerStage': tabIndex===0, 
        'stageLeft': tabIndex>0 }" fxFill>
        <div fxLayoutAlign="center">
          <div class="content">
            <app-tags [TagCloudType]="TagCloudTypes.Trending" (NewSlashTagSelected)="NewSlashTagSelected($event)">
            </app-tags>
          </div>
        </div>
      </div>
    </div>

    <div class="tabContent scroller" [ngClass]="{'topZ':tabIndex===1}">
      <div [ngClass]="{
        'centerStage': tabIndex===1, 
        'stageLeft': tabIndex>1, 
        'stageRight': tabIndex<1}" fxFill>
        <div fxLayoutAlign="center">
          <div class="content">
            <app-tags [TagCloudType]="TagCloudTypes.Recent" #tagsRecent (haveTags)="haveRecentTags($event)"
              (NewSlashTagSelected)="NewSlashTagSelected($event)"></app-tags>
          </div>
        </div>
      </div>
    </div>

    <div class="tabContent" [ngClass]="{'topZ':tabIndex===2}">
      <div [ngClass]="{
        'centerStage': tabIndex===2, 
        'stageLeft': tabIndex>2,
        'stageRight': tabIndex<2}" fxFill>
        <app-points (applyFilter)="applyFilter($event)" (switchToPoints)="switchToPoints()"
          (pointSortTypeChanged)="pointSortTypeChanged($event)">
        </app-points>
      </div>
    </div>

    <div class="tabContent scroller" [ngClass]="{'topZ':tabIndex===3}">
      <div [ngClass]="{
        'centerStage': tabIndex===3, 
        'stageRight': tabIndex<3 }" fxFill>
        <div fxLayoutAlign="center">
          <div class="content mt-5 mb-3">
            <app-point-edit *ngIf="!questions" (CancelEdit)="onCancelNew()" (CompleteEdit)="onCompleteNew()" #newPoint>
            </app-point-edit>
            <app-question-edit *ngIf="questions" (CancelEdit)="onCancelNew()" (CompleteEdit)="onCompleteNew()"
              #newQuestion></app-question-edit>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- End Tab Container and Content -->

</div>