(change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"
(contentDom)="onContentDom($event)" (fileUploadRequest)="onFileUploadRequest($event)"



<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal mt-3">
  <!--[formGroup]="form"-->
  <div class="form-group">
    <ckeditor [ngModel]="point" name="point" [config]="{}" [readonly]="false" debounce="500">
    </ckeditor>
  </div>

  <input type="checkbox" name="draft" ngModel>
  <div class="form-group row mb-4">
    <Button (click)="button='signIn'" Class="btn btn-primary">save</Button>
  </div>

</form>