(change)="onChange($event)" 
(editorChange)="onEditorChange($event)" 
(ready)="onReady($event)" 
(focus)="onFocus($event)" 
(blur)="onBlur($event)"
(contentDom)="onContentDom($event)" 
(fileUploadRequest)="onFileUploadRequest($event)"



<form (ngSubmit)="onSubmit()" class="form-horizontal mt-3">
  
  <!--[formGroup]="form"-->
  
  <div class="form-group">
    <ckeditor [(ngModel)]="point" name="point" [config]="{}" 
    [readonly]="false" debounce="500">
    </ckeditor>
  </div>

  <input type="checkbox" [(ngModel)]=draft name="draft" ngModel>

  <div class="form-group row mb-4">
    <Button Class="btn btn-primary">save</Button>
  </div>

</form>
