<div fxFill fxLayout="column">

    <!-- Group Details -->
    <div class="groupTrail">
        <div class="content mt-3">
            <a [routerLink]="'/groups/membership'">List all groups</a> > <a
                [routerLink]="['/group/view', appData.kebab(groupName)]">{{ groupName }}</a> > <a
                [routerLink]="['/group', appData.kebab(groupName), appData.kebab(subGroupName)]">{{ subGroupName }}</a>
        </div>
    </div>

    <div fxLayout="column" class="tabContainer">

        <div class="tabContent scroller">

            <div class="content">

                <!-- Issue Details. Check if we have an issue otherwise any error details are not rendered -->
                <div *ngIf="!!issue">

                    <app-issue [issue]="issue" [groupName]="groupName" [subGroupName]="subGroupName"></app-issue>

                    <!-- Status -->
                    <div fxLayout="row" class="stages my-3">

                        <div fxFlex="33" fxLayout="column">

                            <div fxFlex (click)="setPorQType(PorQTypes.Question)" class="stage" [ngClass]="{
                            'questionActive' : porQTypeID===PorQTypes.Question,
                            'question': porQTypeID!==PorQTypes.Question}">
                                {{ issue.questions }} Questions
                            </div>

                            <div fxFlex *ngIf="issueStatusID === IssueStatuses.Discussion"
                                (click)="setProposalStatus(ProposalStatuses.VotingYetToStart)" class="stage"
                                [ngClass]="{
                            'proposalInactive' : porQTypeID === PorQTypes.Question,
                            'proposalActive' : porQTypeID !== PorQTypes.Question && proposalStatusID === ProposalStatuses.VotingYetToStart,
                            'proposal' : porQTypeID !== PorQTypes.Question && proposalStatusID !== ProposalStatuses.VotingYetToStart}">
                                <span *ngIf="porQTypeID === PorQTypes.Perspective">{{ issue.perspectivesInDiscussion }}
                                    in </span>
                                <span *ngIf="porQTypeID === PorQTypes.Proposal">{{ issue.proposalsInDiscussion }} in
                                </span>
                                Discussion Q&A
                            </div>

                            <div fxFlex *ngIf="issueStatusID > 4"
                                (click)="setProposalStatus(ProposalStatuses.VotingInProgress)" class="stage"
                                [ngClass]="{
                            'proposalInactive' : porQTypeID === PorQTypes.Question,
                            'proposalActive' : porQTypeID !== PorQTypes.Question && proposalStatusID === ProposalStatuses.VotingInProgress,
                            'proposal' : porQTypeID !== PorQTypes.Question && proposalStatusID !== ProposalStatuses.VotingInProgress}">
                                <span *ngIf="porQTypeID === PorQTypes.Perspective">{{ issue.perspectivesInDiscussion }}
                                    where </span>
                                <span *ngIf="porQTypeID === PorQTypes.Proposal">{{ issue.proposalsInDiscussion }} where
                                </span>
                                Voting in progress
                            </div>
                        </div>

                        <div fxFlex="33" fxLayout="column">

                            <div fxFlex (click)="setPorQType(PorQTypes.Perspective)" class="stage" [ngClass]="{
                            'proposalActive' : porQTypeID === PorQTypes.Perspective,
                            'proposal': porQTypeID !== PorQTypes.Perspective}">
                                {{ issue.perspectives }} Perspectives
                            </div>

                            <div fxFlex (click)="setProposalStatus(ProposalStatuses.ProposalAccepted)" class="stage"
                                [ngClass]="{
                            'proposalInactive' : porQTypeID === PorQTypes.Question,
                            'proposalActive' : porQTypeID !== PorQTypes.Question && proposalStatusID === ProposalStatuses.ProposalAccepted,
                            'proposal' : porQTypeID !== PorQTypes.Question && proposalStatusID !== ProposalStatuses.ProposalAccepted}">
                                <span *ngIf="porQTypeID === PorQTypes.Perspective">{{ issue.perspectivesAccepted }}
                                </span>
                                <span *ngIf="porQTypeID === PorQTypes.Proposal">{{ issue.proposalsAccepted }} </span>
                                Accepted
                            </div>
                        </div>

                        <div fxFlex="34" fxLayout="column">

                            <div fxFlex (click)="setPorQType(PorQTypes.Proposal)" class="stage" [ngClass]="{
                            'proposalActive' : porQTypeID===PorQTypes.Proposal,
                            'proposal': porQTypeID!==PorQTypes.Proposal}">
                                {{ issue.proposals }} Proposals
                            </div>

                            <div fxFlex (click)="setProposalStatus(ProposalStatuses.ProposalNotAccepted)" class="stage"
                                [ngClass]="{
                            'proposalInactive' : porQTypeID === PorQTypes.Question,
                            'proposalActive' : porQTypeID !== PorQTypes.Question && proposalStatusID === ProposalStatuses.ProposalNotAccepted,
                            'proposal' : porQTypeID !== PorQTypes.Question && proposalStatusID !== ProposalStatuses.ProposalNotAccepted}">
                                <span *ngIf="porQTypeID === PorQTypes.Perspective">{{ issue.perspectivesRejected }}
                                </span>
                                <span *ngIf="porQTypeID === PorQTypes.Proposal">{{ issue.proposalsRejected }} </span>
                                Rejected
                            </div>

                        </div>

                    </div>
                </div>
                <div *ngIf="!!error" class="alert alert-danger">
                    {{ error }}
                </div>


                <button mat-stroked-button class="mr-3" (click)="NewPorQ()" [disabled]="newPorQ">
                    <mat-icon>add</mat-icon>
                    new {{ porQType }}
                </button>

                <div class="mt-3">
                    <app-porq-edit *ngIf="newPorQ" (CancelEdit)="cancelNewPorQ()" (CompleteEdit)="completeNewPorQ()"
                        [porQ]="newPorQTemplate">
                    </app-porq-edit>
                </div>

                <!-- List Proposals -->
                <ng-container *ngIf="!newPorQ">
                    <div *ngFor="let pq of psOrQs">
                        <app-porq [porQ]="pq" (Deleted)="PorQDeleted()"></app-porq>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>