<!-- SlashTag Search -->
<div class="Search">
  <div class="center">
    <input
      type="text"
      #tvSlashTag
      [(ngModel)]="slashTag"
      (ngModelChange)="slashTagCleanUp($event)"
      (keyup.enter)="newTag()"
      class="form-control"
      placeholder="/slash tag"
    />
  </div>

  <div class="flexRow justify-center mt-3">
    <button mat-stroked-button (click)="newTag()">
      <mat-icon>add</mat-icon>
      create
    </button>

    <button mat-stroked-button aria-label="Clear" (click)="clearSearchText()">
      <mat-icon>close</mat-icon>
      clear
    </button>

    <button mat-stroked-button aria-label="Clear" (click)="cancel()">
      <mat-icon>close</mat-icon>
      cancel
    </button>

    <span
      class="spinner-grow text-primary ms-3"
      role="status"
      *ngIf="searching"
    >
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>
</div>

<div
  class="alert alert-warning"
  *ngIf="slashTag.length > 1 && haveSearched && !searching && !haveTags"
>
  No matching slash tag found
</div>

<div class="fv-error" *ngIf="!!error">
  {{ error }}
</div>
