<div class="topicsCloud">

  <div *ngIf="waiting" fxLayout="row" fxLayoutAlign="center center">
    fetching tags
    <div class="spinner-grow text-info my-5 ml-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <ng-container *ngFor="let slashTag of tags">
    <a [innerHTML]="slashTag.tagDisplay | TagDisplay"
      [ngStyle]="{'font-size':FontSize(slashTag.tagWeight),'padding-right':'10px'}"
      (click)="setSlashTag(slashTag.slashTag)"></a>
  </ng-container>

  <div *ngIf="error" class="text-danger mx-3">
    {{ error }}
  </div>

</div>