<div fxFill fxLayout="column" fxLayoutAlign="start center">

  <div class="content">
    <!-- Show Filtering Options, controlled from Tag-Points component -->
    <div [ngClass]="{'show':showFilters, 'hide':!showFilters}">
      <div class="mt-3">
        <div class="filters" fxLayout="row wrap" fxLayoutAlign="start center">

          <!-- Text search -->
          <mat-form-field class="searchInput">
            <input matInput name="pointTextFilter" [(ngModel)]="filter.text" placeholder="enter point search text">
            <button mat-button *ngIf="filter.text" matSuffix mat-icon-button aria-label="Clear" (click)="filter.text=''"
              type="button">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <!-- Any Tag -->
          <mat-checkbox labelPosition="before" [(ngModel)]="filter.anyTag">any tag
          </mat-checkbox>

          <!-- Advanced Search Options -->
          <mat-checkbox labelPosition="before" [(ngModel)]="advanced" hidden>advanced search
          </mat-checkbox>

          <button mat-stroked-button (click)="SelectPoints()">
            <mat-icon>search</mat-icon>
            search
          </button>

        </div>

      </div>
    </div>



    <div *ngIf="advanced">

      <!-- My Points or All Voters -->
      <div>
        <mat-radio-group [(ngModel)]="filter.myPointFilter">
          <mat-radio-button name="draftStatus" labelPosition="before" [value]="MyPointFilter.AllMine">all my points
          </mat-radio-button>
          <mat-radio-button name="draftStatus" labelPosition="before" [value]="MyPointFilter.MyPublished">my public
            points
          </mat-radio-button>
          <mat-radio-button name="draftStatus" labelPosition="before" [value]="MyPointFilter.MyDrafts">my drafts
          </mat-radio-button>
          <mat-radio-button name="draftStatus" labelPosition="before" [value]="MyPointFilter.AllVoters">all voters
          </mat-radio-button>
          <mat-radio-button name="draftStatus" labelPosition="before" [value]="MyPointFilter.Specific">specific
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="searchInput">
          <input matInput name="aliasTextFilter" [(ngModel)]="filter.byAlias" placeholder="enter voter alias">
          <button mat-button *ngIf="filter.byAlias" matSuffix mat-icon-button aria-label="Clear"
            (click)="filter.byAlias=''" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Filter on Feedback -->
      <div>

        <mat-radio-group [(ngModel)]="filter.feedbackFilter">
          <mat-radio-button name="feedback" labelPosition="before" [value]="PointFeedbackFilter.Yes">with feedback
            only
          </mat-radio-button>
          <mat-radio-button name="feedback" labelPosition="before" [value]="PointFeedbackFilter.No">without feedback
            only
          </mat-radio-button>
          <mat-radio-button name="feedback" labelPosition="before" [value]="PointFeedbackFilter.Confirmation">feedback
            confirmation
          </mat-radio-button>
        </mat-radio-group>

      </div>

      <!-- Favourites -->
      <div class="aml-3 mt-3">
        <mat-checkbox labelPosition="before" [(ngModel)]="filter.favourites" #checkbox="matCheckbox"
          (change)="FilterFavs(checkbox)">
          my {{ favouritesText }}</mat-checkbox>

        <mat-form-field floatLabel="always">
          <mat-select name="pt" [(ngModel)]="filter.pointTypeID" placeholder="filter selection on point type">
            <mat-option *ngFor="let pointType of pointTypes" [value]="pointType.value">{{ pointType.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      <!-- Date Filter, animated by css controlled by checkbox -->
      <!-- <div [ngClass]="{'show':filter.applyDateFilter, 'hide':!filter.applyDateFilter}"> -->
      <div class="aml-3">
        <div fxLayout="row wrap" fxLayoutAlign.xs="space-around" fxLayoutAlign.gt-xs="start center"
          fxLayoutGap.xs="5px grid" fxLayoutGap.gt-xs="30px">

          <mat-checkbox labelPosition="before" #checkbox="matCheckbox" (change)="FilterOnDates(checkbox)">
            date range
          </mat-checkbox>

          <app-datepicker [(Date)]="filter.dateFrom" [UserPrompt]="'from date'">
          </app-datepicker>
          <app-datepicker [(Date)]="filter.dateTo" [UserPrompt]="'to date'">
          </app-datepicker>
        </div>

      </div>

    </div>



  </div>

</div>