app-points-list,
app-questions-list {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.fullWidth {
  width: 100%;
}

.noMargin {
  margin: 0 !important;
}

button.mat-stroked-button.mat-button-base {
  margin: 0;
}

mat-form-field + button {
  margin-left: 25px !important;
}

.mat-checkbox {
  margin-right: 15px !important;
}

.mat-radio-button {
  margin-left: 15px !important;
}

.mat-icon-button {
  margin-right: 0px !important;
}

.filters span {
  margin-right: 10px;
}

mat-form-field + button {
  margin-left: 16px;
}

.mat-form-field-autofill-control {
  max-width: 100px;
}

.searchInput {
  width: 200px;
  margin-left: 0px;
  margin-right: 16px;
}

.filters button + button {
  margin-left: 10px;
}
