@media(max-width:940px) {
    h1 {
        margin-left: 10px;
        margin-right: 10px;
    }
}

mat-radio-button:not(:last-child),
button:not(:last-child) {
    margin-right: 10px
}

h1 {
    text-align: center;
}