<!-- Begin tab selection and point sort order -->

<div
  [ngClass]="{
    show: tabIndex !== Tabs.questionAnswers,
    hide: tabIndex === Tabs.questionAnswers
  }"
  class="amy-2"
>
  <div *ngIf="tabIndex < Tabs.questionList" class="flexRow center">
    <!-- Trending Tags -->
    <button
      mat-button
      (click)="ChangeTab(Tabs.trendingTags)"
      [class.selected]="tabIndex === Tabs.trendingTags"
      matTooltip="trending"
    >
      trending
      <mat-icon>trending_up</mat-icon>
    </button>

    <!-- Recently selected tags -->
    <button
      mat-button
      (click)="ChangeTab(Tabs.recentTags)"
      [class.selected]="tabIndex === Tabs.recentTags"
      matTooltip="recent"
      *ngIf="(auth0Service.isAuthenticated$ | async) || haveRecentSlashTags"
    >
      recent
      <mat-icon>notifications</mat-icon>
    </button>

    <!-- Tag Search -->
    <button
      mat-button
      (click)="ChangeTab(Tabs.tagSearch)"
      [class.selected]="tabIndex === Tabs.tagSearch"
      matTooltip="slash tag search"
    >
      search
      <mat-icon>search</mat-icon>
    </button>

    <!-- Local Topics -->
    <button
      mat-button
      (click)="ChangeLocal()"
      class="localButton"
      [class.selected]="localData.forConstituency"
      matTooltip="local interest"
      *ngIf="auth0Service.isAuthenticated$ | async"
    >
      local
      <mat-icon>mp</mat-icon>
    </button>

    <!-- Show previously selected tag results -->
    <div class="flexRow center">
      <button
        mat-button
        (click)="BackToSelectedTag()"
        *ngIf="!!topicSelected && topicSelected !== 'SignedOut'"
        matTooltip="{{ topicSelected }}"
      >
        <div class="flexRow center">
          <span class="slash">/</span>
          <span>slash-tag</span>
        </div>
      </button>

      <i class="arrow right"></i>
    </div>
  </div>

  <div *ngIf="tabIndex > Tabs.tagSearch" class="flexRow center">
    <!-- Show tag clouds and tag search -->
    <div class="flexRow reverse">
      <button
        mat-button
        (click)="ChangeTab(previousTabIndex)"
        matTooltip="trending"
      >
        <div class="flexRow center">
          <span class="slash">/</span>
          <span>slash-tags</span>
        </div>
      </button>
      <i class="arrow left"></i>
    </div>

    <!-- Local Topics -->
    <button
      mat-button
      (click)="ChangeLocalSelection()"
      class="localButton"
      [class.selected]="localData.forConstituency"
      matTooltip="local interest"
      *ngIf="auth0Service.isAuthenticated$ | async"
    >
      local
      <mat-icon>mp</mat-icon>
    </button>

    <!-- Questions -->
    <button
      mat-button
      (click)="ShowQuestions()"
      [class.selected]="
        tabIndex === Tabs.questionList || tabIndex === Tabs.questionAnswers
      "
      *ngIf="auth0Service.isAuthenticated$ | async"
      matTooltip="show questions"
    >
      questions
      <mat-icon>help</mat-icon>
    </button>

    <!-- Break-out groups -->
    <button
      mat-button
      (click)="ChangeTab(Tabs.groups)"
      [class.selected]="tabIndex === Tabs.groups"
      *ngIf="auth0Service.isAuthenticated$ | async"
      [matTooltip]="'break-out groups'"
    >
      groups
      <mat-icon>groups</mat-icon>
    </button>

    <!-- Tag Points -->
    <button
      mat-button
      (click)="qp = 'point'; ChangeTab(Tabs.tagPoints)"
      [class.selected]="tabIndex === Tabs.tagPoints"
      *ngIf="auth0Service.isAuthenticated$ | async"
      matTooltip="show points"
    >
      points
      <mat-icon>comment</mat-icon>
    </button>

    <!-- New question answer or tag point  -->
    <button
      mat-button
      (click)="ChangeTab(Tabs.newPoint)"
      [class.selected]="tabIndex === Tabs.newPoint"
      *ngIf="auth0Service.isAuthenticated$ | async"
      [matTooltip]="'submit new ' + qp"
    >
      new {{ qp }}
      <mat-icon>library_add</mat-icon>
    </button>

    <!-- Begin Sort Menu -->
    <app-search-and-sort
      *ngIf="tabIndex === Tabs.tagPoints"
      [showFilters]="showFilters"
      [pointSortType]="filter.sortType"
      [sortDescending]="filter.sortDescending"
      (showFiltersChange)="ShowPointFilterCriteria($event)"
      (pointSortTypeChange)="SetSortType($event)"
      (sortDescendingChange)="SetSortDescending($event)"
      (feedbackChange)="FeedbackChange($event)"
      (refresh)="refresh()"
    ></app-search-and-sort>
    <!-- End Sort Menu -->
  </div>

  <hr />
</div>

<!-- End tab selection and point sort order -->

<!-- Points filter for tagPoints list or questionAnswers -->

<app-points-filter
  #pointsFilter
  [showFilters]="showFilters"
  [filter]="filter"
  (filterChange)="applyFilter()"
  (pointSortTypeChanged)="pointSortTypeChanged($event)"
  (cancelSearch)="cancelSearch()"
>
</app-points-filter>

<!-- End points filter -->

<!-- Begin Tab Content -->

<div class="tabContainer">
  <!-- 0 Tag Cloud Trending -->
  <div class="tabContent" [ngClass]="{ topZ: tabIndex === Tabs.trendingTags }">
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.trendingTags,
        stageLeft: tabIndex > Tabs.trendingTags
      }"
    >
      <div class="scroller">
        <div class="content">
          <app-tag-cloud
            [tagCloudType]="TagCloudTypes.Trending"
            #tagsTrending
            (NewSlashTagSelected)="NewSlashTagSelected($event)"
          >
          </app-tag-cloud>
        </div>
      </div>
    </div>
  </div>

  <!-- 1 Tag Cloud Recent -->
  <div
    class="tabContent scroller"
    [ngClass]="{ topZ: tabIndex === Tabs.recentTags }"
  >
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.recentTags,
        stageLeft: tabIndex > Tabs.recentTags,
        stageRight: tabIndex < Tabs.recentTags
      }"
    >
      <div class="content">
        <app-tag-cloud
          [tagCloudType]="TagCloudTypes.Recent"
          #tagsRecent
          (NewSlashTagSelected)="NewSlashTagSelected($event)"
        >
        </app-tag-cloud>
      </div>
    </div>
  </div>

  <!-- 2 SlashTag Search -->
  <div
    class="tabContent scroller"
    [ngClass]="{ topZ: tabIndex === Tabs.tagSearch }"
  >
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.tagSearch,
        stageLeft: tabIndex > Tabs.tagSearch,
        stageRight: tabIndex < Tabs.tagSearch
      }"
    >
      <div class="content">
        <app-tag-search
          (NewSlashTagSelected)="NewSlashTagSelected($event)"
          #tagSearch
        >
        </app-tag-search>
      </div>
    </div>
  </div>

  <!-- 3 Question List -->
  <div class="tabContent" [ngClass]="{ topZ: tabIndex === Tabs.questionList }">
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.questionList,
        stageLeft: tabIndex > Tabs.questionList,
        stageRight: tabIndex < Tabs.questionList
      }"
    >
      <!-- "Fetch more" component must apply scroller and content classes internally -->
      <app-questions-list
        [filter]="filter"
        [SortDescending]="filter.sortDescending"
        #appQuestionsList
        (QuestionCount)="QuestionCount($event)"
        (QuestionSelected)="QuestionSelected($event)"
      >
      </app-questions-list>
    </div>
  </div>

  <!-- 4 Question Answers -->
  <div
    class="tabContent scroller"
    [ngClass]="{ topZ: tabIndex === Tabs.questionAnswers }"
  >
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.questionAnswers,
        stageLeft: tabIndex > Tabs.questionAnswers,
        stageRight: tabIndex < Tabs.questionAnswers
      }"
    >
      <!-- "Fetch more" component must apply scroller and content classes internally -->
      <app-question-answers
        [filter]="filter"
        (ViewAllQuestions)="ViewAllQuestions()"
        #appQuestionAnswers
        (AnswerAdded)="AnswerAdded($event)"
        (AnswerRemoved)="AnswerRemoved($event)"
      >
      </app-question-answers>
    </div>
  </div>

  <!-- 5 Break-out Group Selection -->
  <div
    class="tabContent scroller"
    [ngClass]="{ topZ: tabIndex === Tabs.groups }"
  >
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.groups,
        stageLeft: tabIndex > Tabs.groups,
        stageRight: tabIndex < Tabs.groups
      }"
    >
      <div class="content">
        <app-group-selection
          [tagDisplay]="topicSelected"
          #bogSelection
          (BogSelected)="BogSelected($event)"
        >
        </app-group-selection>
      </div>
    </div>
  </div>

  <!-- 6 Break-out Group Discussion -->
  <div
    class="tabContent scroller"
    [ngClass]="{ topZ: tabIndex === Tabs.groupDiscussion }"
  >
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.groupDiscussion,
        stageLeft: tabIndex > Tabs.groupDiscussion,
        stageRight: tabIndex < Tabs.groupDiscussion
      }"
    >
      <div class="content">
        <app-group-discussion
          [tagDisplay]="topicSelected"
          [bogSelected]="bogSelected"
          (SelectAnother)="SelectAnotherBoG()"
          #bogDiscussion
        >
        </app-group-discussion>
      </div>
    </div>
  </div>

  <!-- 7 app points for tag points. Scroller class NOT applied to tabContent. Scrollend has to fetch more points -->
  <div class="tabContent" [ngClass]="{ topZ: tabIndex === Tabs.tagPoints }">
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.tagPoints,
        stageLeft: tabIndex > Tabs.tagPoints,
        stageRight: tabIndex < Tabs.tagPoints
      }"
    >
      <!-- "Fetch more" component must apply scroller and content classes internally -->
      <app-points-list
        #appPointsList
        [filter]="filter"
        [feedbackOn]="feedbackOn"
        (AltSLashTagSelected)="AltSlashTagSelected($event)"
      >
      </app-points-list>
    </div>
  </div>

  <!-- 8 new question or point -->
  <div
    class="tabContent scroller"
    [ngClass]="{ topZ: tabIndex === Tabs.newPoint }"
  >
    <div
      [ngClass]="{
        centerStage: tabIndex === Tabs.newPoint,
        stageRight: tabIndex < Tabs.newPoint
      }"
    >
      <div class="content mt-5 mb-3">
        <app-question-edit
          *ngIf="showQuestions"
          (CancelEdit)="CancelNewQuestion()"
          (CompleteEdit)="NewQuestion()"
          #newQuestion
        >
        </app-question-edit>

        <app-point-edit
          *ngIf="!showQuestions"
          [constituencyID]="filter.constituencyID"
          (CancelEdit)="CancelNewPoint()"
          (CompleteEdit)="NewPointCreated()"
          (ReselectPoints)="ReselectForNewPoint()"
          #newPoint
        >
        </app-point-edit>
      </div>
    </div>
  </div>
</div>

<!-- End Tab Container and Content -->
