@media (max-width: 600px) {
  button.mat-button.mat-button-base {
    padding: 0 !important;
    min-width: 50px !important;
    /* reduced min width */
  }

  .tagCloud {
    margin-top: 20px;
  }
}

@media (min-width: 600px) {
  .tagCloud {
    margin-top: 50px;
  }
}

.content {
  padding-top: 15px;
}

mat-radio-button {
  margin-top: 0px;
  margin-left: 25px;
  font-size: 0.85em;
}

mat-radio-button + mat-radio-button {
  margin-left: 12px;
}

/* Important! */
app-points-list {
  display: flex;
  overflow: hidden;
}

hr {
  height: 2px;
  background: gray;
  margin: 0.5rem 0;
}

.slash {
  margin-right: 2px;
  font-weight: medium;
  font-size: 1.8em;
}

.hide {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.show {
  max-height: 120px;
  /* When datepicker filters wrap on mobile */
  overflow: hidden;
  opacity: 1;
}

.show,
.hide {
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

::ng-deep .mat-button {
  padding: 0 8px;
}

.localButton {
  margin-left: 5px;
  margin-right: 5px;
}

button + i.arrow {
  border: solid lightgray;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 8px;
  position: relative;
}

button + i.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: -6px;
  opacity: 0;
  transition: opacity 0.5s;
}

button + i.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 6px;
  opacity: 0;
  transition: opacity 0.5s;
}

button:hover + i.arrow.right,
button:hover + i.arrow.left {
  opacity: 1;
  transition: opacity 0.5s;
}
