<!-- Menu Trigger -->

<button
  mat-button
  [matMenuTriggerFor]="pointsAndQuestionsMenu"
  [class.selected]="
    tabIndex === Tabs.questionList ||
    tabIndex === Tabs.questionAnswers ||
    tabIndex === Tabs.tagPoints ||
    tabIndex === Tabs.newPoint
  "
  matTooltip="show points or questions"
  matTooltipPosition="right"
>
  {{ qp }}s
  <mat-icon>{{ pointsOrQuestionsIcon }}</mat-icon>
</button>

<!-- Search and Sort menu -->

<mat-menu #pointsAndQuestionsMenu="matMenu">
  <!-- Questions -->
  <button
    mat-menu-item
    [class.selected]="
      tabIndex === Tabs.questionList || tabIndex === Tabs.questionAnswers
    "
    (click)="showQuestions()"
    matTooltip="show questions"
    matTooltipPosition="right"
  >
    questions
    <mat-icon>help</mat-icon>
  </button>

  <!-- Tag Points -->
  <button
    mat-menu-item
    (click)="qp = 'point'; changeTab(Tabs.tagPoints)"
    [class.selected]="tabIndex === Tabs.tagPoints"
    matTooltip="show points"
    matTooltipPosition="right"
  >
    points
    <mat-icon>comment</mat-icon>
  </button>

  <!-- New question answer or tag point  -->
  <button
    mat-menu-item
    *ngIf="auth0Service.isAuthenticated$ | async"
    [class.selected]="tabIndex === Tabs.newPoint"
    (click)="changeTab(Tabs.newPoint)"
    [matTooltip]="'submit new ' + qp"
    matTooltipPosition="right"
  >
    new {{ qp }}
    <mat-icon>library_add</mat-icon>
  </button>
</mat-menu>
