.draft {
  font-weight: bold;
  color: #3700b3;
}

button img {
  width: 28px;
  margin-right: 10px;
}

.hr {
  border: solid 1px lightgray;
  margin: 0;
}

.Question {
  background-color: #fffcf2;
  padding: 10px;
}

.Question:hover {
  cursor: pointer;
  color: #3700b3;
}

.Question h1 {
  margin-left: 0;
  margin-bottom: 0;
}
