<!-- Menu Trigger -->

<button
  mat-raised-button
  [matMenuTriggerFor]="sortOrderMenu"
  [matTooltip]="sortToolTip"
  matTooltipPosition="above"
  matTooltipClass="multiLine"
>
  sort
  <mat-icon>{{ sortTypeIcon }}</mat-icon>
</button>

<!-- Search and Sort menu -->

<mat-menu #sortOrderMenu="matMenu">
  <!-- Sort Type -->
  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.TrendingActivity"
    (click)="setSortType(PointSortTypes.TrendingActivity)"
    [matTooltip]="'trending now'"
    matTooltipPosition="right"
  >
    <mat-icon>trending_up</mat-icon>
    trending
  </button>

  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.AllTimePopularity"
    (click)="setSortType(PointSortTypes.AllTimePopularity)"
    [matTooltip]="'most popular first (all time)'"
    matTooltipPosition="right"
  >
    <mat-icon>favorite_border</mat-icon>
    popularity
  </button>

  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.DateUpdated"
    (click)="setSortType(PointSortTypes.DateUpdated)"
    [matTooltip]="'date order - most recent first'"
    matTooltipPosition="right"
  >
    <mat-icon>calendar_today</mat-icon>
    date
  </button>

  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.Random"
    (click)="setSortType(PointSortTypes.Random)"
    [matTooltip]="'random order'"
    matTooltipPosition="right"
  >
    <mat-icon>gesture</mat-icon>
    random
  </button>

  <hr />

  <!-- Sort Order -->
  <button
    mat-menu-item
    [class.selected]="sortDescending && pointSortType !== PointSortTypes.Random"
    (click)="setSortDescending(true)"
    [matTooltip]="'descending order'"
    matTooltipPosition="right"
  >
    <mat-icon>arrow_downward</mat-icon>
    descending
  </button>

  <button
    mat-menu-item
    [class.selected]="
      !sortDescending && pointSortType !== PointSortTypes.Random
    "
    (click)="setSortDescending(false)"
    [matTooltip]="'ascending order'"
    matTooltipPosition="right"
  >
    <mat-icon>arrow_upward</mat-icon>
    ascending
  </button>
</mat-menu>
