<form (ngSubmit)="onSubmit()" #formPoint="ngForm">
  <!-- The Editor -->
  <app-cke-universal
    name="point"
    [(textToEdit)]="Comment"
    (blur)="onCKEBlur()"
    #CKEfudge
  >
  </app-cke-universal>

  <div class="fv-error am-1" *ngIf="!!error">
    {{ error }}
  </div>

  <div class="toolbar p-2" fxLayout="row wrap" fxLayoutAlign="end center">
    <button mat-stroked-button type="button" (click)="Cancel()">
      <mat-icon>cancel</mat-icon>
      cancel
    </button>

    <button mat-stroked-button>
      <mat-icon>save</mat-icon>
      save
    </button>
  </div>
</form>
