<div class="linkCloud my-3">
  <div *ngIf="waitingVoters">
    fetching active voters ...
    <span class="spinner-grow text-info m-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>

  <ng-container *ngFor="let byAlias of byAliases; let i = index">
    <a
      [innerHTML]="byAlias.byOn"
      [ngStyle]="{
        'font-size': FontSize(byAlias.weight),
        'padding-right': '10px'
      }"
      (click)="ListTopicsByAlias(byAlias.byOn)"
      [class.highlight]="highlightStatus[i]"
    ></a>
  </ng-container>
</div>

<hr />

<div class="linkCloud">
  <div *ngIf="waitingTopics">
    fetching active topics ...
    <span class="spinner-grow text-info m-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>

  <ng-container *ngFor="let onTopic of onTopics">
    <a
      [innerHTML]="onTopic.byOn | TagDisplay"
      [ngStyle]="{
        'font-size': FontSize(onTopic.weight),
        'padding-right': '10px'
      }"
      [routerLink]="['/' + appData.kebabUri(onTopic.byOn), 'by', byAlias]"
    ></a>
  </ng-container>
</div>

<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
