<div class="content">

    <div class="CARD">

        <img class="mw300 Rotate30 center" src="assets/CARD2.png" alt="The Campaign for Representative Democracy logo">

        <h1 class="center mt-5">The Campaign for Representative Democracy</h1>

    </div>

    <p>
        'ere 'ang about
        <audio controls class="align-middle">
            <source src="/assets/Bob Hang About.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </p>

    <p>
        The Campaign for Representative Democracy?
    </p>

    <p>
        But we've already got one!
    </p>

    <div class="ms-3 ml-md-5">

        Well,
        <audio controls class="align-middle">
            <source src="/assets/Chris Rock Not Really.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <p>
            People will tell you that we've already got one ...
        </p>
        <div class="youTube">
            <iframe src="https://www.youtube.com/embed/Ea8GyscSFaQ?start=7" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <h1>
            But don't believe the lie that we already have a representative democracy
        </h1>

        <ul>
            <li>The Lords do not represent you</li>
            <li>The Whips do not represent you</li>
            <li>Your representative does not represent you
                when they answer to the whips and put party first</li>
            <li>Our first-past-the-post voting system
                <strong>prevents</strong><i> fair "representation" for all.</i>
            </li>
        </ul>

        <p>

        </p>

        <h1>
            Representative democracy?
            <br />NO, we have NOT already got one!
        </h1>

        <ul>
            <li>The Lords must go</li>
            <li>Whipping must be made illegal</li>
            <li>Representatives must be allowed to represent you with a free vote on all matters</li>
            <li>We need proportional representation now</li>
        </ul>
    </div>







    <app-take-action></app-take-action>

</div>

<div class="tertiary">
    <div class="content">
        <h1 class="h1pad">The House of Lords must go</h1>
    </div>
</div>

<div class="content">
    <p>
        <a target="_blank"
            href="https://en.wikipedia.org/wiki/House_of_Lords#:~:text=On%2019%20March%201649%2C%20the,to%20the%20people%20of%20England.%22">
            <h2>"the House of Lords is useless and dangerous to the people of England"</h2>
            Act of Parliament, 1649
        </a>
    </p>
    <p>
        There's nothing more to be said.
    </p>


    <h2>
        The House of Lords is unrepresentative, undemocratic and "must go"
    </h2>

    <p>
        <a target="_blank" href="https://www.thetimes.co.uk/article/come-on-pm-the-house-of-lords-must-go-nmpsrjjj6">
            The Times, Sunday February 23 2020
        </a>
    </p>

    <app-take-action></app-take-action>
</div>

<div class="secondary">
    <div class="content">
        <h1 class="h1pad">Whipping must become a criminal offence</h1>
    </div>
</div>

<div class="content">

    <h1><span class="bi">Our</span> representatives must be free to represent <span class="bi">us</span></h1>
    <h2>Make whipping illegal</h2>


    <p>
        When you vote in an election,
        it’s illegal for anyone to bribe, bully or blackmail you
        to change your vote.
        You have a free vote in a secret ballot to protect you against anyone
        seeking to force you to vote differently.
    </p>

    <img src="/assets/Secret Ballots.jpg" alt="Voting in a secret ballot">


    <p>
        However, the same protection does not apply to your representative when they get to parliament. MPs very rarely
        get a free vote and there are no secret ballots.
        Party whips are there to enforce "party discipline".
        Party interests come first. That means power sits with a
        small group of people who set the agenda
        and have no interest in listening to the people's representatives.
    </p>

    <p>
        Bribing, bullying and blackmailing (whipping) is undemocratic and should be a criminal offence:
        <span class="bi">Perverting the course of democracy.</span>
    </p>

    <img src="/assets/threats.png" alt="Threatened to vote the right way">

    <app-take-action></app-take-action>
</div>

<div class="tertiary">
    <div class="content">
        <h1 class="h1pad">Representatives must have a free vote at all times</h1>
    </div>
</div>

<div class="content">

    <h1>Andy Burnham on the whipping system</h1>

    <p>"Westminster makes a fraud out of people,
        it makes you vote for things and say things
        that you don't fully agree with."</p>

    <p>"The whip system is quite intimidating for a new MP"</p>

    <p>"I think it should be fundamentally reformed."</p>

    <p>"If they can't persuade people independently to back government policies, well probably, they shouldn't be
        happening."</p>

    <p>"The whip system becomes corrosive of trust."</p>

    <p>"The whip system is not a good basis for representative democracy in the 21st century."</p>


    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/856029427&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <div
        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        <a href="https://soundcloud.com/freevote" title="Alex Cooper" target="_blank"
            style="color: #cccccc; text-decoration: none;">Alex Cooper</a> · <a
            href="https://soundcloud.com/freevote/andy-burnham-on-westminster-and-whipping"
            title="Andy Burnham on Westminster and Whipping" target="_blank"
            style="color: #cccccc; text-decoration: none;">Andy Burnham on Westminster and Whipping</a>
    </div>

    <p class="sm">
        Above extracts compiled from the Compass Podcast with Andy Burnham <a target="_blank"
            href="https://www.compassonline.org.uk/podcast/">Episode 16</a>
    </p>

    <h1>Support free votes for our representatives in secret ballots, just like we get at election time.</h1>

    <h1>Let our representatives represent us</h1>
    <app-take-action></app-take-action>
</div>

<div class="secondary">
    <div class="content">
        <h1 class="h1pad">We must have proportional representation</h1>
    </div>
</div>

<div class="content">

    <div class="whitespace center">

        <h1>
            If it's not proportional, it's not representative.
        </h1>

        <h1>If it's not representative, it's not democracy</h1>

        <h1><a target="_blank" href="https://twitter.com/search?q=DemandDemocracy&src=typed_query">#DemandDemocracy</a>
        </h1>

    </div>

    <div class="whitespace center">
        <h1>"Westminster’s voting system is bankrupt. It’s time for proportional representation"</h1>

        <a href="https://www.electoral-reform.org.uk/westminsters-voting-system-is-bankrupt-its-time-for-proportional-representation/"
            target="_blank" class="mt-5">
            <img src="https://www.electoral-reform.org.uk/wp-content/uploads/2019/12/votes-per-seat-2019-992x561.jpg"
                alt="" class="mt-4">
            <h2>The Electoral Reform Society</h2>
        </a>

    </div>

    <div class="whitespace center">
        <h1>"Our broken voting system cheats most voters"</h1>
        <a href="https://www.makevotesmatter.org.uk/home" target="_blank">
            <img class="mw300"
                src="https://static1.squarespace.com/static/563e2841e4b09a6ae020bd67/t/56784140e0327c06bcda8262/1598959846689/?format=750w"
                alt="Make Votes Matter">
            <h2>Make Votes Matter</h2>
        </a>
    </div>

    <div class="whitespace center">
        <h1>"It's time to get PR done"</h1>
        <p>"... the latest election showed – once again – how undemocratic, downright corrupt and out-of-date the
            current so-called ‘First-Past-The-Post’ voting system really is."</p>
        <a href="http://bright-green.org/2020/02/10/its-time-to-get-pr-done/" target="_blank">
            <img class="mw300"
                src="https://i1.wp.com/bright-green.org/wp-content/uploads/2019/12/32724510171_d605e5099d_c.jpg"
                alt="It's time to get PR done">
        </a>
        <a href="https://www.facebook.com/GetPRDone/?comment_id=Y29tbWVudDoxMjcwMTE4MTI0MzQ4OTVfMTI3MTIyNDA5MDkwNTAy"
            target="_blank">
            <img class="mw300" src="assets/Get PR Done.PNG" alt="Get PR Done Facebook page">
        </a>
    </div>

    <div class="whitespace center">
        <h1>"A fair political system needs a fair voting system"</h1>
        <a href="https://unlockdemocracy.org.uk/blog-1/day-of-action-for-proprtional-representation" target="_blank">
            <img class="mw300"
                src="https://static1.squarespace.com/static/5bd057c434c4e2d8eb0434e6/t/5bf2d8f74d7a9c83ba3c6e8e/1598961408117/?format=1500w"
                alt="Unlock Democracy">
            <h2>Unlock Democracy</h2>
        </a>
    </div>

    <div class="whitespace center">
        <h1>"Fair Votes. Equal society"</h1>
        <p>Labour for a New Democracy is a joint project to secure a commitment to Proportional Representation at the
            next Labour Party conference, in 2021</p>
        <a href="https://www.labourforanewdemocracy.org.uk/" target="_blank">
            <img class="mw300"
                src="https://static1.squarespace.com/static/5e8f3586b8e0ee15bbf8d779/t/5eb2e4cb6c19e10175ddfe9b/1600072405218/?format=1500w"
                alt="Labour for a new democracy">
            <h2>Labour for a New Democracy</h2>
        </a>

    </div>

    <app-take-action></app-take-action>

</div>

<div class="tertiary">
    <div class="content">
        <h1 class="h1pad">Ask your MP or election candidate to sign up</h1>
    </div>
</div>

<div class="content">

    <h1>Never again vote for someone who</h1>

    <ul>
        <li>puts party before you, the voter</li>
        <li>is open to bribes or suceptible to bullying or blackmail by party whips</li>
        <li>thinks disproportional representation is a good system</li>
        <li>thinks the House of Lords has a future in a democracy fit for the 21st century</li>
    </ul>

    <h1>Ask them to put you, the voter first and sign up to</h1>

    <div class="CARD">

        <a routerLink="/you-first">
            <img class="mw300 Rotate30 center" src="assets/CARD2.png"
                alt="The Campaign for Representative Democracy logo">

            <h1 class="center mt-5">The Campaign for Representative Democracy</h1>
        </a>

    </div>

    <app-take-action></app-take-action>

</div>