<div class="dropdown menu">

  <ul class="nav nav-pills">
    <li><a routerLink="/" [ngClass]="{ active: isActive('/') }">Home</a>
    </li>
    <li>
      <a href="#" data-toggle="dropdown" [ngClass]="{ active: isActive('QuickPosts') }" class="dropdown-toggle">Quick Posts</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/trending" [ngClass]="{ active: isActive('/trending') }">trending</a></li>
        <li><a routerLink="/selected" [ngClass]="{ active: isActive('/selected') }">selected</a></li>
        <li><a routerLink="/tag" [ngClass]="{ active: isActive('/tag') }">my selected</a></li>
        <li><a routerLink="/my-posts" [ngClass]="{ active: isActive('/') }">my posts</a></li>
        <li><a routerLink="/favourite-posts" [ngClass]="{ active: isActive('/favourite-posts') }">favourite posts</a></li>
        <li><a routerLink="/post-of-the-week" [ngClass]="{ active: isActive('/post-of-the-week') }">post of the week</a></li>
        <li><a routerLink="/post-of-the-week-vote" [ngClass]="{ active: isActive('/post-of-the-week-vote') }">post-o-t-w vote</a></li>
      </ul>
    </li>
    <li><a routerLink="/join" [ngClass]="{ active: isActive('/join') }">Join</a></li>
    <li><a routerLink="/sign-in" [ngClass]="{ active: isActive('/sign-in') }">Sign In</a></li>
  </ul>


</div>