<div id="free-vote"> <!--for css overrides-->

  <button class="btn btn-primary" routerLink="/" [ngClass]="{ active: isActive('/') }">Home</button>

  <div class="btn-group" dropdown>
    <button dropdownToggle class="btn btn-primary dropdown-toggle" [ngClass]="{ active: isActive('QuickPosts') }">Quick Posts</button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a routerLink="/trending" class="dropdown-item" [ngClass]="{ active: isActive('/trending') }">trending</a>
      </li>
      <li role="menuitem">
        <a routerLink="/selected" class="dropdown-item" [ngClass]="{ active: isActive('/selected') }">selected</a>
      </li>
      <li role="menuitem">
        <a routerLink="/tag" class="dropdown-item" [ngClass]="{ active: isActive('/tag') }">[selected tag]</a>
      </li>
      <li role="menuitem">
        <a routerLink="/my-posts" class="dropdown-item" [ngClass]="{ active: isActive('/my-posts') }">my posts</a>
      </li>
      <li role="menuitem">
        <a routerLink="/favourite-posts" class="dropdown-item" [ngClass]="{ active: isActive('/favourite-posts') }">favourite posts</a>
      </li>
      <li role="menuitem">
        <a routerLink="/post-of-the-week" class="dropdown-item" [ngClass]="{ active: isActive('/post-of-the-week') }">post of the week</a>
      </li>
      <li role="menuitem">
        <a routerLink="/post-of-the-week-vote" class="dropdown-item" [ngClass]="{ active: isActive('/post-of-the-week-vote') }">post-o-t-w vote</a>
      </li>
    </ul>
  </div>



  <button routerLink="/join" class="btn btn-primary" [ngClass]="{ active: isActive('/join') }">Join</button>

  <button routerLink="/sign-in" class="btn btn-primary" [ngClass]="{ active: isActive('/sign-in') }">Sign In</button>

</div>