<form (ngSubmit)="onSubmit()" #formQuestion="ngForm">
  <!-- Title -->
  <div class="questionEdit m-3">
    <input
      placeholder="question"
      [(ngModel)]="questionClone.question"
      name="questionEdit"
      #tvQuestionTitle="ngModel"
      class="form-control"
      (blur)="onQuestionBlur()"
    />
  </div>

  <!-- Details: The Editor -->
  <app-cke-universal
    name="questionDetails"
    [(textToEdit)]="questionClone.details"
    #CKEfudge
  >
    <!-- ToDo: Fudge see point edit -->
  </app-cke-universal>

  <!-- Slash Tags -->
  <div class="m-3">
    <app-tags-edit [(Tags)]="questionClone.tags"></app-tags-edit>
  </div>

  <!-- ToolBar -->
  <div class="toolbar pt-2 pb-1">
    <span class="spinner-grow text-primary ms-3" role="status" *ngIf="saving">
      <span class="visually-hidden">Loading...</span>
    </span>

    <span class="fv-error" *ngIf="userTouched && !tvQuestionTitle.valid">
      Question text is required
    </span>

    <div class="fv-error mt-2" *ngIf="error && error !== ''">
      {{ error }}
    </div>

    <mat-checkbox [(ngModel)]="questionClone.draft" name="draftQuestion">
      draft
    </mat-checkbox>

    <div class="flexStretch"></div>

    <button mat-stroked-button type="button" (click)="Cancel()">
      <mat-icon>cancel</mat-icon>
      cancel
    </button>

    <button mat-stroked-button>
      <mat-icon>save</mat-icon>
      save
    </button>

    <span class="spinner-grow text-primary ms-3" role="status" *ngIf="waiting">
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>
</form>
