form {
    border: solid 2px green;
}

.questionEdit {
    width: 100%;
}

input {
    font-size: 32px;
}

mat-checkbox {
    position: relative;
    top: 5px;
    padding: 20px;
}

button {
    margin: 0px 10px 0 0;
}