/* https://en.wikipedia.org/wiki/Wikipedia:Index_of_United_Kingdom_political_parties_meta_attributes */

.AlliancePartyOfNorthernIreland {
  background-color: #f6cb2f;
}
.BrexitParty {
  background-color: #12b6cf;
}
.BritainFirst {
  background-color: #2d3876;
}
.BritishNationalParty {
  background-color: #2e3b74;
}
.Conservative {
  background-color: #0087dc;
}
.DemocraticUnionistParty {
  background-color: #d46a4c;
}
.Green {
  background-color: #02a95b;
}
.Independent {
  background-color: #dddddd;
}
.LabourAndCooperativeParty {
  background-color: #e4003b;
}
.Labour {
  background-color: #e4003b;
}
.LiberalDemocrats {
  background-color: #faa61a;
}
.PlaidCymru {
  background-color: #005b54;
}
.ReformUK {
  background-color: #12b6cf;
}
.ScottishGreenParty {
  background-color: #00b140;
}
.ScottishNationalParty {
  background-color: #fdf38e;
}
.SocialDemocraticAndLabourParty {
  background-color: #2aa82c;
}
.SinnFein {
  background-color: #326760;
}
.SocialDemocraticParty {
  background-color: #d25469;
}
.TheOfficialMonsterRavingLoonyParty {
  background-color: #fff000;
}
.UKIndependenceParty {
  background-color: #6d3177;
}
.UlsterUnionistParty {
  background-color: #48a5ee;
}
.WorkersPartyOfBritain {
  background-color: #db251e;
}
