/* You can add global styles to this file, and also import other style files */

/* Import prebuilt Angular Material Theme */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* import custom material theme */
@import 'freevote-theme.scss';

/* Bootstrap was in index.html up to Angular 12 */
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
  /* for slide right transistion */
}

body,
app-root, /* app-root in index.html */
main,
router-outlet + *, /* All content injected after router-outlet */
.tabContainer,
.tabContent {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
  justify-content: stretch; /* col height */
  align-items: stretch; /* col width */
}

.overflow-hidden {
  overflow: hidden;
}

// FlexBox

.flexRow {
  display: flex;
  flex-flow: row;
  gap: 10px;
}

.flexCol {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.reverse {
  flex-flow: row-reverse; /* special case for tags and points slash tag button */
}

.flexStretch {
  flex: 10 1;
}

// Main axis alignment

.justify-start {
  justify-content: flex-start; /*  */
}

.justify-end {
  justify-content: flex-end; /*  */
}

.justify-center {
  justify-content: center; /* center on the row */
}

.justify-space-between {
  justify-content: space-between; /*  */
}

.justify-space-around {
  justify-content: space-around; /*  */
}

.justify-space-evenly {
  justify-content: space-evenly; /*  */
}

// Cross axis alignment

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.primary {
  color: #3700b3;
}

/* Need waiting to begin save: Can't transition to 0 opacity if already transparent */
.waiting {
  opacity: 1;
}

.success {
  opacity: 0;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  -ms-transition: opacity 3s;
  transition: opacity 3s;
}

div.toolbar {
  background-color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

div.toolbar mat-form-field {
  margin-bottom: -20px;
}

/* Ha won that fight! */

/* FreeVote Tabs */

.tabContainer {
  overflow: hidden;
  position: relative;
}

@media (max-width: 940px) {
  .tabContainer {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.tabContent {
  position: absolute; /* all tabs start at same position */
  top: 0;
  /* lose some flexy fill on position absolute? */
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.centerStage {
  position: relative;
  left: 0px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
  z-index: 5;
}

.scroller {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.stageLeft {
  position: relative;
  left: -1000px;
  min-width: 800px;
  opacity: 0;

  /* [matches - for no scrollbars on recent and trending] */
  max-height: 20vh;
  overflow: hidden;
  z-index: -1;
  /* Otherwise links still active with 0 opacity */
}

.stageRight {
  position: relative;
  left: 1000px;
  min-width: 800px;
  /* Allow to leave with respectable width */
  opacity: 0;

  /* for no scrollbars on recent and trending */
  max-height: 20vh;
  overflow: hidden;
  z-index: -1;
  /* Otherwise links still active with 0 opacity */
}

.centerStage,
.stageLeft,
.stageRight {
  /*Animation*/
  -webkit-transition: left 0.25s ease-out, opacity 0.25s ease-out,
    height 0.25s ease-out;
  -moz-transition: left 0.25s ease-out, opacity 0.25s ease-out,
    height 0.25s ease-out;
  -o-transition: left 0.25s ease-out, opacity 0.25s ease-out,
    height 0.25s ease-out;
  -ms-transition: left 0.25s ease-out, opacity 0.25s ease-out,
    height 0.25s ease-out;
  transition: left 0.25s ease-out, opacity 0.25s ease-out, height 0.25s ease-out;
}

.linkCloud {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.point {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
}

@media (max-width: 960px) {
  .pointTitleRow {
    margin-bottom: 5px;
  }
}

.pagePreview {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 960px) {
  .pagePreview.ltmd {
    margin: 0 0 10px 0;
  }
}

.pagePreview a {
  text-decoration: none;
}

.websiteMeta {
  display: flex;
  border: solid 1px black;
  border-radius: 12px;
  color: black;
  overflow: hidden;
  background-color: #f0f4ff;
  max-height: 120px;
}

.websiteMeta:hover,
.preview {
  color: #3700b3;
}

// websiteMetaImage is the div container
.websiteMetaImage {
  flex-basis: 30%;
  min-width: 30%;
  overflow: hidden;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
/* https://stackoverflow.com/questions/37127384/why-isnt-object-fit-working-in-flexbox */

.websiteMeta img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.websiteMetaText {
  flex-grow: 1;
  margin: 10px;
}

/* Clamp on title and description - 1 and 3 lines respectively for ellipsis */
/* https://hackingui.com/a-pure-css-solution-for-multiline-text-truncation/ */
.linkTitle {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.linkDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 600px) {
  .websiteMetaText.linkTitle {
    font-size: 0.8em;
    font-weight: bolder;
    margin-bottom: 8px;
  }

  .websiteMetaText {
    font-size: 0.75em;
  }
}

/* https://stackoverflow.com/questions/21647920/responsive-iframe-with-max-width-and-height */

.youTube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youTube iframe,
.youTube object,
.youTube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youTube + .youTube {
  margin-top: 20px;
}

.topZ {
  z-index: 10;
}

/* align-middle is a Material class???
https://daemonite.github.io/material/docs/4.1/utilities/vertical-align/ ???? 
https://css-tricks.com/centering-css-complete-guide/ */
.align-middle {
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
}

.tar {
  text-align: right;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

button + span {
  margin-left: 5px;
}

/* ToDo apply class mi to spans preceding mat-icon */
span.mi + mat-icon {
  margin-left: 8px;
}

/* bootstrap override */
button:focus {
  outline: none;
}

a {
  color: #3700b3;
}

a + a {
  margin-left: 10px;
}

a:hover,
.selected,
button.mdc-button.selected,
button.mat-mdc-menu-item.mdc-list-item.selected /* Angular 15 */ {
  background-color: #e7e7e7;
}

.multiLine {
  white-space: pre-line;
}

a:hover {
  text-decoration: none;
}

.b {
  font-weight: bold;
}

/* DO NOT MOVE UGC styles to component */
/* injected content without view encapsulation None */
/* https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling */

.hidden {
  display: none;
}

/* xs and sm */
@media screen and (max-width: 959px) {
  .ugc h1 {
    font-size: 1.1em;
    font-weight: 600; /* Semi Bold */
    margin-bottom: 0px;
  }
  .ugc h2 {
    font-size: 1em;
  }
  .ugc p {
    font-size: medium;
  }
}

/* medium and above */
@media screen and (min-width: 960px) {
  .ugc h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .ugc h2 {
    font-size: 1.1em;
    font-weight: bold;
  }
  .ugc p {
    font-size: medium;
  }
}

.ugc img {
  max-width: 100%;
  max-height: 320px;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}

.ugc.porQ p:last-of-type {
  margin-bottom: 0;
}

.issueContext p {
  margin-bottom: 0 !important;
}

/* end injected content */

.tags {
  margin-top: 20px;
}

.fv-error {
  color: red;
}

.Feedback * {
  line-height: 100%;
  vertical-align: middle;
}

.ck-editor__editable {
  min-height: 200px;
}

/*passive link input Angular https://stackoverflow.com/questions/35639174/passive-link-in-angular-2-a-href-equivalent*/
.linkCloud a,
a.slashTag,
a.clicker {
  color: #3600cc !important;
  text-decoration: none;
  cursor: pointer;
}

.linkCloud a:hover,
a.slashTag:hover,
a.clicker:hover {
  text-decoration: none;
  color: #3600cc !important;
  /* Bootstrap override */
}

.slashTag + .slashTag {
  margin-left: 10px;
}

// Tag Colours
.tagByOther {
  background-color: #ffd700;
}
.tagByMe {
  background-color: greenyellow;
}
.tagDelete {
  background-color: lightgray;
}

/* https://www.canva.com/colors/color-wheel/ */
.HeadInactive {
  text-align: center;
  font-weight: bold;
  background-color: #fffcf2;
  border-bottom: solid 2px #ffd85d;
  border-top: solid 2px #ffd85d;
}

.Issues,
.Questions,
.QuestionsInactive {
  background-color: #fffcf2;
}

.Perspectives,
.PerspectivesInactive {
  background-color: #f2f5ff;
}

.Proposals,
.ProposalsInactive {
  background-color: #f2fff5;
}

.HeadActive {
  background-color: #fff4d0;
  border: solid 2px #ffd85d;
  font-weight: bold;
}

.IssuesActive,
.QuestionsActive {
  background-color: #fff4d0;
  border: solid 2px #ffd85d;
}

.PerspectivesActive {
  background-color: #d0dbff;
  border: solid 1px #5d84ff;
}

.ProposalsActive {
  background-color: #d0ffdc;
  border: solid 2px #5dff87;
}

.HeadInactiveHover {
  background-color: #fff4d0;
  cursor: pointer;
}

.Issues:hover,
.Questions:hover {
  background-color: #fff4d0;
  cursor: pointer;
}

.Perspectives:hover {
  background-color: #d0dbff;
  cursor: pointer;
}

.Proposals:hover {
  background-color: #d0ffdc;
  cursor: pointer;
}

.smaller {
  font-size: 0.8rem;
  color: gray;
}

.small {
  font-size: 0.7rem;
  color: gray;
}

input {
  border: none;
  font-size: 1.2em;
  flex: 1;
}
