.candidate {
  border: solid 1px black;
  border-radius: 12px;
  color: black;
  overflow: hidden;
  background-color: #f0f4ff;
  max-width: 160px;
}

.flexCol.candidateData {
  gap: 2px;
  padding: 0px 5px 10px 5px;
}

.candidate.elected {
  background-color: #ffffe0;
}

.candidate.selected {
  background-color: #ccffff;
}

div.candidateOnly {
  width: 150px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
/* https://stackoverflow.com/questions/37127384/why-isnt-object-fit-working-in-flexbox */

.candidate img {
  border-radius: 12px;
  object-fit: cover;
  object-position: center center;
  max-width: 120px;
  max-height: 120px;
}

.candidate div {
  text-align: center;
}

.Party {
  height: 10px;
}

/* https://en.wikipedia.org/wiki/Wikipedia:Index_of_United_Kingdom_political_parties_meta_attributes */

.AlliancePartyOfNorthernIreland {
  background-color: #f6cb2f;
}
.BritainFirst {
  background-color: #2d3876;
}
.BritishNationalParty {
  background-color: #2e3b74;
}
.Conservative {
  background-color: #0087dc;
}
.DemocraticUnionistParty {
  background-color: #d46a4c;
}
.Green {
  background-color: #02a95b;
}
.Independent {
  background-color: #dddddd;
}
.LabourAndCooperativeParty {
  background-color: #e4003b;
}
.Labour {
  background-color: #e4003b;
}
.LiberalDemocrats {
  background-color: #faa61a;
}
.PlaidCymru {
  background-color: #005b54;
}
.ReformUK {
  background-color: #12b6cf;
}
.ScottishGreenParty {
  background-color: #00b140;
}
.ScottishNationalParty {
  background-color: #fdf38e;
}
.SocialDemocraticAndLabourParty {
  background-color: #2aa82c;
}
.SinnFein {
  background-color: #326760;
}
.TheOfficialMonsterRavingLoonyParty {
  background-color: #fff000;
}
.UKIndependenceParty {
  background-color: #6d3177;
}
.UlsterUnionistParty {
  background-color: #48a5ee;
}
