.candidate {
  border: solid 1px black;
  border-radius: 12px;
  color: black;
  overflow: hidden;
  background-color: #f0f4ff;
  width: 150px;
}

.flexCol.candidateData {
  gap: 2px;
  padding: 0px 5px 10px 5px;
}

.candidate.elected {
  background-color: #ffffe0;
}

.candidate.selected {
  background-color: #ccffff;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
/* https://stackoverflow.com/questions/37127384/why-isnt-object-fit-working-in-flexbox */

.candidate img {
  border-radius: 12px;
  object-fit: cover;
  object-position: center center;
  max-width: 120px;
  max-height: 120px;
}

.candidate div {
  text-align: center;
}

.Party {
  height: 10px;
}
