<div class="flexCol justify-start candidate">
  <div>
    <img *ngIf="!!candidate.image" [src]="candidate.image" alt="" />
    <img
      *ngIf="!candidate.image"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/108px-Unknown_person.jpg"
      alt=""
    />
  </div>
  <div>
    {{ candidate.name }}
  </div>
  <div>
    {{ candidate.party }}
  </div>
  <div *ngIf="!!candidate.laterConstituency">
    Has stood since in {{ candidate.laterConstituency }}
  </div>
</div>
