<div class="linkCloud">
  <div class="header flexRow wrap justify-space-between align-center">
    <h1 *ngIf="forConstituency">
      {{ localData.freeVoteProfile.constituency }}
    </h1>
    <div></div>
    <div>
      <!-- Trending -->
      <button
        mat-raised-button
        matTooltip="slash-tags"
        matTooltipPosition="above"
        [class.selected]="
          !tagSearch && localData.tagCloudType === TagCloudTypes.Trending
        "
        (click)="FetchTrendingTags()"
      >
        trending
      </button>

      <!-- Recent -->
      <button
        mat-raised-button
        matTooltip="slash-tags"
        matTooltipPosition="above"
        [class.selected]="
          !tagSearch && localData.tagCloudType === TagCloudTypes.Recent
        "
        (click)="FetchRecentTags()"
      >
        recent
      </button>

      <!-- Tag Search -->
      <button
        mat-raised-button
        matTooltip="slash tag search"
        matTooltipPosition="above"
        [class.selected]="tagSearch"
        (click)="TagSearch()"
      >
        search
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <app-tag-search
    *ngIf="tagSearch"
    #tagSearch
    (Cancel)="CancelTagSearch()"
    (Tags)="TagSearchResult($event)"
  >
  </app-tag-search>

  <div *ngIf="waiting">
    <div>fetching tags</div>
    <div class="spinner-grow text-info my-5 ms-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Tag List/Search Results -->
  <ng-container *ngFor="let slashTag of tags">
    <div id="container">
      <a
        [innerHTML]="slashTag.tagDisplay | TagDisplay"
        [ngStyle]="{
          'font-size': FontSize(slashTag.tagWeight),
          'padding-right': '10px'
        }"
        (click)="setSlashTag(slashTag.slashTag)"
      ></a>
      <span
        *ngIf="slashTag.unseenPoints > 0"
        class="mybadge"
        [ngStyle]="{ top: 5 * slashTag.tagWeight - 12 + 'px' }"
        >{{ slashTag.unseenPoints }}</span
      >
    </div>
  </ng-container>

  <div *ngIf="error" class="text-danger mx-3">
    {{ error }}
  </div>
</div>
