<div class="flexCol">
  <div class="header">
    <div class="flexRow wrap justify-center align-center">
      <!-- Trending -->
      <button
        mat-raised-button
        matTooltip="slash-tags"
        matTooltipPosition="below"
        [class.selected]="!tagSearch && tagCloudType === TagCloudTypes.Trending"
        (click)="FetchTrendingTags()"
      >
        trending
      </button>

      <!-- Recent -->
      <button
        mat-raised-button
        matTooltip="slash-tags"
        matTooltipPosition="below"
        [class.selected]="!tagSearch && tagCloudType === TagCloudTypes.Recent"
        (click)="FetchRecentTags()"
      >
        recent
      </button>

      <!-- Tag Search -->
      <button
        mat-raised-button
        matTooltip="slash tag search"
        matTooltipPosition="below"
        [class.selected]="tagSearch"
        (click)="TagSearch()"
      >
        search
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <h1 *ngIf="localData.forConstituency" class="h1Constituency">
      {{ localData.freeVoteProfile.constituency }}
    </h1>
  </div>

  <div class="scroller">
    <div class="content">
      <div class="linkCloud">
        <app-tag-search
          *ngIf="tagSearch"
          #tagSearch
          [ForConstituency]="localData.forConstituency"
          (Cancel)="CancelTagSearch()"
          (Tags)="TagSearchResult($event)"
        >
        </app-tag-search>

        <div *ngIf="waiting">
          <div>fetching tags</div>
          <div class="spinner-grow text-info my-5 ms-3" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <!-- Tag List/Search Results -->
        <ng-container *ngFor="let slashTag of tags">
          <div id="container">
            <a
              [innerHTML]="slashTag.tagDisplay | TagDisplay"
              [ngStyle]="{
                'font-size': FontSize(slashTag.tagWeight),
                'padding-right': '10px'
              }"
              (click)="setSlashTag(slashTag.slashTag)"
            ></a>
            <span
              *ngIf="slashTag.unseenPoints > 0"
              class="mybadge"
              [ngStyle]="{ top: 5 * slashTag.tagWeight - 12 + 'px' }"
              >{{ slashTag.unseenPoints }}</span
            >
          </div>
        </ng-container>

        <div *ngIf="error" class="text-danger mx-3">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</div>
