<div fxFill fxLayout="column">

  <!-- Begin tab selection and point sort order -->

  <div class="buttonBar" ngClass.gt-xs="mt-3" fxLayout="row wrap" fxLayoutAlign="center">

    <button mat-button (click)="ChangeTab(0)" [class.selected]="tabIndex===0" matTooltip="your active group membership">
      <span>current</span>
      <mat-icon>people_alt</mat-icon>
    </button>

    <button mat-button (click)="ChangeTab(1)" [class.selected]="tabIndex===1" matTooltip="groups available to join">
      <span>available</span>
      <mat-icon>emoji_people</mat-icon>
    </button>

    <button mat-button (click)="ChangeTab(2)" [class.selected]="tabIndex===2" matTooltip="create new group">
      <span>create new</span>
      <mat-icon>people_outline</mat-icon>
    </button>

  </div>



  <!-- Begin Tab Content -->

  <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="tabContainer">

    <div class="tabContent scroller" [ngClass]="{'topZ':tabIndex===0}">
      <div [ngClass]="{
        'centerStage': tabIndex===0, 
        'stageLeft': tabIndex>0 }" fxFill>
        <div fxLayoutAlign="center">
          <div class="content">
            <app-group-list #GroupMembership [CurrentMembership]="true"></app-group-list>
          </div>
        </div>
      </div>
    </div>

    <div class="tabContent scroller" [ngClass]="{'topZ':tabIndex===1}">
      <div [ngClass]="{
        'centerStage': tabIndex===1, 
        'stageLeft': tabIndex>1, 
        'stageRight': tabIndex<1}" fxFill>
        <div fxLayoutAlign="center">
          <div class="content">
            <app-group-list #GroupsAvailable [CurrentMembership]="false"></app-group-list>
          </div>
        </div>
      </div>
    </div>

    <div class="tabContent scroller" [ngClass]="{'topZ':tabIndex===2}">
      <div [ngClass]="{
        'centerStage': tabIndex===2, 
        'stageLeft': tabIndex>2, 
        'stageRight': tabIndex<2}" fxFill>
        <div fxLayoutAlign="center">
          <div class="content">
            <app-group-edit (Cancel)="CancelNew()" (Complete)="CompleteNew($event)" [group]="NewGroup" #NewGroupComponent></app-group-edit>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>