<!-- Menu Trigger -->

<button
  mat-button
  [matMenuTriggerFor]="pointsAndQuestionsMenu"
  matTooltip="show points or questions"
  matTooltipPosition="above"
>
  select
  <mat-icon>search</mat-icon>
</button>

<!-- Search and Sort menu -->

<mat-menu #pointsAndQuestionsMenu="matMenu">
  <!-- 1. Show Search (Point Filter) Options -->
  <button
    mat-menu-item
    (click)="toggleShowPointFilterCriteria()"
    [matTooltip]="filterToolTip"
    matTooltipPosition="right"
  >
    <mat-icon>{{ filterIcon }}</mat-icon>
    {{ filterText }}
  </button>

  <!-- 2. Feedback Switch -->
  <button
    mat-menu-item
    (click)="toggleFeedback()"
    matTooltip="toggle feedback"
    matTooltipPosition="right"
  >
    <mat-icon>{{ feedbackIcon }}</mat-icon>
    {{ feedbackText }}
  </button>

  <!-- 3. Refresh -->
  <button
    mat-menu-item
    (click)="refreshSelection()"
    matTooltip="refresh"
    matTooltipPosition="right"
  >
    <mat-icon>refresh</mat-icon>
    refresh
  </button>
</mat-menu>
