<div class="newcontent">
    <h1>Non Scroll</h1>

    <img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/1/e/c/4/highres_446467876.jpeg" alt="">

</div>



<div class="stretcher">
    <h1>Stretcher</h1>
    <div class="scrollable">
        <h1>Scrollable</h1>
        <div class="newcontent ugc">

            <p>.tabContainer
                overflow: hidden;
                position: relative;
                height: 100%;
            </p>

            <img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/1/e/c/4/highres_446467876.jpeg"
                alt="">
            <img src="https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/1/e/c/4/highres_446467876.jpeg"
                alt="">
        </div>
    </div>
</div>