.fullWidth {
    width: 100%
}

.noMargin {
    margin: 0 !important;
}



button.mat-stroked-button.mat-button-base {
    margin: 0;
}

mat-form-field+button {
    margin-left: 25px !important;
}

.mat-checkbox {
    margin-right: 15px !important;
}

.mat-radio-button {
    margin-left: 15px !important;
}

.mat-icon-button {
    margin-right: 0px !important;
}

.filters span {
    margin-right: 10px;
}

mat-form-field+button {
    margin-left: 16px;
}

.hide {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.show {
    max-height: 120px;
    /* When datepicker filters wrap on mobile */
    overflow: hidden;
    opacity: 1;
}

.show,
.hide {
    transition: max-height .6s ease-out,
        opacity .6s ease-out;
}

hr {
    height: 5px;
    background: gray;
}

.mat-form-field-autofill-control {
    max-width: 100px;
}

.myMatInput {
    width: 160px;
}

app-points-list, app-questions-list {
    width: 100%;
    position: relative;
    overflow: hidden;
}