<div [innerHTML]="point.PointText"></div>

<div>
    {{point.DateTimeUpdated}}
</div>

<div>
    <a *ngFor="let tag of tags" routerLink="{{ tag }}">{{ tag }}</a> {{ router.url }}
</div>

<ng-container *ngIf="signedIn">
    <div class="circle wow" [ngClass]="point.WoWVote? 'chosen' : ''" data-toggle="tooltip" data-placement="bottom" title="WoW vote">w</div>
    <div class="circle support" [ngClass]="point.SupportLevelID==1? 'chosen' : ''" data-toggle="tooltip" data-placement="bottom" title="support">+</div>
    <div class="circle neutral" [ngClass]="point.SupportLevelID==-8? 'chosen' : ''" data-toggle="tooltip" data-placement="bottom" title="neutral">~</div>
    <div class="circle oppose" [ngClass]="point.SupportLevelID==-1? 'chosen' : ''" data-toggle="tooltip" data-placement="bottom" title="oppose">--</div>
    <div class="circle report" [ngClass]="point.SupportLevelID==-9? 'chosen' : ''" data-toggle="tooltip" data-placement="bottom" title="report">!</div>
</ng-container>

<hr *ngIf="!point.LastRow" />