.app {
  max-height: 100vh;
  overflow: hidden;
}

/* https://colorhunt.co/palette/161649 */
#titleBar {
  color: white;
  background-color: #6900ff;
  height: 60px;
  width: 100%;
  position: relative;
}

nav {
  width: 100%;
  color: white;
  background-color: #9155ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#titleBar h1 {
  margin: 0;
}

#titleBar button {
  margin-left: 10px;
}

.burger {
  position: absolute;
  left: 0;
}

.burgerButton {
  color: white;
  background-color: transparent;
  border: none;
}

#title {
  position: absolute;
  left: 50px;
  right: 50px;
  text-align: center;
}

#offline {
  position: absolute;
  right: 0;
}

.under500 {
  font-size: 0.9em;
}

h1 {
  font-size: 1.5em;
}

.imgCredit {
  font-size: small;
}

.footerHide {
  max-height: 0px;
  overflow: hidden;
}

.footerShow {
  max-height: 190px;
}

.footerShow,
.footerHide {
  transition: max-height 0.5s ease-out;
}

.footer {
  width: 100%;
  z-index: 100;
  background-color: black;
  color: white;
}

.footer .x-small {
  font-size: x-small;
}

.footer .small {
  font-size: small;
}

.footer .gt-small {
  font-size: medium;
}

.copyright {
  margin-left: 10px;
  margin-right: 10px;
}

.yellow {
  color: yellow;
}
