<div class="title">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <app-menu></app-menu>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="center-block site-content" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        {{ strapline }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-right">
        © free.vote, 2017
    </div>
  </div>
</div>