<div class="titleBar flexRow justify-center align-center">
  <!-- Burger menu for small screens -->
  <div *ngIf="showBurger" class="burger">
    <button type="button" class="burgerButton" (click)="toggleBurgerMenu()">
      <mat-icon aria-label="drop down menu">menu</mat-icon>
    </button>
  </div>

  <!-- Big URL confirmation -->
  <h1 [title]="pageTitleToolTip" [ngClass]="{ under500: under500 }">
    {{ routeDisplay }}
  </h1>

  <div *ngIf="offline" class="amr-3" id="offline">OFFLINE</div>
</div>

<!-- Burger menu opened by the show menu button above -->
<app-nav-burger #burgerMenu></app-nav-burger>

<!-- Main Menu on large screens -->
<div>
  <nav *ngIf="!showBurger">
    <app-nav-main #navMain></app-nav-main>
  </nav>
</div>

<main (click)="closeBurgerMenu()">
  <router-outlet></router-outlet>
  <!-- Content injected AFTER, not within -->
</main>

<div [hidden]="!showVulcan">
  <div class="content">
    <img
      [src]="imgVulcan"
      [alt]="altVulcan"
      class="ms-3"
      height="143"
      (click)="vulcan()"
    />
  </div>

  <div class="footer">
    <div class="strapline">
      {{ localData.strapline }}
    </div>

    <div class="copyright">{{ localData.website }} 2023 v15.7.26</div>
  </div>
</div>
