<div fxFill fxLayout="column" class="app">

  <div id="titleBar">

    <!-- Burger menu for small screens -->
    <div *ngIf="showBurger" class="burger VC">
      <button type="button" class="burgerButton" (click)="toggleBurgerMenu()">
        <mat-icon aria-label="drop down menu">menu</mat-icon>
      </button>
    </div>

    <!-- Big URL confirmation -->
    <div id="title" class="VC">
      <h1 [title]="pageTitleToolTip" [ngClass]="{under500:under500}">
        <span *ngIf="routeDisplay===''">
          {{ localData.website }}
        </span>
        {{ routeDisplay }}
      </h1>
    </div>

    <div *ngIf="offline" class="amr-3 VC" id="offline">
      OFFLINE
    </div>
  </div>

  <app-nav-burger #burgerMenu></app-nav-burger>

  <!-- Main Menu on large screens -->
  <nav fxLayoutAlign="center" *ngIf="!showBurger">
    <app-nav-main #navMain></app-nav-main>
  </nav>

  <!-- Use of main element is messing with flexLayout -->
  <div fxFlex (click)="closeBurgerMenu()">
    <router-outlet></router-outlet>
  </div>

  <!-- https://stackoverflow.com/questions/47829727/sticky-footer-at-bottom-in-angular -->

  <div [ngClass]="{footerShow:showVulcan, footerHide:!showVulcan}">

    <div fxLayoutAlign="center">
      <div class="content" fxLayoutAlign="start end">
        <img [src]="imgVulcan" [alt]="altVulcan" class="ms-3" height="143" (click)="vulcan()">
        <span class="imgCredit" *ngIf="localData.website==='break-out.group'">Image by <a
            href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from<a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
      </div>
    </div>

    <div fxLayout="row" [ngClass.lt-sm]="'x-small'" [ngClass.sm]="'small'" [ngClass.gt-sm]="'gt-small'" class="footer">

      <div fxFlex fxHide.lt-sm></div>

      <div fxFlex class="center" [ngClass.lt-sm]="'x-small'">
        <span class="align-middle" [ngClass.xs]="'xs-strapline'">
          {{ localData.strapline }}
        </span>
      </div>

      <div fxFlex fxHide.xs>
        <span fxFlex></span>
        <span class="align-middle yellow">
          {{ localAPI }}
        </span>
        <span class="align-middle copyright" (click)="toggleLocalAPI()">
          {{ localData.website }} 2022 v14.1.0
        </span>
      </div>

    </div>

  </div>

</div>