form {
  border: solid 2px green;
}

.mediaLinks {
  background-color: #e6ffe6;
}

mat-checkbox {
  padding-right: 20px;
  padding-bottom: 0px;
  position: relative;
  top: 20px;
}

mat-checkbox.draft {
  margin-left: 15px;
  padding-right: 20px;
  top: 10px;
}

.pointTitle {
  width: 100%;
}

button {
  margin: 10px 10px 0 0;
}

/* 
    Unexpected vertical scrollbar when edit last point on page 
    Can remove by removing following in developer tools, but doesn't work in css overide
*/

/* .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0em !important; 
}

.mat-form-field-wrapper { 
    padding-bottom: 0em !important; 
} */
