<form (ngSubmit)="onSubmit()" #formPoint="ngForm">
  <!-- Title -->
  <div class="m-3">
    <input
      placeholder="point title"
      [(ngModel)]="pointClone.pointTitle"
      type="text"
      name="pointTitle"
      class="form-control"
      #tvPointTitle
    />
  </div>

  <!-- The Editor -->
  <app-cke-universal
    name="point"
    [(textToEdit)]="pointClone.pointHTML"
    (blur)="onCKEBlur()"
    #CKEfudge
  >
  </app-cke-universal>

  <!-- Image Upload -->
  <div
    class="px-3 pt-3 mediaLinks"
    *ngIf="imageFileForUpload || uploadingImage"
  >
    <div>
      <div *ngIf="imageFileForUpload">
        <!-- To Be Animated with css transition" -->
        <mat-form-field>
          <input
            matInput
            placeholder="image to be uploaded"
            [(ngModel)]="imageName"
            readonly
            name="imagePath"
          />
        </mat-form-field>
        <button
          mat-stroked-button
          class="ms-3"
          type="button"
          (click)="uploadImage()"
        >
          <mat-icon>publish</mat-icon>
          upload
        </button>
      </div>

      <div *ngIf="uploadingImage">
        <mat-progress-bar
          mode="determinate"
          [value]="imageUploadProgress"
        ></mat-progress-bar>
      </div>
    </div>
  </div>

  <!-- Slash Tags -->
  <div *ngIf="allowTags" class="m-3">
    <app-tags-edit [(Tags)]="pointClone.tags"></app-tags-edit>
  </div>

  <!-- ToolBar -->
  <div class="toolbar pb-1">
    <!-- Using [(ngModel)] is the correct way to do this 
      https://stackoverflow.com/questions/46000950/angular-4-setting-selected-option-in-dropdown -->
    <mat-form-field>
      <mat-select
        (ngModelChange)="onPointTypeChange($event)"
        name="pt"
        [(ngModel)]="pointClone.pointTypeID"
      >
        <mat-option
          *ngFor="let pointType of pointTypes"
          [value]="pointType.value"
          >{{ pointType.key }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-checkbox
      [(ngModel)]="pointClone.draft"
      name="draftPoint"
      class="draft"
    >
      draft
    </mat-checkbox>

    <!-- https://www.youtube.com/watch?v=YkvqLNcJz3Y -->
    <input
      type="file"
      (change)="imageSelected($event)"
      style="display: none"
      #imageSelect
    />
    <button
      mat-stroked-button
      type="button"
      *ngIf="!imageFileForUpload"
      (click)="imageSelect.click()"
    >
      <mat-icon>add_photo_alternate</mat-icon>
      add image
    </button>

    <button
      mat-stroked-button
      type="button"
      *ngIf="imageFileForUpload"
      (click)="imageRemove()"
    >
      <mat-icon>clear</mat-icon>
      remove images
    </button>

    <div class="flexStretch"></div>

    <button mat-stroked-button type="button" (click)="Cancel()">
      <mat-icon>cancel</mat-icon>
      cancel
    </button>

    <button mat-stroked-button>
      <mat-icon>save</mat-icon>
      save
    </button>

    <span class="spinner-grow text-primary ms-3" role="status" *ngIf="waiting">
      <span class="visually-hidden">Loading...</span>
    </span>

    <span class="fv-error" *ngIf="userTouched">
      <!-- && !tvPoint.valid -->
      Point text is required
    </span>

    <div class="fv-error mt-2" *ngIf="error && error !== ''">
      {{ error }}
    </div>
  </div>
</form>
