<div class="p-3">
  <h1>
    {{
      data.constituencyTags
        ? localData.freeVoteProfile.constituency
        : 'National'
    }}
  </h1>

  <app-tags-edit
    [(Tags)]="TagsDisplay"
    [ConstituencyID]="constituencyID"
  ></app-tags-edit>

  <div>
    <mat-checkbox
      [(ngModel)]="data.constituencyTags"
      (change)="onConstituencyFilterChanged($event)"
      >constituency tags</mat-checkbox
    >
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="AllTags">
      <mat-icon>save</mat-icon>
      save
    </button>
    <button mat-stroked-button mat-dialog-close>
      <mat-icon>cancel</mat-icon>
      cancel
    </button>
    <button mat-stroked-button (click)="showHelp = !showHelp">
      <mat-icon>help_outline</mat-icon>
      help
    </button>

    <div *ngIf="fetchingTags" fxLayout="start stretch">
      <span class="spinner-grow text-info m-2" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </div>
  </div>
  <div *ngIf="showHelp" class="help">
    <table>
      <tr>
        <th>
          <div class="topic tagByOther">other</div>
        </th>
        <td>Another voter has tagged this point</td>
      </tr>
      <tr>
        <th>
          <div class="topic tagByMe">me</div>
        </th>
        <td>You have tagged this point</td>
      </tr>
      <tr>
        <th>
          <div class="topic tagDelete">remove</div>
        </th>
        <td>Your tag will be removed</td>
      </tr>
      <tr>
        <th>
          <mat-icon class="aml-2 amt-1">add_circle</mat-icon>
        </th>
        <td>add your tag</td>
      </tr>
      <tr>
        <th>
          <mat-icon class="aml-2 amt-1">remove_circle</mat-icon>
        </th>
        <td>remove your tag</td>
      </tr>
    </table>
  </div>
</div>
