<div class="ugc pb-3">

    <div class="mt-5 mb-3">
        <h1>{{ tagDisplay }} break-out groups</h1>
        <button mat-stroked-button (click)="viewMyGroups()" [class.selected]="viewingCurrent">
            <mat-icon>groups</mat-icon>
            groups joined
        </button>
        <button mat-stroked-button (click)="viewAvailable()" [class.selected]="joinAnother">
            <mat-icon>person_add</mat-icon>
            join another
        </button>
        <button mat-stroked-button (click)="startNew()" [class.selected]="startingNew">
            <mat-icon>group</mat-icon>
            start new
        </button>
        <button mat-stroked-button (click)="refresh()">
            <mat-icon>refresh</mat-icon>
            refresh
        </button>
    </div>

    <div *ngIf="viewingCurrent">
        <p *ngFor="let bog of breakoutGroups">
            <a (click)="bogSelected(bog.breakoutRoom)" class="clicker">{{ bog.breakoutRoom }} ({{
                bog.characterTheme }}) {{
                bog.characterName }}</a>
        </p>
    </div>

    <div *ngIf="joinAnother">
        <p *ngFor="let bog of breakoutGroups">
            <a (click)="groupJoin(bog.breakoutGroupID)" class="clicker">{{ bog.breakoutRoom }} ({{
                bog.characterTheme }}) {{
                bog.characterName }}</a>
        </p>
    </div>

    <div *ngIf="startingNew" class="mt-5">

        <h1>Starting a new break-out group</h1>

        <div *ngIf="!creatingNewRoom" class="mt-3 ugc">

            <h2>1. Choose a room</h2>
            <div class="ms-3">
                <mat-form-field class="mff">
                    <mat-label>choose a room</mat-label>
                    <mat-select [(ngModel)]="roomSelected" (ngModelChange)="checkRoomInUse()" class="newGroupDropDown">
                        <mat-option *ngFor="let room of rooms" [value]="room">{{ room.key }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-stroked-button (click)="newRoom()">
                    <mat-icon>meeting_room</mat-icon>
                    create new room
                </button>

                <button *ngIf="!roomInUse" mat-stroked-button (click)="deleteRoom()">
                    <mat-icon>delete</mat-icon>
                    delete break-out room
                </button>
            </div>
        </div>

        <div *ngIf="creatingNewRoom" class="mt-3 ugc">
            <h2>1. Create new room</h2>
            <div class="ms-3">
                <mat-form-field>
                    <input matInput placeholder="new room name" type="text" [(ngModel)]="newRoomName">
                </mat-form-field>
                <button mat-stroked-button (click)="saveNewRoom()">
                    <mat-icon>save</mat-icon>
                    save
                </button>
                <button mat-stroked-button (click)="cancelNewRoom()">
                    <mat-icon>cancel</mat-icon>
                    cancel
                </button>
            </div>
        </div>

        <a id="roomError">
            <div *ngIf="!!roomError" class="alert alert-danger mt-3">
                {{ roomError }}
            </div>
        </a>

        <div *ngIf="!creatingNewCharacterTheme" class="mt-3 ugc">

            <h2>2. Choose a character theme</h2>

            <div class="ms-3">
                <mat-form-field class="mff theme">
                    <mat-label>choose a character theme</mat-label>
                    <mat-select [(ngModel)]="characterThemeSelected.characterThemeID"
                        (ngModelChange)="checkThemeInUse();getThemeCharacters()">
                        <mat-option *ngFor="let characterTheme of characterThemes"
                            [value]="characterTheme.characterThemeID">{{
                            characterTheme.characterTheme }} ({{
                            characterTheme.characters }})
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button *ngIf="!characterThemeInUse" mat-stroked-button (click)="deleteCharacterTheme()">
                    <mat-icon>delete</mat-icon>
                    delete theme
                </button>

                <button mat-stroked-button (click)="newCharacterTheme()">
                    <mat-icon>group</mat-icon>
                    create new theme
                </button>
            </div>
        </div>

        <div *ngIf="creatingNewCharacterTheme" class="mt-3 ugc">
            <h2>2. Create a new character theme</h2>
            <div class="ms-3">
                <mat-form-field>
                    <input matInput placeholder="new theme name" type="text" [(ngModel)]="newCharacterThemeName">
                </mat-form-field>
                <button mat-stroked-button (click)="saveNewCharacterTheme()">
                    <mat-icon>save</mat-icon>
                    save
                </button>
                <button mat-stroked-button (click)="cancelNewCharacterTheme()">
                    <mat-icon>cancel</mat-icon>
                    cancel
                </button>
            </div>
        </div>

        <a id="themeError">
            <div *ngIf="!!themeError" class="alert alert-danger mt-3">
                {{ themeError }}
            </div>
        </a>

        <div *ngIf="!creatingNewCharacterTheme && characterThemeSelected.characterThemeID>0" class="mt-3">
            <h2>3. Manage characters in the theme</h2>
            <div class="ms-3">
                <p *ngFor="let character of themeCharacters">
                    {{ character.characterName }}
                    <a *ngIf="!character.inUse" (click)="deleteCharacter(character.characterID)"
                        class="clicker">delete</a>
                </p>
            </div>
        </div>

        <div *ngIf="creatingNewCharacter" class="ugc">

            <h2>Add new character to the theme</h2>

            <div class="ms-3">
                <mat-form-field>
                    <input matInput placeholder="new character name" type="text" [(ngModel)]="newCharacterName">
                </mat-form-field>
                <button mat-stroked-button (click)="saveNewCharacter()">
                    <mat-icon>save</mat-icon>
                    save
                </button>
                <button mat-stroked-button (click)="cancelNewCharacter()">
                    <mat-icon>cancel</mat-icon>
                    cancel new character
                </button>
            </div>
        </div>

        <div *ngIf="characterThemeSelected.characterThemeID>0 && !creatingNewCharacterTheme && !creatingNewCharacter"
            class="mb-3">
            <button mat-stroked-button (click)="createNewCharacter()">
                <mat-icon>save</mat-icon>
                new character
            </button>
        </div>

        <div *ngIf="!creatingNewCharacterTheme && characterThemeSelected.characterThemeID>0">
            <h2>4. Save the new break-out group</h2>

            <div class="ms-3">
                <button mat-stroked-button (click)="groupStart()">
                    <mat-icon>save</mat-icon>
                    save group
                </button>

                <button mat-stroked-button (click)="viewMyGroups()">
                    <mat-icon>cancel</mat-icon>
                    cancel new group
                </button>
            </div>
        </div>

    </div>

    <div *ngIf="!!bogError" class="alert alert-warning">
        {{ bogError }}
    </div>


</div>