<div class="tabContainer">
  <div class="tabContent scroller">
    <div class="content">
      <div class="spinner-grow text-primary" role="status" *ngIf="searching">
        <div class="visually-hidden">Loading...</div>
      </div>

      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>

      <table>
        <tr>
          <th colspan="2">
            <h1>{{ constituencyDetails.constituency }}</h1>
          </th>
        </tr>
        <tr
          *ngIf="
            !constituencyDetails.pre2023 ||
            !constituencyDetails.post2023 ||
            nameChange
          "
        >
          <td>2023 boundary changes</td>
          <td>
            <span *ngIf="nameChange">
              <span *ngIf="isNew">Old name: </span>
              <span *ngIf="!isNew">New name: </span>
            </span>
            <a
              href="https://en.wikipedia.org/wiki/2023_Periodic_Review_of_Westminster_constituencies"
              target="_blank"
            >
              <span *ngIf="newConstituency">New constituency</span>
              <span *ngIf="discontinuedConstituency">Discontinued</span>
              <span *ngIf="nameChange">{{ otherName }}</span>
            </a>
          </td>
        </tr>
        <tr *ngIf="!!constituencyDetails.change">
          <td>Extent of boundary change</td>
          <td>{{ constituencyDetails.change }}</td>
        </tr>
        <tr>
          <td>Next Election</td>
          <td>
            <a [href]="whoCanIVoteFor" target="_blank" *ngIf="!!whoCanIVoteFor"
              >whocanivotefor.co.uk</a
            >
            <a [href]="electoralCalculus" target="_blank"
              >electoralcalculus.co.uk</a
            >
          </td>
        </tr>
        <tr>
          <td>Constituency Map</td>
          <td>
            <a
              *ngIf="!!constituencyUrl"
              [href]="constituencyUrl"
              target="_blank"
              >mapIt</a
            >
            <a
              href="https://maproom.net/demo/election-map/0.html"
              target="_blank"
              >mapRoom search</a
            >
          </td>
        </tr>
        <tr>
          <td>Search for more</td>
          <td>
            <a
              [href]="
                'https://www.google.com/search?q=' +
                constituencyDetails.constituency +
                ' uk parliament constituency'
              "
              target="_blank"
              >{{ constituencyDetails.constituency }} constituency</a
            >
          </td>
        </tr>
      </table>

      <h1>MP</h1>

      <div class="mp flexRow wrap">
        <div *ngIf="!currentMP.name">No MP elected for this constituency</div>
        <div *ngIf="!!currentMP.name">
          <app-candidate
            [candidate]="currentMP"
            [isFutureElection]="false"
          ></app-candidate>
        </div>
        <ng-container *ngFor="let exMP of exMPs">
          <app-candidate [candidate]="exMP"></app-candidate>
        </ng-container>
      </div>

      <div class="flexRow align-center" *ngIf="ElectionDates.length > 0">
        <h1>Candidates</h1>
        election date:
        <select
          name="ElectionDate"
          id="ElectionDate"
          [(ngModel)]="electionDate"
          (ngModelChange)="onDateChange()"
        >
          <option *ngFor="let date of ElectionDates" [value]="date">
            {{ date }}
          </option>
        </select>
        <div class="spinner-grow text-primary" role="status" *ngIf="dateChange">
          <div class="visually-hidden">Loading...</div>
        </div>
      </div>

      <div class="flexRow wrap align-stretch candidates">
        <ng-container *ngFor="let candidate of candidates">
          <app-candidate
            [candidate]="candidate"
            [candidateSelected]="candidateSelected"
            [isFutureElection]="isFutureElection"
          ></app-candidate>
        </ng-container>
      </div>

      <div class="center mt-3 mb-5">
        <a routerLink="/constituency/search">View another constituency</a>
      </div>
    </div>
  </div>
</div>
