<div class="tabContainer">
  <div class="tabContent scroller">
    <div class="content">
      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>

      <table>
        <tr>
          <th colspan="2">
            <div class="flexRow align-center">
              <h1>
                {{ constituencyDetails.constituency }}
                <span *ngIf="constituencyDetails.newThisReview">(New)</span>
                <span *ngIf="constituencyDetails.defunctNextReview"
                  >(Defunct)</span
                >
              </h1>
              <div
                class="spinner-grow text-primary"
                role="status"
                *ngIf="searching"
              >
                <div class="visually-hidden">Loading...</div>
              </div>
            </div>
          </th>
        </tr>

        <tr
          *ngIf="
            (constituencyDetails.boundaryReview == 1 &&
              constituencyDetails.nameChangeThisReview) ||
            constituencyDetails.newThisReview
          "
        >
          <td>2023 boundary changes</td>
          <td>
            <span *ngIf="constituencyDetails.nameChangeThisReview">
              Previously
              {{ constituencyDetails.constituencyPrevGen }}
              <a [href]="wikiLinkToBoundaryChanges" target="_blank"
                >{{ constituencyDetails.changeFromPrevGen }}
              </a>
            </span>
            <a
              *ngIf="constituencyDetails.newThisReview"
              [href]="wikiLinkToBoundaryChanges"
              target="_blank"
              >New constituency</a
            >
          </td>
        </tr>

        <tr *ngIf="!constituencyDetails.defunctNextReview && !!whoCanIVoteFor">
          <td>Next Election</td>
          <td>
            <a [href]="whoCanIVoteFor" target="_blank" *ngIf="!!whoCanIVoteFor"
              >Who Can I Vote For</a
            >
          </td>
        </tr>

        <tr
          *ngIf="!!pollingReportLink && !constituencyDetails.defunctNextReview"
        >
          <td>Election Predictions</td>
          <td>
            <a [href]="pollingReportLink" target="_blank">Polling Report</a>
            <a [href]="electoralCalculus" target="_blank">Electoral Calculus</a>
          </td>
        </tr>

        <tr *ngIf="!!compassWA1Link">
          <td>Compass</td>
          <td>
            <a [href]="compassWA1Link" target="_blank">Win As One</a>
            (Progressive Alliance campaign)
          </td>
        </tr>

        <tr>
          <td>Constituency Map</td>
          <td>
            <a
              *ngIf="!!constituencyUrl"
              [href]="constituencyUrl"
              target="_blank"
              >mapIt</a
            >
            <a
              href="https://maproom.net/demo/election-map/0.html"
              target="_blank"
              >mapRoom search</a
            >
          </td>
        </tr>
        <tr>
          <td>Search for more</td>
          <td>
            <a
              [href]="
                'https://www.google.com/search?q=' +
                constituencyDetails.constituency +
                ' uk parliament constituency'
              "
              target="_blank"
              >{{ constituencyDetails.constituency }}</a
            >
            (Google)
          </td>
        </tr>
      </table>

      <h1>MP</h1>

      <div class="mp flexRow wrap">
        <div *ngIf="!MPs || MPs.length == 0">
          No MP elected for this constituency
        </div>
        <ng-container *ngFor="let MP of MPs">
          <app-candidate
            [isMPs]="true"
            [candidate]="MP"
            [constituencyID]="constituencyDetails.constituencyID"
          ></app-candidate>
        </ng-container>
      </div>

      <div class="flexRow align-center" *ngIf="ElectionDates.length > 0">
        <h1>Candidates</h1>
        election date:
        <select
          name="ElectionDate"
          id="ElectionDate"
          [(ngModel)]="electionDate"
          (ngModelChange)="onDateChange()"
        >
          <option
            *ngFor="let date of ElectionDates"
            [value]="date.electionDate"
          >
            {{ date.electionDate }}
          </option>
        </select>
        <span *ngIf="!!constituencySelected">({{ constituencySelected }})</span>
        <div class="spinner-grow text-primary" role="status" *ngIf="dateChange">
          <div class="visually-hidden">Loading...</div>
        </div>
      </div>

      <div class="flexRow wrap align-stretch candidates">
        <ng-container *ngFor="let candidate of candidates">
          <app-candidate
            [constituencyID]="constituencyIDSelected"
            [candidate]="candidate"
            [candidateSelected]="candidateSelected"
            [isFutureElection]="isFutureElection"
          ></app-candidate>
        </ng-container>
      </div>

      <div class="center mt-3 mb-5">
        <a routerLink="/constituency/search">View another constituency</a>
      </div>
    </div>
  </div>
</div>
