h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

td {
  padding: 3px 20px;
}

td.mpImage {
  object-fit: cover;
}

td.mpImage img {
  border-radius: 12px;
}

.mp {
  display: inline-block;
}

.candidates,
.mp {
  margin-left: 20px;
}
