<div class="tabContainer">
  <div class="tabContent scroller">
    <div class="content">
      <div class="spinner-grow text-primary" role="status" *ngIf="searching">
        <div class="visually-hidden">Loading...</div>
      </div>

      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>

      <table>
        <tr>
          <th colspan="2">
            <h1>{{ constituencyDetails.constituency }}</h1>
          </th>
        </tr>
        <tr>
          <td>Next Election</td>
          <td>
            <a [href]="nextElection" target="_blank">whocanivotefor.co.uk</a>
          </td>
        </tr>
        <tr>
          <td>Constituency Map</td>
          <td>
            <a
              *ngIf="!!constituencyUrl"
              [href]="constituencyUrl"
              target="_blank"
              >mapIt</a
            >
            <a
              href="https://maproom.net/demo/election-map/0.html"
              target="_blank"
              >mapRoom search</a
            >
          </td>
        </tr>
        <tr>
          <td>Search for more</td>
          <td>
            <a
              [href]="
                'https://www.google.com/search?q=' +
                constituencyDetails.constituency +
                'uk parliament constituency'
              "
              target="_blank"
              >{{ constituencyDetails.constituency }} constituency</a
            >
          </td>
        </tr>
      </table>
      <h1>MP</h1>

      <div class="mp">
        <app-candidate [candidate]="currentMP"></app-candidate>
      </div>

      <div class="flexRow align-center">
        <h1>Candidates</h1>
        election date:
        <select
          name="ElectionDate"
          id="ElectionDate"
          [(ngModel)]="electionDate"
          (ngModelChange)="onDateChange()"
        >
          <option *ngFor="let date of ElectionDates" [value]="date">
            {{ date }}
          </option>
        </select>
        <div class="spinner-grow text-primary" role="status" *ngIf="dateChange">
          <div class="visually-hidden">Loading...</div>
        </div>
      </div>

      <div class="flexRow wrap align-stretch candidates">
        <ng-container *ngFor="let candidate of candidates">
          <app-candidate
            [candidate]="candidate"
            [candidateSelected]="candidateSelected"
          ></app-candidate>
        </ng-container>
      </div>

      <div class="center mt-3">
        <a routerLink="/constituency/search">View another constituency</a>
      </div>
    </div>
  </div>
</div>
y
