.mp {
  margin-top: 20px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 10px;
}

.mpImage {
  margin: 12px 0px;
}

table {
  margin-left: 10px;
}

td {
  padding: 5px;
}
