<form (ngSubmit)="onSubmit()">
<!--[formGroup]="form"-->
  date from
  <input name="dateFrom" type="text" required /> date to <!--formControlName="dateFrom"-->
  <input name="dateTo" type="text" required /> containing text <!--formControlName="dateTo"-->
  <input name="containingText" type="text" required /> <!--formControlName="containingText"-->

  <button>resubmit</button>

  <div *ngIf="error!=''" class="text-danger">
    {{ error }}
  </div>

  <div *ngFor="let point of points">
    <app-point [point]="point"></app-point>
  </div>

</form>

<div *ngIf="coreDataService.SignedIn()">
  <a routerLink="/new-point">New Point</a>
</div>