<!-- 
  Tab contents can be lazy loaded by declaring the body in a ng-template with the matTabContent attribute.
  https://material.angular.io/components/tabs/overview
-->

<div class="tabContainer">

  <div class="tabContent scroller">

    <div class="content">

      <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex">

        <mat-tab label="issues">
          <ng-template matTabContent>
            <app-tag-cloud></app-tag-cloud>
          </ng-template>
        </mat-tab>

        <mat-tab label="mp">
          <ng-template matTabContent>
            <app-constituency></app-constituency>
          </ng-template>
        </mat-tab>

        <mat-tab label="voters">
          <ng-template matTabContent>
            <app-by></app-by>
          </ng-template>
        </mat-tab>

      </mat-tab-group>

    </div>

  </div>

</div>