.topic {
  padding: 4px 8px;
  font-size: 0.9em;
  font-weight: normal;
  background-color: #ffd700;
  border-radius: 14px;
  display: inline-block;
  white-space: nowrap; /* Keep icon on sme line as text on small screens */
}

.topic + .topic {
  margin-left: 10px;
}

mat-icon {
  vertical-align: middle;
  cursor: pointer;
}

input {
  margin-top: 12px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px lightgray;
  transition: border-bottom 1s;
}

input:focus {
  outline: 0px !important;
  box-shadow: none;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-bottom: solid 1px #6900ff;
  transition: border-bottom 1s;
}
