<div [class.main]="MenuType === 'main'" [class.burger]="MenuType === 'burger'">
  <span *ngIf="error" class="fv-error">
    {{ error }}
  </span>

  <button
    mat-button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [class.selected]="appData.MenuItemSelected === ''"
    (click)="appData.MenuItemSelected = ''"
    matTooltip="home"
    matTooltipPosition="above"
  >
    <mat-icon>search</mat-icon>
    home
  </button>

  <!-- https://github.com/angular/angular/issues/22588 -->
  <button
    mat-button
    [routerLink]="
      (auth0Service.isAuthenticated$ | async) ? '/recent' : '/trending'
    "
    [class.selected]="appData.MenuItemSelected === 'slashTags'"
    (click)="appData.MenuItemSelected = 'slashTags'"
    matTooltip="slash tags"
    matTooltipPosition="above"
  >
    <mat-icon>bookmark_border</mat-icon>
    slash tags
  </button>

  <button
    mat-button
    *ngIf="auth0Service.isAuthenticated$ | async"
    routerLink="/organisations/membership"
    routerLinkActive="active"
    [class.selected]="appData.MenuItemSelected === 'organisations'"
    (click)="appData.MenuItemSelected = 'organisations'"
    matTooltip="organisations - campaign groups and political parties"
    matTooltipPosition="above"
  >
    <mat-icon>people</mat-icon>
    organisations
  </button>

  <!-- Profile/Sign Out Menu Trigger -->
  <button
    mat-button
    *ngIf="auth0Service.isAuthenticated$ | async"
    [matMenuTriggerFor]="profileMenu"
    [class.selected]="
      appData.MenuItemSelected === 'profile' ||
      appData.MenuItemSelected === 'MP'
    "
    matTooltip="profile menu"
    matTooltipPosition="above"
  >
    <img
      *ngIf="
        localData.freeVoteProfile.profilePictureOptionID === '1' &&
        auth0Wrapper.auth0Profile &&
        auth0Wrapper.auth0Profile.picture
      "
      [src]="auth0Wrapper.auth0Profile.picture"
      class="rounded-circle img-fluid profilePic"
    />

    <img
      *ngIf="
        localData.freeVoteProfile.profilePictureOptionID === '2' &&
        localData.freeVoteProfile.profilePicture
      "
      [src]="localData.freeVoteProfile.profilePicture"
      class="rounded-circle img-fluid profilePic"
    />

    {{ localData.freeVoteProfile.givenName }}
  </button>

  <!-- Profile/Sign Out Menu -->
  <mat-menu #profileMenu="matMenu">
    <button
      mat-menu-item
      routerLink="/my/profile"
      routerLinkActive="active"
      [class.selected]="appData.MenuItemSelected === 'profile'"
      (click)="appData.MenuItemSelected = 'profile'"
      matTooltip="your profile"
      matTooltipPosition="right"
    >
      <mat-icon>person</mat-icon>
      profile
    </button>

    <button
      mat-menu-item
      [routerLink]="'/constituency/' + constituencyKebab"
      (click)="appData.MenuItemSelected = 'MP'"
      [class.selected]="appData.MenuItemSelected === 'MP'"
      [matTooltip]="localData.freeVoteProfile.constituency"
      matTooltipPosition="right"
    >
      <mat-icon>mp</mat-icon>
      constituency
    </button>

    <button
      *ngIf="false"
      mat-menu-item
      [routerLink]="'/local/' + constituencyKebab"
      (click)="appData.MenuItemSelected = 'Council'"
      [class.selected]="appData.MenuItemSelected === 'Council'"
      matTooltip="Local Council"
      matTooltipPosition="right"
    >
      <mat-icon>mp</mat-icon>
      council
    </button>

    <button
      mat-menu-item
      (click)="logout()"
      matTooltip="sign out"
      matTooltipPosition="right"
    >
      <mat-icon>person_outline</mat-icon>
      sign out
    </button>
  </mat-menu>

  <!-- Sign In -->
  <button
    mat-button
    *ngIf="(auth0Service.isAuthenticated$ | async) == false"
    (click)="auth0Wrapper.login()"
    matTooltip="sign in"
  >
    <mat-icon>person</mat-icon>
    sign in
  </button>
</div>
