<div [class.main]="MenuType === 'main'" [class.burger]="MenuType === 'burger'">
  <span *ngIf="error" class="fv-error">
    {{ error }}
  </span>

  <button
    mat-button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [class.selected]="MenuItemSelected === ''"
    (click)="MenuItemSelected = ''"
    matTooltip="home"
    [matTooltipPosition]="matTooltipPosition"
  >
    <mat-icon>search</mat-icon>
    home
  </button>

  <!-- https://github.com/angular/angular/issues/22588 -->
  <button
    mat-button
    routerLink="/slash-tags"
    [class.selected]="MenuItemSelected === 'slashTags'"
    (click)="MenuItemSelected = 'slashTags'"
    matTooltip="slash tags"
    [matTooltipPosition]="matTooltipPosition"
  >
    <mat-icon>bookmark_border</mat-icon>
    slash tags
  </button>

  <button
    mat-button
    *ngIf="authService.SignedIn$ | async"
    routerLink="/organisations/membership"
    routerLinkActive="active"
    [class.selected]="MenuItemSelected === 'organisations'"
    (click)="MenuItemSelected = 'organisations'"
    matTooltip="organisations - campaign groups and political parties"
    [matTooltipPosition]="matTooltipPosition"
  >
    <mat-icon>people</mat-icon>
    organisations
  </button>

  <!-- Profile/Sign Out Menu Trigger -->
  <button
    mat-button
    *ngIf="authService.SignedIn$ | async"
    [matMenuTriggerFor]="profileMenu"
    [class.selected]="
      MenuItemSelected === 'profile' || MenuItemSelected === 'MP'
    "
    matTooltip="profile menu"
    [matTooltipPosition]="matTooltipPosition"
  >
    <img
      *ngIf="
        localData.freeVoteProfile.profilePictureOptionID === '1' &&
        authService.PhotoUrl
      "
      [src]="authService.PhotoUrl"
      class="rounded-circle img-fluid profilePic"
    />

    <img
      *ngIf="
        localData.freeVoteProfile.profilePictureOptionID === '2' &&
        localData.freeVoteProfile.profilePicture
      "
      [src]="localData.freeVoteProfile.profilePicture"
      class="rounded-circle img-fluid profilePic"
    />

    {{ localData.freeVoteProfile.givenName }}
  </button>

  <!-- Profile/Sign Out Menu -->
  <mat-menu #profileMenu="matMenu">
    <button
      mat-menu-item
      routerLink="/my/profile"
      routerLinkActive="active"
      [class.selected]="MenuItemSelected === 'profile'"
      (click)="MenuItemSelected = 'profile'"
      matTooltip="your profile"
      matTooltipPosition="right"
    >
      <mat-icon>person</mat-icon>
      profile
    </button>

    <button
      mat-menu-item
      [routerLink]="'/constituency/' + constituencyKebab"
      (click)="MenuItemSelected = 'MP'"
      [class.selected]="MenuItemSelected === 'MP'"
      [matTooltip]="localData.Constituency"
      matTooltipPosition="right"
    >
      <mat-icon>mp</mat-icon>
      constituency
    </button>

    <button
      *ngIf="false"
      mat-menu-item
      [routerLink]="'/local/' + constituencyKebab"
      (click)="MenuItemSelected = 'Council'"
      [class.selected]="MenuItemSelected === 'Council'"
      matTooltip="Local Council"
      matTooltipPosition="right"
    >
      <mat-icon>mp</mat-icon>
      council
    </button>

    <button
      mat-menu-item
      (click)="signOut()"
      matTooltip="sign out"
      matTooltipPosition="right"
    >
      <mat-icon>person_outline</mat-icon>
      sign out
    </button>
  </mat-menu>

  <!-- Sign In -->
  <button
    mat-button
    *ngIf="(authService.SignedIn$ | async) == false"
    (click)="authService.signInWithGoogle()"
    matTooltip="sign in"
    [matTooltipPosition]="matTooltipPosition"
  >
    <mat-icon>person</mat-icon>
    sign in
  </button>
</div>
