<div class="my-5 align-middle flexy">

    <div>
        <button class="primary" routerLink="/you-first">Take Action</button>
    </div>

    <div>
        <a href="https://www.facebook.com/groups/campaignforrepresentativedemocracy" target="_blank">
            <img src="/assets/f_logo_RGB-Blue_58.png" alt="" class="social">&nbsp;Join&nbsp;us&nbsp;on&nbsp;Facebook
        </a>
    </div>

    <div>
        <a target="_blank" href="https://twitter.com/search?q=DemandDemocracy&src=typed_query">
            <img src="/assets/Twitter_Logo_WhiteOnBlue.png" alt="DemandDemocracy on Twitter" class="social">
            #DemandDemocracy</a>
    </div>

    <div>
        <a href="https://gf.me/u/y2p3kb" target="_blank">
            <img src="https://theme.zdassets.com/theme_assets/196447/72ab29b19ac3aa13a964e08152ed35a9e3ae95db.png"
                alt="gofundme" class="gfm">
        </a>
    </div>

</div>