<div [ngClass]="{ edit: organisation.organisationID || 0 > 0 }">
  <div class="flexCol align-stretch">
    <div class="flexRow">
      <mat-form-field>
        <mat-label>organisation website</mat-label>
        <input
          matInput
          placeholder="organisation website"
          [(ngModel)]="organisation.organisationWebsite"
          #groupWebsite
          (keyup.enter)="websiteComplete()"
          (ngModelChange)="checkWebsite()"
        />
        <button
          *ngIf="organisation.organisationWebsite"
          matSuffix
          mat-icon-button
          aria-label="clear"
          (click)="organisation.organisationWebsite = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="ms-3">
        <button
          mat-stroked-button
          (click)="FetchMetaData()"
          matTooltip="refresh website data"
          [disabled]="disableWebsiteRefresh"
        >
          <span *ngIf="!isNew">refresh</span>
          <span *ngIf="isNew">fetch</span>
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>

    <mat-form-field>
      <mat-label>organisation name</mat-label>
      <input
        matInput
        [(ngModel)]="organisation.organisationName"
        #groupName
        (keyup.enter)="nameComplete()"
      />
      <button
        *ngIf="organisation.organisationName"
        matSuffix
        mat-icon-button
        aria-label="clear"
        (click)="organisation.organisationName = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>organisation description</mat-label>
      <textarea
        matInput
        [(ngModel)]="organisation.description"
        #groupDescription
        (keyup.enter)="descriptionComplete()"
        rows="3"
      ></textarea>
      <button
        *ngIf="organisation.description"
        matSuffix
        mat-icon-button
        aria-label="clear"
        (click)="organisation.description = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>organisation image</mat-label>
      <input
        matInput
        [(ngModel)]="organisation.image"
        #groupDescription
        (keyup.enter)="descriptionComplete()"
      />
      <button
        *ngIf="organisation.image"
        matSuffix
        mat-icon-button
        aria-label="clear"
        (click)="organisation.image = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div>
      <img [src]="organisation.image" class="imageEdit" />
    </div>

    <mat-form-field>
      <mat-label>extent</mat-label>
      <mat-select
        #geoExtent
        (ngModelChange)="extentSelected($event)"
        name="selectExtent"
        [(ngModel)]="organisation.geographicalExtentID"
        placeholder="organisation type/geographical extent"
      >
        <mat-option
          *ngFor="let extent of extents"
          [value]="extent.value.toString()"
          >{{ extent.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="showCountries">
      Country or Countries
      <app-countries [Countries]="countries" #geoCountries></app-countries>
    </div>

    <div *ngIf="showCities">
      City or Cities
      <app-list [(Items)]="organisation.cities" [ItemName]="'city'"></app-list>
    </div>

    <div
      *ngIf="
        organisation.geographicalExtentID ===
        GeographicalExtentID.PrivateOrganisation.toString()
      "
    >
      <mat-radio-group [(ngModel)]="organisation.invitationOnly">
        <mat-radio-button labelPosition="before" [value]="true"
          >new members by invitation only
        </mat-radio-button>
        <mat-radio-button labelPosition="before" [value]="false"
          >accept requests
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div *ngIf="updatingPreview">
    <span class="spinner-grow text-primary ms-3 spinner" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
    updating website preview
  </div>

  <div class="flexRow justify-end">
    <button mat-stroked-button (click)="CancelEdit()" matTooltip="cancel edit">
      <span>cancel</span>
      <mat-icon>close</mat-icon>
    </button>

    <button
      mat-stroked-button
      (click)="Update()"
      matTooltip="update organisation details"
    >
      <span>save</span>
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
</div>
