.edit {
  background-color: #f0f0f0;
  padding: 15px 15px;
}

button + button,
mat-radio-button + mat-radio-button {
  margin-left: 10px;
}

.alert {
  margin-top: 15px;
}

.imageEdit {
  max-width: 50%;
}

div + mat-form-field {
  margin-top: 16px;
}
