<!-- Issue Listing -->
<div class="mt-2" *ngIf="!issueEdit && !issueDeleted" 
[routerLink]="issueTitleLink" [ngClass]="{'Issues': !inFocus && this.issue.statusID > 2, 'IssuesActive':inFocus && this.issue.statusID <= 2}">
    
    <hr *ngIf="!inFocus">

    <div class="px-3 pb-3">

        <div fxLayout="row wrap" fxLayoutAlign="start center">

            <h2 [ngClass]="{'py-2':inFocus}">{{ issue.title }}</h2>

            <div fxFlex></div>

            <div [matTooltip]="deleteTooltip">
                <button mat-stroked-button (click)="delete()" *ngIf="issue.isIssueOwner" class="mr-3"
                    [disabled]="issue.porQTotal > 0">
                    <mat-icon>cancel</mat-icon>
                    delete
                </button>
            </div>

            <div [matTooltip]="editTooltip">
                <button mat-stroked-button (click)="edit()" *ngIf="issue.isIssueOwner" class="mr-3"
                    [disabled]="issue.statusID === 6">
                    <mat-icon>edit</mat-icon>
                    edit
                </button>
            </div>

            <div id="cbxPublish">
                <mat-checkbox *ngIf="issue.isIssueOwner && issue.statusID < 2" [(ngModel)]="issue.publish"
                    (ngModelChange)="issuepublish($event)" name="issuePublish" class="mr-3">
                    publish
                </mat-checkbox>
            </div>

        </div>


        <div [innerHtml]="issue.context" class="issueContext"></div>

        <div *ngIf="!!error" class="alert alert-danger">
            {{ error }}
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="end center">

            <div
                *ngIf="issue.statusID===IssueStatuses.PrioritisationYetToStart || issue.statusID===IssueStatuses.Prioritisation">

                <!-- class on the outer span, ngIf on the inner -->
                <span [ngClass]="{'success':!saving, 'waiting':saving}" class="primary">
                    <span *ngIf="!saving">
                        {{ saveMessage }}
                    </span>
                </span>



                prioritise this issue for discussion
                <mat-slider [max]="10" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="1"
                    [(ngModel)]="issue.voterPriority" #voteSlider (input)="instantVoteChange($event)">
                </mat-slider>

                <span class="primary">
                    {{ this.issue.voterPriority }}
                </span>

                <span *ngIf="issue.voteCastDateTime">
                    Vote cast:
                    <strong>{{ issue.voteCastDateTime }}</strong>
                </span>

                <span class="spinner-grow text-primary ml-3" role="status" *ngIf="saving">
                    <span class="sr-only">Loading...</span>
                </span>

            </div>

            <div class="primary"
                *ngIf="issue.statusID!==IssueStatuses.PrioritisationYetToStart && issue.statusID!==IssueStatuses.Prioritisation">
                Your prioritisation rank: {{ issue.voterPriority }}
            </div>

        </div>

        <div fxLayoutAlign="end" class="smaller">
            <span *ngIf="issue.statusID < 4">
                <span *ngIf="issue.statusID===IssueStatuses.PrioritisationYetToStart">
                    Valid from
                    <strong>{{ issue.selectionDateEarliest | date:'dd MMM yyyy' }}</strong></span>
                <span *ngIf="issue.statusID===IssueStatuses.Prioritisation">
                    Valid to
                    <strong>{{ issue.selectionDateLatest | date:'dd MMM yyyy' }}</strong></span>
            </span>
            <span *ngIf="issue.statusID >= 4">
                <span *ngIf="!issue.selectedDateTime">Not selected</span>
                <span *ngIf="issue.selectedDateTime" class="smaller">Selected
                    <strong>{{ issue.selectedDateTime | date:'dd MMM yyyy HH:mm' }}</strong>
                    Voting starts <strong>{{ issue.proposalVotingStarts }}</strong>
                    Decision time <strong>{{ issue.decisionDeadline }}</strong>
                </span>
            </span>
            <span
                *ngIf="issue.statusID===IssueStatuses.Prioritisation || issue.statusID===IssueStatuses.PrioritisationYetToStart"
                class="prioritisationActive smaller pl-3">
                Prioritisation Votes:
                <strong>{{ issue.prioritisationVotes }}</strong>
            </span>
        </div>



        <div *ngIf="!inFocus && issue.statusID > 3" class="focusActive pl-3 smaller tar">
            Questions {{ issue.questions }}
            Proposals {{ issue.proposals }}
            Points {{ issue.points }}
            Feedback {{ issue.feedback }}
        </div>

        <!-- <div [ngClass]="{'showDetails':inFocus, 'hideDetails':!inFocus}">
            <button mat-stroked-button class="mr-3" (click)="viewProposals=false"
                [class.buttonSelected]="!viewProposals">
                <mat-icon>live_help</mat-icon>
                questions
            </button>
            <button mat-stroked-button class="mr-3" (click)="viewProposals=true" [class.buttonSelected]="viewProposals">
                <mat-icon>campaign</mat-icon>
                proposals
            </button>

        </div> -->

    </div>

</div>


<!-- Issue Edit -->
<div *ngIf="issueEdit" class="mt-3">
    <app-issue-edit [(issue)]="issue" (CompleteEdit)="issueEdit=false" (CancelEdit)="issueEdit=false">
    </app-issue-edit>
</div>