<div fxFill fxLayout="column">

    <div fxLayout="column" class="tabContainer">

        <div class="tabContent scroller">

            <div class="centerStage">

                <div fxLayoutAlign="center">

                    <div class="content" fxLayout="column">

                        <!-- Return to main group -->
                        <div fxLayout="row wrap" fxLayoutAlign="start center">
                            Back to <a [routerLink]="['/groups/view', groupName]">{{ groupName }}</a>
                            <div fxFlex></div>
                        </div>

                        <!-- List sub-groups -->
                        <ng-container *ngIf="!creatingNewSubGroup">
                            <div *ngFor="let subGroup of subGroupsFiltered">
                                <app-sub-group [subGroup]="subGroup" [groupName]="groupName" (subGroupUpdated)="subGroupUpdated()"
                                    (subGroupDeleted)="subGroupDeleted()">
                                </app-sub-group>
                            </div>
                        </ng-container>

                        <!-- Sub-Group edit -->
                        <app-sub-group-edit *ngIf="creatingNewSubGroup" [subGroup]="newSubGroupTemplate"
                            (complete)="newSubgroupCreated($event)" (cancelled)="creatingNewSubGroup=false">
                        </app-sub-group-edit>

                        <div *ngIf="!!error" class="alert alert-danger mt-3">
                            {{ error }}
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>