<!-- Menu Trigger -->

<button
  mat-button
  [matMenuTriggerFor]="sortOrderMenu"
  [matTooltip]="sortToolTip"
  matTooltipClass="multiLine"
>
  {{ searchAndSortText }}
  <mat-icon>{{ sortTypeIcon }}</mat-icon>
</button>

<!-- Search and Sort menu -->

<mat-menu #sortOrderMenu="matMenu">
  <!-- Show Search (Point Filter) Options -->
  <button
    mat-menu-item
    (click)="toggleShowPointFilterCriteria()"
    [matTooltip]="filterToolTip"
    matTooltipPosition="right"
  >
    <mat-icon>{{ filterIcon }}</mat-icon>
    {{ filterText }}
  </button>

  <hr />

  <!-- Sort Type -->
  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.TrendingActivity"
    (click)="setSortType(PointSortTypes.TrendingActivity)"
    [matTooltip]="'trending now'"
    matTooltipPosition="right"
  >
    <mat-icon>trending_up</mat-icon>
    trending
  </button>

  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.AllTimePopularity"
    (click)="setSortType(PointSortTypes.AllTimePopularity)"
    [matTooltip]="'most popular first (all time)'"
    matTooltipPosition="right"
  >
    <mat-icon>favorite_border</mat-icon>
    popularity
  </button>

  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.DateUpdated"
    (click)="setSortType(PointSortTypes.DateUpdated)"
    [matTooltip]="'date order - most recent first'"
    matTooltipPosition="right"
  >
    <mat-icon>calendar_today</mat-icon>
    date
  </button>

  <button
    mat-menu-item
    [class.selected]="pointSortType === PointSortTypes.Random"
    (click)="setSortType(PointSortTypes.Random)"
    [matTooltip]="'random order'"
    matTooltipPosition="right"
  >
    <mat-icon>gesture</mat-icon>
    random
  </button>

  <hr />

  <!-- Sort Order -->
  <button
    mat-menu-item
    [class.selected]="sortDescending && pointSortType !== PointSortTypes.Random"
    (click)="setSortDescending(true)"
    [matTooltip]="'descending order'"
    matTooltipPosition="right"
  >
    <mat-icon>arrow_downward</mat-icon>
    descending
  </button>

  <button
    mat-menu-item
    [class.selected]="
      !sortDescending && pointSortType !== PointSortTypes.Random
    "
    (click)="setSortDescending(false)"
    [matTooltip]="'ascending order'"
    matTooltipPosition="right"
  >
    <mat-icon>arrow_upward</mat-icon>
    ascending
  </button>

  <hr />

  <!-- Local Topics -->
  <button
    mat-menu-item
    *ngIf="auth0Service.isAuthenticated$ | async"
    class="localButton"
    [class.selected]="localData.forConstituency"
    (click)="ChangeLocalSelection()"
    matTooltip="local interest"
    matTooltipPosition="right"
  >
    local
    <mat-icon>mp</mat-icon>
  </button>

  <!-- Feedback Switch -->
  <button
    mat-menu-item
    (click)="toggleFeedback()"
    matTooltip="toggle feedback"
    matTooltipPosition="right"
  >
    <mat-icon>{{ feedbackIcon }}</mat-icon>
    {{ feedbackText }}
  </button>

  <hr />

  <!-- Refresh -->
  <button
    mat-menu-item
    (click)="refreshSelection()"
    matTooltip="refresh"
    matTooltipPosition="right"
  >
    <mat-icon>refresh</mat-icon>
    refresh
  </button>
</mat-menu>
