<button
  mat-button
  [matMenuTriggerFor]="tagSearchMenu"
  [class.selected]="FilterForConstituency || TabIndex === Tabs.tagSearch"
  matTooltip="tag search and filter"
>
  {{ menuTriggerText }}
  <mat-icon>{{ menuTriggerIcon }}</mat-icon>
</button>

<!-- Search and Sort menu -->

<mat-menu #tagSearchMenu="matMenu">
  <!-- Tag Search -->
  <button
    mat-menu-item
    (click)="search()"
    [class.selected]="TabIndex === Tabs.tagSearch"
    matTooltip="slash tag search"
    matTooltipPosition="right"
  >
    search
    <mat-icon>search</mat-icon>
  </button>

  <!-- Local Topics -->
  <button
    mat-menu-item
    (click)="local()"
    class="localButton"
    [class.selected]="FilterForConstituency"
    matTooltip="local interest"
    matTooltipPosition="right"
    *ngIf="auth0Service.isAuthenticated$ | async"
  >
    local
    <mat-icon>mp</mat-icon>
  </button>
</mat-menu>
