/* You can add global styles to this file, and also import other style files */

/*title, subtile, menu, header, footer background-color*/
div.title{background-color:#279FBB; color:white;}
div.subtitle{background-color: #222;color:white; padding-top: 5px; padding-bottom:5px; }
div.menu{background-color:  #111;color:white;padding-top: 5px;padding-bottom:5px;}
div.footer{background-color:  #111;color:white;padding-top: 5px;padding-bottom:15px;}


/*Centered menu*/
.nav-pills {
    display: inline-block;
    float: none;
}

/*Menu hyperlink text color*/
div.menu .nav-pills a{color:white;}

/*Active menu item and hover background-color*/
div.menu .nav-pills li.active > a,
div.menu .nav-pills li a:hover {background-color: #279FBB}

/*Default cursor on active menu item*/
div.menu .nav-pills li.active > a:hover{cursor:default;}

/*Sub-Menu background and border*/
div.menu .nav-pills li.active ul {background-color: #333; border:solid  1px #666;}
