/* You can add global styles to this file, and also import other style files */


@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/*title, subtile, menu, header, footer background-color*/
.title{background-color:#279FBB; color:white;}
.subtitle{background-color:black; color:white; padding-top: 5px; padding-bottom:5px; }
.menu{background-color:#070707; color:white;padding-top: 5px;padding-bottom:5px;}
.pagetitle{background-color:#333333; color:white;}
.site-content{margin-top:10px; margin-bottom:10px;} /* Site Content in Router-Outlet */
.footer{background-color:black;color:white;padding-top: 5px;padding-bottom:15px;}
.footer .col-xs-12{margin-top:10px;}


#free-vote .btn-primary,
#free-vote ul li a:hover, 
#free-vote ul li a.active
{background-color: #279FBB; color:white}

/*Active menu item and hover color*/
#free-vote .btn-primary:hover, 
#free-vote .btn-primary.active
{background-color:#1b6c7f; color:white}

#free-vote button:focus {outline:none;}

#free-vote .btn-primary.active:not(.dropdown-toggle):hover
{cursor:default}


#free-vote ul {background-color:#333; border:solid 1px #666;}
#free-vote ul li a {color:white}


.title h1  {margin-top: 12px; }
.pagetitle h1 {margin-top: 8px; font-size: 2em; }


.ng-valid[required]:not(ckeditor), .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
  

.ng-invalid.ng-touched:not(form):not(ckeditor)  {
  border-left: 5px solid #a94442; /* red */
}

.fv-error{color:red;}

button + span {margin-left:5px;}