.profile {
  padding-top: 20px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.profilePicture {
  max-height: 360px;
  overflow: hidden;
}

.profile img {
  min-width: 180px;
  max-width: 240px;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 4px;
}

button + button {
  margin-left: 12px;
}

mat-radio-button {
  margin-right: 12px;
}

.uploading {
  margin-bottom: 12px;
}

.uploading span {
  vertical-align: middle;
}

.constituencyList a:first-of-type {
  margin-left: 10px;
}

.mff {
  width: 100%;
}
