<div class="tabContainer">

  <div class="tabContent scroller">

    <div fxLayoutAlign="center">

      <div fxLayout="row wrap" class="profile">

        <div fxFlex="100">
          <h1>
            {{ localData.freeVoteProfile.givenName }}
            {{ localData.freeVoteProfile.familyName }}
          </h1>
        </div>

        <div fxFlex="100">
          {{ localData.freeVoteProfile.location }}
        </div>

        <div fxFlex="100">

          <div fxLayout="column" fxLayoutAlign="start center">

            <img
              *ngIf="localData.freeVoteProfile.profilePictureOptionID==='1' && localData.auth0Profile && localData.auth0Profile.picture"
              [src]="localData.auth0Profile.picture" alt="profile picture" class="rounded-circle img-fluid">

            <img
              *ngIf="localData.freeVoteProfile.profilePictureOptionID==='2' && localData.freeVoteProfile.profilePicture"
              [src]="localData.freeVoteProfile.profilePicture" alt="profile picture" class="rounded-circle img-fluid">

            <div fxLayout="row wrap" fxLayoutAlign="center center" class="buttons">
              <input type="file" (change)="profilePictureSelected($event)" style="display: none" #pictureSelect>
              <button mat-stroked-button *ngIf="localData.freeVoteProfile.profilePictureOptionID==='2'"
                (click)="deleteProfilePictue()">
                <mat-icon>cancel</mat-icon>
                delete uploaded picture
              </button>
              <button mat-stroked-button type="button" (click)="pictureSelect.click()"
                *ngIf="localData.freeVoteProfile.profilePictureOptionID==='2'">
                <mat-icon>add_photo_alternate</mat-icon>
                upload new picture
              </button>
              <div *ngIf="uploading" class="uploading">
                <span class="spinner-grow text-primary ms-3" role="status">
                  <span class="visually-hidden">Loading...</span>
                </span>
                <span>
                  {{ uploadPercentDone }}%
                </span>
              </div>
            </div>

          </div>

        </div>

        <div fxFlex="100">
          <hr>
        </div>


        <div fxFlex="40" *ngIf="editing">profile picture to use</div>
        <div fxFlex="60" *ngIf="editing">
          <mat-radio-group [(ngModel)]="localData.freeVoteProfile.profilePictureOptionID"
            (ngModelChange)="profilePictureOptionUpdate()">
            <div fxLayout="row wrap" fxLayoutAlign="left">
              <mat-radio-button name="PPOID" value="1" labelPosition="before">
                social media
              </mat-radio-button>
              <mat-radio-button name="PPOID" value="2" labelPosition="before"
                *ngIf="localData.freeVoteProfile.profilePicture">
                upload
              </mat-radio-button>
              <mat-radio-button name="PPOID" value="3" labelPosition="before">
                none
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>

        <div fxFlex="100" style="margin-top:16px;"></div>

        <div fxFlex="40">
          <span class="align-middle">
            alias
          </span>
        </div>

        <div fxFlex="60">
          <span class="align-middle" *ngIf="!editing">
            {{ localData.freeVoteProfile.alias }}
          </span>
          <mat-form-field *ngIf="editing" class="mff">
            <input matInput placeholder="your alias or ID" [(ngModel)]="localData.freeVoteProfile.alias" name="by"
              required #tvAlias="ngModel" type="text">
          </mat-form-field>
        </div>


        <!-- Country -->
        <div fxFlex="40">
          <span class="align-middle">
            home country
          </span>
        </div>

        <div fxFlex="60">

          <span class="align-middle" *ngIf="!editing">
            {{ localData.freeVoteProfile.country }}
          </span>

          <mat-form-field *ngIf="editing && !editNewCountry" class="mff">
            <mat-select (ngModelChange)="onCountrySelect($event)" name="selectCountry"
              [(ngModel)]="localData.freeVoteProfile.countryId" placeholder="your home country">
              <mat-option *ngFor="let country of countries" [value]="country.value.toString()">{{ country.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="editNewCountry" class="mff">
            <input matInput placeholder="your home country" [(ngModel)]="localData.freeVoteProfile.country"
              name="country" required #tvCountry="ngModel" type="text">
          </mat-form-field>

        </div>

        <!-- City -->
        <div fxFlex="40" *ngIf="!editNewCountry">
          <span class="align-middle">
            home city
          </span>
        </div>

        <div fxFlex="60" *ngIf="!editNewCountry">

          <span *ngIf="!editing" class="align-middle">
            {{ localData.freeVoteProfile.city }}
          </span>

          <mat-form-field *ngIf="editing && !editNewCity" class="mff">
            <mat-select name="selectCity" [(ngModel)]="localData.freeVoteProfile.cityId" placeholder="your home city">
              <mat-option *ngFor="let city of cities" [value]="city.value.toString()">{{ city.key }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="editNewCity" class="mff">
            <input matInput placeholder="your home city" [(ngModel)]="localData.freeVoteProfile.city" name="city"
              required #tvCity="ngModel" type="text">
          </mat-form-field>

        </div>

        <!-- Constituency -->

        <div fxFlex="40" *ngIf="!editing">
          <span class="align-middle">
            constituency
          </span>
        </div>

        <div fxFlex="60" *ngIf="!editing">

          <span class="align-middle" *ngIf="!editing">
            {{ localData.freeVoteProfile.constituency }}
          </span>

        </div>

        <div fxFlex="40" [hidden]="!editing">
          <span class="align-middle">
            constituency
          </span>
          <span class="spinner-grow text-primary ms-3" role="status" *ngIf="fetchingConstituencies">
            <span class="visually-hidden">Loading...</span>
          </span>
        </div>
        <div fxFlex="60" [hidden]="!editing">
          <mat-form-field class="mff">
            <input matInput type="text" #tvConstituency placeholder="parliamentary constituency"
              [(ngModel)]="constituencySearch">
            <button *ngIf="constituencySearch" matSuffix mat-icon-button aria-label="Clear"
              (click)="clearConstituency()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div fxFlex="40" *ngIf="editing && constituencyCount>0">
          <span class="align-middle">
            constituency select
          </span>
          <span class="linkCloud" [ngClass]="{'waiting':fetchingConstituencies, 'success':constituenciesFetched}">
            <span *ngIf="constituenciesFetched && !fetchingConstituencies">updated</span>
          </span>
        </div>
        <div fxFlex="60" *ngIf="editing && constituencyCount>0" class="constituencyList">
          <ng-container *ngFor="let constituency of constituencies">
            <a (click)="onConstituencySelect(constituency)" [innerHtml]="constituency.key | TagDisplay" class="clicker">
            </a>
          </ng-container>
        </div>

        <!-- Groups -->

        <div fxFlex="40" *ngIf="!editing">
          <span class="align-middle">
            groups
          </span>
        </div>

        <div fxFlex="60" *ngIf="!editing">
          <span class="align-middle">
            List groups
          </span>
        </div>

        <div *ngIf="!editing">
          {{ localData.freeVoteProfile.profile }}
        </div>

        <div fxFlex="40">
          <span class="align-middle">
            Break-out groups
          </span>
        </div>
        <div fxFlex="60">
          <span class="align-middle">
            Preferred Room Size
          </span>
        </div>

        <div *ngIf="editing">
          <app-cke-universal name="profile" [(textToEdit)]="localData.freeVoteProfile.profile"></app-cke-universal>
        </div>

        <div fxFlex="40" *ngIf="!editing"></div>
        <div fxFlex="60" *ngIf="!editing">
          <button mat-stroked-button (click)="edit()">
            <mat-icon>edit</mat-icon>
            edit
          </button>
          <button mat-stroked-button (click)="deleteAccount()">
            <mat-icon>delete</mat-icon>
            delete
          </button>
        </div>

        <div fxFlex fxLayout="row wrap" fxLayoutAlign="center" *ngIf="editing">

          <button mat-stroked-button (click)="newCountry()" *ngIf="editing && !editNewCountry && !editNewCity">
            <mat-icon>add_circle_outline</mat-icon>
            new country
          </button>

          <button mat-stroked-button (click)="newCity()" *ngIf="editing && !editNewCountry && !editNewCity">
            <mat-icon>add_circle_outline</mat-icon>
            new city
          </button>

          <button mat-stroked-button (click)="save()" *ngIf="!editNewCountry && !editNewCity">
            <mat-icon>save</mat-icon>
            save
          </button>

          <button mat-stroked-button (click)="saveCountry()" *ngIf="editNewCountry">
            <mat-icon>save</mat-icon>
            save country
          </button>

          <button mat-stroked-button (click)="saveCity()" *ngIf="editNewCity">
            <mat-icon>save</mat-icon>
            save city
          </button>

          <button mat-stroked-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
            cancel
          </button>

          <span class="spinner-grow text-primary ms-3" role="status" *ngIf="saving">
            <span class="visually-hidden">Loading...</span>
          </span>

        </div>

        <div fxFlex="100" [ngClass]="{'alert':error, 'alert-danger':error, 'success':success}">
          <div fxLayoutAlign="center" *ngIf="!!updateMessage" class="mt-2 primary">
            {{ updateMessage }}
          </div>
        </div>

      </div>

    </div>

  </div>

</div>