<div class="tabContainer">
  <div class="tabContent scroller">
    <div class="profile">
      <h1>
        {{ localData.freeVoteProfile.givenName }}
        {{ localData.freeVoteProfile.familyName }}
      </h1>

      <!-- Edit Profile Picture to use -->
      <div *ngIf="editing" class="flexRow buttons">
        <div style="flex: 4">profile picture to use</div>
        <div style="flex: 6">
          <mat-radio-group
            [(ngModel)]="localData.freeVoteProfile.profilePictureOptionID"
            (ngModelChange)="profilePictureOptionUpdate()"
          >
            <div class="flexRow justify-space-between">
              <mat-radio-button name="PPOID" value="1" labelPosition="before">
                social media
              </mat-radio-button>

              <mat-radio-button name="PPOID" value="2" labelPosition="before">
                upload
              </mat-radio-button>

              <mat-radio-button name="PPOID" value="3" labelPosition="before">
                none
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>

      <!-- Upload/Delete Profile Picture -->
      <div
        *ngIf="
          editing && localData.freeVoteProfile.profilePictureOptionID === '2'
        "
        class="flexRow buttons"
      >
        <div style="flex: 4"></div>
        <div style="flex: 6">
          <input
            type="file"
            (change)="profilePictureSelected($event)"
            style="display: none"
            #pictureSelect
          />

          <button mat-stroked-button (click)="deleteProfilePictue()">
            <mat-icon>cancel</mat-icon>
            delete
          </button>

          <button
            mat-stroked-button
            type="button"
            (click)="pictureSelect.click()"
          >
            <mat-icon>add_photo_alternate</mat-icon>
            upload new
          </button>

          <div *ngIf="uploading" class="uploading">
            <span class="spinner-grow text-primary ms-3" role="status">
              <span class="visually-hidden">Loading...</span>
            </span>
            <span> {{ uploadPercentDone }}% </span>
          </div>
        </div>
      </div>

      <!-- Picture -->

      <div
        class="flexRow align-center profilePicture"
        *ngIf="
          localData.freeVoteProfile.profilePictureOptionID === '1' ||
          (localData.freeVoteProfile.profilePictureOptionID === '2' &&
            localData.freeVoteProfile.profilePicture)
        "
      >
        <img
          *ngIf="
            localData.freeVoteProfile.profilePictureOptionID === '1' &&
            auth0Wrapper.auth0Profile?.picture
          "
          [src]="auth0Wrapper.auth0Profile?.picture"
          alt="profile picture"
          class="rounded-circle img-fluid"
        />

        <img
          *ngIf="
            localData.freeVoteProfile.profilePictureOptionID === '2' &&
            localData.freeVoteProfile.profilePicture
          "
          [src]="localData.freeVoteProfile.profilePicture"
          alt="profile picture"
          class="rounded-circle img-fluid"
        />
      </div>

      <hr />

      <!-- First Name -->
      <div class="flexRow mb-2">
        <div style="flex: 4">
          <span class="align-middle"> first name </span>
        </div>
        <div style="flex: 6">
          <span *ngIf="!editing" class="align-middle">
            {{ localData.freeVoteProfile.givenName }}
          </span>
          <input
            type="text"
            class="form-control"
            *ngIf="editing"
            [(ngModel)]="localData.freeVoteProfile.givenName"
          />
        </div>
      </div>

      <!-- Last Name -->
      <div class="flexRow mb-2">
        <div style="flex: 4">
          <span class="align-middle"> last name </span>
        </div>
        <div style="flex: 6">
          <span *ngIf="!editing" class="align-middle">
            {{ localData.freeVoteProfile.familyName }}
          </span>
          <input
            type="text"
            class="form-control"
            *ngIf="editing"
            [(ngModel)]="localData.freeVoteProfile.familyName"
          />
        </div>
      </div>

      <!-- Alias -->
      <div class="flexRow mb-2">
        <div style="flex: 4">
          <span class="align-middle"> alias </span>
        </div>
        <div style="flex: 6">
          <span *ngIf="!editing" class="align-middle">
            {{ localData.freeVoteProfile.alias }}
          </span>
          <input
            type="text"
            class="form-control"
            *ngIf="editing"
            [(ngModel)]="localData.freeVoteProfile.alias"
          />
        </div>
      </div>

      <!-- Postcode -->
      <div *ngIf="editing" class="flexRow">
        <div style="flex: 4">
          <span class="align-middle"> post code </span>
        </div>
        <div style="flex: 6" class="flexRow">
          <input type="text" class="form-control" [(ngModel)]="postcode" />
          <button mat-stroked-button (click)="lookupPostCode()">
            <mat-icon>search</mat-icon>
            lookup
          </button>
        </div>
      </div>

      <!-- Country -->
      <div class="flexRow">
        <div style="flex: 4">
          <span class="align-middle"> home country </span>
        </div>

        <div style="flex: 6">
          <span class="align-middle" *ngIf="true || !editing">
            {{ localData.freeVoteProfile.country }}
          </span>
        </div>
      </div>

      <!-- City -->
      <div class="flexRow">
        <div style="flex: 4">
          <span class="align-middle"> home city </span>
        </div>

        <div style="flex: 6">
          <span *ngIf="true || !editing" class="align-middle">
            {{ localData.freeVoteProfile.city }}
          </span>
        </div>
      </div>

      <!-- Constituency -->
      <div *ngIf="!!localData.freeVoteProfile.constituency" class="flexRow">
        <div style="flex: 4">
          <span class="align-middle"> constituency </span>
        </div>
        <div style="flex: 6">
          <span class="align-middle">
            <a [routerLink]="constituencyLink">{{
              localData.freeVoteProfile.constituency
            }}</a>
          </span>
        </div>
      </div>

      <!-- Council -->
      <div *ngIf="!!localData.freeVoteProfile.council" class="flexRow">
        <div style="flex: 4">
          <span class="align-middle"> council </span>
        </div>
        <div style="flex: 6">
          <span class="align-middle">
            {{ localData.freeVoteProfile.council }}
          </span>
        </div>
      </div>

      <!-- Council Ward -->
      <div *ngIf="!!localData.freeVoteProfile.ward" class="flexRow">
        <div style="flex: 4">
          <span class="align-middle"> council ward </span>
        </div>
        <div style="flex: 6">
          <span class="align-middle">
            {{ localData.freeVoteProfile.ward }}
          </span>
        </div>
      </div>

      <!-- Start Edit Commands -->
      <div *ngIf="!editing" class="flexRow">
        <div style="flex: 4"></div>
        <div style="flex: 6">
          <button mat-stroked-button (click)="edit()">
            <mat-icon>edit</mat-icon>
            edit
          </button>
          <button mat-stroked-button (click)="deleteAccount()">
            <mat-icon>delete</mat-icon>
            delete
          </button>
        </div>
      </div>

      <!-- Complete Edit Commands -->
      <div class="flexRow" *ngIf="editing">
        <div style="flex: 4"></div>
        <div style="flex: 6">
          <button mat-stroked-button (click)="save()">
            <mat-icon>save</mat-icon>
            save
          </button>

          <button mat-stroked-button (click)="cancel()">
            <mat-icon>cancel</mat-icon>
            cancel
          </button>

          <span
            class="spinner-grow text-primary ms-3"
            role="status"
            *ngIf="saving || lookingUpPostcode"
          >
            <span class="visually-hidden">Loading...</span>
          </span>
        </div>
      </div>

      <!-- Update message -->
      <div
        class="flexRow"
        [ngClass]="{ alert: error, 'alert-danger': error, success: success }"
      >
        <div style="flex: 4"></div>
        <div style="flex: 6">
          <div *ngIf="!!updateMessage">{{ updateMessage }}</div>
        </div>
      </div>

      <!-- To do -->
      <div hidden="true">
        <div fxFlex="40">
          <span class="align-middle"> alias </span>
        </div>

        <div fxFlex="60">
          <span class="align-middle" *ngIf="!editing">
            {{ localData.freeVoteProfile.alias }}
          </span>
          <mat-form-field *ngIf="editing" class="mff">
            <input
              matInput
              placeholder="your alias or ID"
              [(ngModel)]="localData.freeVoteProfile.alias"
              name="by"
              required
              #tvAlias="ngModel"
              type="text"
            />
          </mat-form-field>
        </div>

        <!-- Groups -->

        <div fxFlex="40" *ngIf="!editing">
          <span class="align-middle"> groups </span>
        </div>

        <div fxFlex="60" *ngIf="!editing">
          <span class="align-middle"> List groups </span>
        </div>

        <div *ngIf="!editing">
          {{ localData.freeVoteProfile.profile }}
        </div>

        <div fxFlex="40">
          <span class="align-middle"> Break-out groups </span>
        </div>
        <div fxFlex="60">
          <span class="align-middle"> Preferred Room Size </span>
        </div>

        <div *ngIf="editing">
          <app-cke-universal
            ID="profile"
            name="profile"
            [(textToEdit)]="localData.freeVoteProfile.profile"
          ></app-cke-universal>
        </div>
      </div>
    </div>
  </div>
</div>
