<div class="tabContainer">
  <div class="tabContent scroller">
    <div class="search">
      <h1>Constituency search</h1>

      <div class="flexRow justify-start">
        <input
          #trvConstituencySearch
          class="form-control"
          type="text"
          placeholder="constituency name"
          [(ngModel)]="constituencySearch"
          (keyup.enter)="ConstituencySearch()"
        />
        <button mat-stroked-button (click)="ConstituencySearch()">
          <mat-icon>search</mat-icon>
          lookup
        </button>
        <button mat-stroked-button (click)="clearSearch()">
          <mat-icon>cancel</mat-icon>
          clear
        </button>
      </div>

      <div class="flexRow justify-start">
        <input
          #trvPostcodeSearch
          class="form-control"
          type="text"
          placeholder="post code"
          [(ngModel)]="postcodeSearch"
          (keyup.enter)="PostcodeSearch()"
        />
        <button mat-stroked-button (click)="PostcodeSearch()">
          <mat-icon>search</mat-icon>
          lookup
        </button>
        <button mat-stroked-button (click)="clearSearch()">
          <mat-icon>cancel</mat-icon>
          clear
        </button>
      </div>

      <div class="flexRow justify-start">
        <input
          #trvCandidateSearch
          class="form-control"
          type="text"
          placeholder="candidate name"
          [(ngModel)]="candidateSearch"
          (keyup.enter)="CandidateSearch()"
        />
        <button mat-stroked-button (click)="CandidateSearch()">
          <mat-icon>search</mat-icon>
          lookup
        </button>
        <button mat-stroked-button (click)="clearSearch()">
          <mat-icon>cancel</mat-icon>
          clear
        </button>
      </div>

      <p *ngIf="!!error" class="alert alert-danger">
        {{ error }}
      </p>

      <div class="spinner-grow text-primary" role="status" *ngIf="searching">
        <div class="visually-hidden">Loading...</div>
      </div>

      <p *ngFor="let constituency of localData.constituencies">
        <a [routerLink]="constituencyLink(constituency.key)">{{
          constituency.key
        }}</a>
      </p>

      <div *ngFor="let candidate of localData.candidateSearchResults">
        <p>{{ candidate.name }}, {{ candidate.party }}</p>
        <p class="aml-2">
          <a
            [routerLink]="
              constituencyDateLink(
                candidate.constituency,
                candidate.lastElectionDate,
                candidate.name
              )
            "
            >{{ candidate.constituency }}, {{ candidate.lastElectionDate }}</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
