.subGroupEdit {
    background-color: whitesmoke;
    padding: 20px, 10px;
}

mat-form-field.name {
    width: 100%;
}

mat-form-field+mat-form-field {
    margin-left: 10px;
}

.name input {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

mat-radio-button {
    margin-right: 10px;
}

button+button {
    margin-left: 10px;
}

.hide {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.show {
    max-height: 80px;
    /* When datepicker filters wrap on mobile */
    overflow: hidden;
    opacity: 1;
}

.show,
.hide {
    transition: max-height .6s ease-out,
        opacity .6s ease-out;
}