<div class="GroupEdit px-3">

    <hr>

    <!-- Group Name -->
    <div class="mt-3" fxLayout="row" fxLayoutAlign="start center">

        <mat-form-field class="name">
            <input matInput placeholder="group name" [(ngModel)]="group.groupName" type="text"
                (keyup.enter)="update()" name="groupName" #groupName>
        </mat-form-field>

        <span fxFlex class="mx-2"></span>

        <div *ngIf="saving" fxLayoutAlign="center">
            <span class="spinner-grow text-primary mr-3" role="status">
                <span class="sr-only">Loading...</span>
            </span>
        </div>

        <button mat-stroked-button (click)="cancel()">cancel</button>
        <button mat-stroked-button (click)="update()">save</button>

    </div>

    <div>
        <mat-checkbox labelPosition="before" [(ngModel)]="group.open">
            open to everyone
        </mat-checkbox>
    </div>

    <h3>decision basis</h3>
    <div fxLayoutA="row">
        <mat-radio-group [(ngModel)]="group.decisionBasisOptionID" (ngModelChange)="superMajorityCheck()">
            <mat-radio-button name="decisionBasis" value="1" labelPosition="before">
                Simple Majority
            </mat-radio-button>
            <mat-radio-button name="decisionBasis" value="2" labelPosition="before">
                Super Majority
            </mat-radio-button>
            <mat-radio-button name="decisionBasis" value="3" labelPosition="before">
                Unanimous
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div [ngClass]="{show:group.decisionBasisOptionID==='2', hide:group.decisionBasisOptionID!=='2'}">
        <mat-form-field>
            <mat-label>Super Majority</mat-label>
            <input matInput [(ngModel)]="group.superMajority" (blur)="superMajorityCheck()">
        </mat-form-field>
    </div>

    <h3>discussion interval</h3>
    <div fxLayoutA="row">
        <mat-radio-group [(ngModel)]="group.meetingIntervalID">
            <mat-radio-button name="meetInterval" value="1" labelPosition="before">
                Every Week
            </mat-radio-button>
            <mat-radio-button name="meetInterval" value="4" labelPosition="before">
                Week of Month
            </mat-radio-button>
            <mat-radio-button name="meetInterval" value="2" labelPosition="before">
                Monthly Date
            </mat-radio-button>
            <mat-radio-button name="meetInterval" value="3" labelPosition="before">
                Variable
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <h3 *ngIf="group.meetingIntervalID !== '3'">discussion start</h3>

    <mat-form-field *ngIf="group.meetingIntervalID==='4'">
        <mat-select name="selectWeekOfMonth" [(ngModel)]="group.selectionWeekOfMonth" placeholder="week of month">
            <mat-option value="1">First</mat-option>
            <mat-option value="2">Second</mat-option>
            <mat-option value="3">Third</mat-option>
            <mat-option value="4">Fourth</mat-option>
            <mat-option value="5">Last</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="group.meetingIntervalID==='1' || group.meetingIntervalID==='4'">
        <mat-select name="selectDayOfWeek" [(ngModel)]="group.selectionDayOfWeek" placeholder="day of week">
            <mat-option value="1">Monday</mat-option>
            <mat-option value="2">Tuesday</mat-option>
            <mat-option value="3">Wednesday</mat-option>
            <mat-option value="4">Thursday</mat-option>
            <mat-option value="5">Friday</mat-option>
            <mat-option value="6">Saturday</mat-option>
            <mat-option value="7">Sunday</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="group.meetingIntervalID==='2'">
        <mat-label>Day of Month</mat-label>
        <input matInput [(ngModel)]="group.selectionDayOfMonth">
    </mat-form-field>

    <mat-form-field *ngIf="group.meetingIntervalID !== '3'">
        <mat-label>start time</mat-label>
        <input matInput [(ngModel)]="group.selectionTimeOfDay">
    </mat-form-field>

    <h3>next discussion</h3>
    <div fxLayout="row wrap">
        <div>
            <app-datepicker [(Date)]="group.nextIssueSelectionDate" [UserPrompt]="'next issue selction date'"
                class="mr-3">
            </app-datepicker>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="next issue selection time" [(ngModel)]="group.nextIssueSelectionTime"
                    type="text" name="nextIssueSelectionTime">
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="error" class="alert alert-danger">
        {{ error }}
    </div>

    <hr>

</div>