<!-- Tags matching hard sound criteria -->
<div>
  <!-- SlashTag Search -->
  <div class="flexRowCenter Search mt-5">
    <div>
      <input
        type="text"
        [(ngModel)]="slashTag"
        (ngModelChange)="slashTagCleanUp($event)"
        (keyup.enter)="newTag()"
        class="form-control"
        #tvSlashTag
        placeholder="/slash tag"
      />
    </div>

    <button mat-stroked-button (click)="newTag()">
      <mat-icon>add</mat-icon>
      create
    </button>

    <button mat-stroked-button aria-label="Clear" (click)="restartSearch()">
      <mat-icon>close</mat-icon>
      clear
    </button>
    <span
      class="spinner-grow text-primary ms-3"
      role="status"
      *ngIf="searching"
    >
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>

  <ng-container *ngFor="let tag of tags">
    <div id="tagContainer" class="linkCloud">
      <a
        [innerHTML]="tag.tagDisplay | TagDisplay"
        [ngStyle]="{
          'font-size': FontSize(tag.tagWeight),
          'padding-right': '10px'
        }"
        (click)="setSlashTag(tag.slashTag)"
      ></a>
    </div>
  </ng-container>

  <div class="fv-error" *ngIf="!!error">
    {{ error }}
  </div>
</div>
