<!-- Tags matching hard sound criteria -->
<div class="Search">
  <!-- SlashTag Search -->

  <div class="center">
    <input
      type="text"
      #tvSlashTag
      [(ngModel)]="slashTag"
      (ngModelChange)="slashTagCleanUp($event)"
      (keyup.enter)="newTag()"
      class="form-control"
      placeholder="/slash tag"
    />
  </div>

  <div class="flexRow center mt-3">
    <button mat-stroked-button (click)="newTag()">
      <mat-icon>add</mat-icon>
      create
    </button>

    <button mat-stroked-button aria-label="Clear" (click)="restartSearch()">
      <mat-icon>close</mat-icon>
      clear
    </button>
    <span
      class="spinner-grow text-primary ms-3"
      role="status"
      *ngIf="searching"
    >
      <span class="visually-hidden">Loading...</span>
    </span>
  </div>
</div>

<div class="linkCloud">
  <ng-container *ngFor="let tag of tags">
    <div id="tagContainer">
      <a
        [innerHTML]="tag.tagDisplay | TagDisplay"
        [ngStyle]="{
          'font-size': FontSize(tag.tagWeight),
          'padding-right': '10px'
        }"
        (click)="setSlashTag(tag.slashTag)"
      ></a>
    </div>
  </ng-container>
</div>

<div class="fv-error" *ngIf="!!error">
  {{ error }}
</div>
