<div [class.main]="MenuType==='main'" [class.burger]="MenuType==='burger'">

    <span *ngIf="error" class="fv-error">
        {{ error }}
    </span>

    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        [class.selected]="tabSelected===''" (click)="tabSelected=''" matTooltip="home">
        <mat-icon>search</mat-icon>
        home
    </button>

    <!-- https://github.com/angular/angular/issues/22588 -->
    <button mat-button [routerLink]="(localData.LoggedInToAuth0$ | async) ? '/trending' : '/trending'"
        [class.selected]="tabSelected==='slashTags'" (click)="tabSelected='slashTags'" matTooltip="slash tags">
        <mat-icon>bookmark_border</mat-icon>
        slash tags
    </button>

    <button mat-button routerLink="/organisations/membership" routerLinkActive="active"
        [class.selected]="tabSelected==='organisations'" (click)="tabSelected='organisations'" matTooltip="groups"
        *ngIf="localData.LoggedInToAuth0$ | async">
        <mat-icon>people</mat-icon>
        groups
    </button>

    <button mat-button routerLink="/voters" routerLinkActive="active" *ngIf="localData.LoggedInToAuth0$ | async"
        [class.selected]="tabSelected==='voters'" (click)="tabSelected='voters'" matTooltip="voters">
        <mat-icon>edit</mat-icon>
        voters
    </button>

    <button mat-button routerLink="/my/profile" routerLinkActive="active" *ngIf="localData.LoggedInToAuth0$ | async"
        [class.selected]="tabSelected==='profile'" (click)="tabSelected='profile'" matTooltip="profile">
        <mat-icon>person</mat-icon>
        profile
    </button>

    <button mat-button (click)="authService.login()" *ngIf="(localData.LoggedInToAuth0$ | async) === false"
        matTooltip="sign in">
        <mat-icon>person</mat-icon>
        sign in
    </button>

    <button mat-button (click)="logout()" *ngIf="localData.LoggedInToAuth0$ | async" matTooltip="sign out">
        <mat-icon>person_outline</mat-icon>
        sign out
    </button>

</div>