<div [class.main]="MenuType==='main'" [class.burger]="MenuType==='burger'">

    <span *ngIf="error" class="fv-error">
        {{ error }}
    </span>

    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        [class.selected]="navSvc.localMenuItemSelected===''" (click)="navSvc.localMenuItemSelected=''"
        matTooltip="home">
        <mat-icon>search</mat-icon>
        home
    </button>

    <!-- https://github.com/angular/angular/issues/22588 -->
    <button mat-button [routerLink]="(localData.LoggedInToAuth0$ | async) ? '/recent' : '/trending'"
        [class.selected]="navSvc.localMenuItemSelected==='slashTags'" (click)="navSvc.localMenuItemSelected='slashTags'"
        matTooltip="slash tags">
        <mat-icon>bookmark_border</mat-icon>
        slash tags
    </button>

    <button mat-button routerLink="/organisations/membership" routerLinkActive="active"
        [class.selected]="navSvc.localMenuItemSelected==='organisations'"
        (click)="navSvc.localMenuItemSelected='organisations'" matTooltip="groups"
        *ngIf="localData.LoggedInToAuth0$ | async">
        <mat-icon>people</mat-icon>
        groups
    </button>

    <button mat-button *ngIf="localData.LoggedInToAuth0$ | async" routerLinkActive="active"
        [class.selected]="navSvc.localMenuSelected" (click)="navSvc.localMenuItemSelected='local'"
        [routerLink]="'local/' + constituencyKebab">
        <mat-icon>mp</mat-icon>
        local
    </button>

    <button mat-button routerLink="/my/profile" routerLinkActive="active" *ngIf="localData.LoggedInToAuth0$ | async"
        [class.selected]="navSvc.localMenuItemSelected==='profile'" (click)="navSvc.localMenuItemSelected='profile'"
        matTooltip="profile">
        <mat-icon>person</mat-icon>
        profile
    </button>

    <button mat-button (click)="authService.login()" *ngIf="(localData.LoggedInToAuth0$ | async) === false"
        matTooltip="sign in">
        <mat-icon>person</mat-icon>
        sign in
    </button>

    <button mat-button (click)="logout()" *ngIf="localData.LoggedInToAuth0$ | async" matTooltip="sign out">
        <mat-icon>person_outline</mat-icon>
        sign out
    </button>

</div>