<div [class.main]="MenuType==='main'" [class.burger]="MenuType==='burger'">

    <span *ngIf="error" class="fv-error">
        {{ error }}
    </span>

    <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        [class.selected]="navSvc.localMenuItemSelected===''" (click)="navSvc.localMenuItemSelected=''"
        matTooltip="home">
        <mat-icon>search</mat-icon>
        home
    </button>

    <!-- https://github.com/angular/angular/issues/22588 -->
    <button mat-button [routerLink]="(localData.LoggedInToAuth0$ | async) ? '/recent' : '/trending'"
        [class.selected]="navSvc.localMenuItemSelected==='slashTags'" (click)="navSvc.localMenuItemSelected='slashTags'"
        matTooltip="slash tags">
        <mat-icon>bookmark_border</mat-icon>
        slash tags
    </button>

    <button mat-button *ngIf="localData.LoggedInToAuth0$ | async" routerLinkActive="active"
        [class.selected]="navSvc.localMenuSelected" (click)="navSvc.localMenuItemSelected='local'"
        [routerLink]="'/local/' + constituencyKebab">
        <mat-icon>mp</mat-icon>
        local
    </button>

    <button mat-button routerLink="/organisations/membership" routerLinkActive="active"
        [class.selected]="navSvc.localMenuItemSelected==='organisations'"
        (click)="navSvc.localMenuItemSelected='organisations'" matTooltip="groups"
        *ngIf="localData.LoggedInToAuth0$ | async">
        <mat-icon>people</mat-icon>
        groups
    </button>

    <!-- Profile/SignOut Menu Trigger -->
    <button mat-button [matMenuTriggerFor]="profileMenu" *ngIf="localData.LoggedInToAuth0$ | async"
        [class.selected]="navSvc.localMenuItemSelected==='profile'" matTooltip="profile menu">

        <img *ngIf="localData.freeVoteProfile.profilePictureOptionID==='1' && localData.auth0Profile && localData.auth0Profile.picture"
            [src]="localData.auth0Profile.picture" class="rounded-circle img-fluid profilePic">

        <img *ngIf="localData.freeVoteProfile.profilePictureOptionID==='2' && localData.freeVoteProfile.profilePicture"
            [src]="localData.freeVoteProfile.profilePicture" class="rounded-circle img-fluid profilePic">

        {{ localData.freeVoteProfile.givenName }}
    </button>

    <!-- Profile/SignOut Menu -->
    <mat-menu #profileMenu="matMenu">

        <button mat-menu-item routerLink="/my/profile" routerLinkActive="active"
            [class.selected]="navSvc.localMenuItemSelected==='profile'" (click)="navSvc.localMenuItemSelected='profile'"
            matTooltip="profile">
            <mat-icon>person</mat-icon>
            profile
        </button>

        <button mat-menu-item (click)="logout()" matTooltip="sign out">
            <mat-icon>person_outline</mat-icon>
            sign out
        </button>

    </mat-menu>

    <!-- Sign In -->
    <button mat-button (click)="authService.login()" *ngIf="(localData.LoggedInToAuth0$ | async) === false"
        matTooltip="sign in">
        <mat-icon>person</mat-icon>
        sign in
    </button>



</div>