
a.selected {
    background-color: #F0E6FF;
}

button+button {
    margin-left: 10px;
}

hr {
    border: solid 1px #32007C;;
}

app-issue{
    margin-top:200px;
}

.hide {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.show {
    max-height: 540px;
    overflow: hidden;
    opacity: 1;
}

.show,
.hide {
    transition: max-height .3s ease-out,
        opacity .3s ease-out;
}
