<!-- With Actual Link -->
<a *ngIf="!!LinkAddress" [href]="LinkAddress" target="_blank">
  <!-- Link preview -->
  <div *ngIf="ShowPreview" class="websiteMeta">
    <div *ngIf="!!Image" class="websiteMetaImage">
      <img [src]="Image" />
    </div>
    <div class="websiteMetaText">
      <div class="linkTitle">
        {{ Title }}
      </div>
      <div class="linkDescription" [innerHTML]="Description"></div>
    </div>
  </div>
</a>

<!-- No link - copy of above without the link -->
<div *ngIf="ShowPreview && !LinkAddress" class="websiteMeta">
  <div *ngIf="!!Image" class="websiteMetaImage">
    <img [src]="Image" alt="" />
  </div>
  <div class="websiteMetaText">
    <div class="linkTitle">
      {{ Title }}
    </div>
    <div class="linkDescription">
      {{ Description }}
    </div>
  </div>
</div>
